/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Modules */
@import url('./components/headerTitle.css');
@import url('./common/iconStuff.css');
@import url('./common/ripple.css');
@import url('./common/scrollbar.css');
@import url('./components/sideNav.css');
@import url('./components/sideNavApp.css');
@import url('./common/mainContent.css');
@import url('./components/menuWrapper.css');
@import url('./common/buttons.css');
@import url('./common/tableStuff.css');
@import url('./common/toggleSwitch.css');
@import url('./common/fontSizes.css');
@import url('./components/extensionImport.css');
@import url('./components/subPage.css');
@import url('./components/messagesContent.css');
@import url('./components/callContent.css');
@import url('./common/audio-player.css');
@import url('./components/dashboard.css');
@import url('./components/loginPage.css');
@import url('./common/misc.css');
@import url('./components/setupGuide.css');
@import url('./components/storeExtension.css');
@import url('./components/orderConfirmation.css');
@import url('./components/profilesPage.css');
@import url('./components/dialPad.css');
@import url('./components/loader.css');
@import url('./components/caller.css');
@import url('./components/master.css');
@import url('./components/billingOverview.css');
@import url('./components/temporaryDashboard.css');
@import url('./components/documentPending.css');
@import url('./components/activeCallsSidePanel.css');
@import url('./common/browserPhoneForm.css');
@import url('./components/contactView.css');
@import url('./components/messageContent.css');
@import url('./components/conference/conferenceCaller.css');
@import url('./components/conference/conferenceSettings.css');
@import url('./components/conference/participantSlider.css');
@import url('./components/clickToCall.css');
@import url('./components/call-style.css');

/* Responsive CSS */
@import url('./common/responsive.css');

/* Themes */
/* @import url('./common/darkTheme.css'); */


:root {
    --bg-color: #fafafa;
    --bgdark-color: #111525;
    /* Dark Mode */
    /* --nav-color: #141718; */
    /* --nav-color: #292a3a; */
    --nav-color: #161b2e;
    --button-dark: #2d3864;
    --div-color: #161c31;
    --caller-color: #0a0d16;
    --color1: #360568;
    --color2: #3e8ef7;
    --color2-trans: #49c2ff30;
    /* Accent Color */
    --ui-accent: #3e8ef7;
    /* --ui-icon: #00a6fb; */
    --ui-icon: #fff;
    --ui-accent-green: #a5d02a;
    --ui-accent-green-trans: #b7e92b30;
    --color3: #f17d01;
    --color3-trans: #ffc46e30;
    /* Highlight, Notification & Alert Color */
    --color-text: #fff;
    /* Contrast Text Color */
    --border-color: #ddd;

    /* Light Mode */
    --color4: #abababa6;
    /* UI Items Color */
    --color-subtext: #767676;
    /* Contrast Subtext Color */
    --sideNav-width: 250px;
    --sideNavApp-width: 210px;
    --active-calls-sidePanel-width: 250px;
    --ele-color: #fff;
    --form-label: #2a2a2a;
    --form-input-text: #555;
    --formHeadingBloc: #fafafa;
    --table-head: #f4f7f9;
    --table-text: #5f5f5f;
    --accordion-active: #a2e1ff3d;
    --searchBg: #f5f5f5;
    --webBG: #fafafa;
    --webUtilGray: #858585;
    --immortalBlack: #000;
    --webCaller: #fff;
}

:root.dark {
    --nav-color: #171717;
    /* --ui-accent: #141718; */
    /* --bg-color: #212121; */
    --bg-color: #1d1e22;
    /* --ele-color: #141718; */
    --ele-color: #303138;
    --bgdark-color: #fff;
    --color-subtext: #bbb;
    /* --color2: #4bc0ff; */
    --form-label: #fff;
    --form-input-text: #fff;
    --bs-dark-rgb: #fff;
    --formHeadingBloc: #3c3e46;
    --table-head: #1d1e22;
    --border-color: #abababa6;
    --table-text: rgb(175, 175, 175);
    --accordion-active: #3c3e46;
    --searchBg: #383838;
    --webBG: var(--bg-color);
    --webCaller: var(--nav-color);

    --webUtilGray: rgb(175, 175, 175);
    --immortalBlack: rgb(241, 241, 241)
}

html {
    height: 100vh;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}

body {
    font-family: Roboto;
    background-color: var(--bg-color);
    height: 100vh;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}

body.dark {
    color: rgb(175, 175, 175);
}

ul {
    padding-left: 0;
    margin-bottom: 0;
}

/* pls help */