/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


/* CSS Modules */
@import url('./components/headerTitle.css');
@import url('./common/iconStuff.css');
@import url('./common/ripple.css');
@import url('./common/scrollbar.css');
@import url('./components/sideNav.css');
@import url('./components/sideNavApp.css');
@import url('./common/mainContent.css');
@import url('./components/menuWrapper.css');
@import url('./common/buttons.css');
@import url('./common/tableStuff.css');
@import url('./common/toggleSwitch.css');
@import url('./common/fontSizes.css');
@import url('./components/extensionImport.css');
@import url('./components/subPage.css');
@import url('./components/messagesContent.css');
@import url('./components/callContent.css');
@import url('./common/audio-player.css');
@import url('./components/dashboard.css');
@import url('./components/loginPage.css');
@import url('./common/misc.css');
@import url('./components/setupGuide.css');
@import url('./components/storeExtension.css');
@import url('./components/orderConfirmation.css');
@import url('./components/profilesPage.css');
@import url('./components/dialPad.css');
@import url('./components/loader.css');
@import url('./components/caller.css');
@import url('./components/master.css');
@import url('./components/billingOverview.css');
@import url('./components/temporaryDashboard.css');
@import url('./components/documentPending.css');
@import url('./components/activeCallsSidePanel.css');
@import url('./common/browserPhoneForm.css');
@import url('./components/contactView.css');
@import url('./components/messageContent.css');
@import url('./components/conference/conferenceCaller.css');
@import url('./components/conference/conferenceSettings.css');
@import url('./components/conference/participantSlider.css');
@import url('./components/clickToCall.css');
@import url('./components/dialer/dialerDashboard.css');
@import url('./components/dialer/campaign.css');
@import url('./components/conferenceLoader.css');
@import url('./components/addon.css');
@import url('./components/store-extension.css');
@import url('./components/twakto-new.css');
@import url('./components/digitalClock.css');
/* Responsive CSS */
@import url('./common/responsive.css');

/* Themes */
/* @import url('./common/darkTheme.css'); */


:root {
  --bg-color: #f3f3f3;
  --bgdark-color: #111525;
  /* Dark Mode */
  /* --nav-color: #141718; */
  /* --nav-color: #292a3a; */
  --nav-color: #161b2e;
  --button-dark: #2d3864;
  --div-color: #161c31;
  --caller-color: #0a0d16;
  --color1: #360568;
  /* --color2: #3e8ef7; */
  --color2: #3066BE;
  --color2-trans: #3066BE30;
  /* Accent Color */
  /* --ui-accent: #3e8ef7; */
  --ui-accent: #3066BE;
  /* --ui-icon: #00a6fb; */
  --ui-icon: #fff;
  /* --ui-accent-green: #a5d02a;
  --ui-accent-green-trans: #b7e92b30;
  --color3: #f17d01;
  --color3-trans: #ffc46e30; */
  --ui-accent-green: #62A8AC;
  --ui-accent-green-trans: #62A8AC30;
  --color3: #FF8C42;
  --color3-trans: #FF8C4230;
  /* Highlight, Notification & Alert Color */
  --color-text: #fff;
  /* Contrast Text Color */
  --border-color: #ddd;

  /* Light Mode */
  --color4: #abababa6;
  /* UI Items Color */
  /* --color-subtext: #767676; */
  --color-subtext: #606060;
  /* Contrast Subtext Color */
  --sideNav-width: 250px;
  --sideNavApp-width: 210px;
  --active-calls-sidePanel-width: 250px;
  --ele-color: #fff;
  --ele-color2: var(--ele-color2);
  --form-label: #2a2a2a;
  --form-input-text: #2a2a2a;
  --formHeadingBloc: #fafafa;
  --table-head: #f4f7f9;
  /* --table-text: #5f5f5f; */
  --table-text: #303030;
  --accordion-active: #a2e1ff3d;
  --searchBg: #f5f5f5;
  --webBG: #fafafa;
  --webUtilGray: #858585;
  --immortalBlack: #000;
  --webCaller: #fff;
  --chart-tab-bg: #eee6ff;
  /* =====  new */
  --chat-bg-user-active: #f1f2f6;
  --chat-bg-message-receive: #fdfffc;
  --chat-bg-message-sent: #d9ffd5;
  --chat-bg-icon: #efefef;
  --chat-icon: #575353;
  --chat-bg-side-icon: #e0eaf5;
  --chat-bg-footer: #f1f2f6;
  --chat-bg-button: #e9ecf5;
  --chat-border: #e9e7e7;
  --chat-body: #f0ebe5;
  --chat-body-left: #f1f2f6;
  --chat-input-bg: #ffffff;
  --chat-user-list: #ffffff;
  --chat-header: #f1f2f6;
}

:root.dark {
  --nav-color: #171717;
  /* --ui-accent: #141718; */
  /* --bg-color: #212121; */
  --bg-color: #1d1e22;
  /* --ele-color: #141718; */
  --ele-color: #303138;
  --ele-color2: #404146;
  --bgdark-color: #fff;
  --color-subtext: #bbb;
  /* --color2: #4bc0ff; */
  --form-label: #f1f1f1;
  --form-input-text: #f1f1f1;
  --bs-dark-rgb: #fff;
  --formHeadingBloc: #3c3e46;
  --table-head: #1d1e22;
  --border-color: #abababa6;
  --table-text: rgb(220, 220, 220);
  --accordion-active: #3c3e46;
  --searchBg: #383838;
  --webBG: var(--bg-color);
  --webCaller: var(--nav-color);
  --chart-tab-bg: var(--formHeadingBloc);

  --webUtilGray: rgb(175, 175, 175);
  --immortalBlack: rgb(241, 241, 241);
  /* =====  new */
  --chat-bg-user-active: #2b3942;
  --chat-bg-message-receive: #1f2c34;
  --chat-bg-message-sent: #006049;
  --chat-bg-icon: #454855;
  --chat-icon: #b5b5b5;
  --chat-bg-side-icon: #2b3a44;
  --chat-bg-footer: #202b34;
  --chat-bg-button: #1e2e39;
  --chat-border: #484a59;
  --chat-body: #0c131b;
  --chat-body-left: #1f2c34;
  --chat-input-bg: #2d3841;
  --chat-user-list: #111b22;
  --chat-header: #202b34;

  --color3: #FF8C427c;
  --ui-accent: #3e8ef77c;
}

:root.green {
  --bg-color: #fafafa;
  --bgdark-color: #111525;
  /* Dark Mode */
  /* --nav-color: #141718; */
  /* --nav-color: #292a3a; */
  --nav-color: linear-gradient(180deg, rgba(225, 229, 237, 1) 0%, rgba(214, 214, 214, 1) 100%);
  ;
  --button-dark: #2d3864;
  --div-color: #161c31;
  --caller-color: #0a0d16;
  --color1: #360568;
  --color2: #0aa752;
  --color2-trans: #c9fae0;
  /* Accent Color  */
  --ui-accent: #0aa752;
  /* --ui-icon: #00a6fb;  */
  --ui-icon: #ffffff;
  --ui-accent-green: #a5d02a;
  --ui-accent-green-trans: #b7e92b30;
  --color3: #f17d01;
  --color3-trans: #ffc46e30;
  /* Highlight, Notification & Alert Color  */
  --color-text: #fff;
  /* Contrast Text Color  */
  --border-color: #ddd;

  /* Light Mode  */
  --color4: #abababa6;
  /* UI Items Color  */
  --color-subtext: #767676;
  /* Contrast Subtext Color  */
  --sideNav-width: 250px;
  --sideNavApp-width: 210px;
  --active-calls-sidePanel-width: 250px;
  --ele-color: #fff;
  --ele-color2: var(--ele-color2);
  --form-label: #2a2a2a;
  --form-input-text: #2a2a2a;
  --formHeadingBloc: #fafafa;
  --table-head: #f4f7f9;
  /* --table-text: #5f5f5f;  */
  --table-text: #303030;
  --accordion-active: #a2e1ff3d;
  --searchBg: #f5f5f5;
  --webBG: #fafafa;
  --webUtilGray: #858585;
  --immortalBlack: #000;
  --webCaller: #fff;
}

html {
  height: 100vh;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  font-size: 16px;
}

body {
  font-family: Roboto;
  background-color: var(--bg-color);
  height: 100vh;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

body.dark {
  color: rgb(221 221 221);
}

ul {
  padding-left: 0;
  margin-bottom: 0;
}

/* pls help */

.sliders {
  -webkit-appearance: none;
  width: 100%;
  height: 9px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.sliders::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.sliders::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}




.change-btn-colorss {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  background-color: white;
  border-color: #0d6efd;
  font-size: 1.75rem;
  color: #0d6efd;
  transition: background-color 0.4s;

  width: 30px;
  height: 30px;

}

.change-btn-colorss:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0d6efd;
  border-color: #0d6efd;

  font-size: 1.75rem;
  color: #fafafa;
  transition: background-color 0.4s;
  width: 30px;
  height: 30px;
}


.radius-1 {
  border-top-right-radius: 3px;

}

.radius-2 {
  border-top-left-radius: 3px;
}

.radius-3 {
  border-bottom-right-radius: 3px;
}

.radius-4 {
  border-bottom-left-radius: 3px;
}

.add-btnss {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 10px;

}

.count-number {

  font-size: 1.1875rem;
  font-weight: bold;
  /* margin: 0 15px; */
  padding-left: 11px;
  padding-right: 11px;
  border-top: 1px solid #0d6efd;
  border-bottom: 1px solid #0d6efd;
}

.purchase {
  color: #0d6efd;
  font-size: 1.125rem;
  font-weight: 700;

  font-size: 1.1875rem;
  font-weight: bold;
  /* margin: 0 15px; */
  padding-left: 11px;
  padding-right: 11px;
  border-top: 1px solid #0d6efd;
  border-bottom: 1px solid #0d6efd;

}

.formItem:autofill {
  background-color: transparent !important;
  color: var(--form-input-text) !important;
}