/* Style for the audio player container */
    .audio-container {
      max-width: 100%;
      margin: 10px auto;
      /* padding: 20px; */
      border: 1px solid #ccc;
      border-radius: 8px;
      background-color: #f7f7f7;
      display: flex;
    }

    /* Style for the audio player itself */
    audio {
      width: 100%;
      outline: none;
    }

    .audioCustomButton{
        border: 0;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #000;
        font-size: 14px;
        position: relative;
        left: -10px;
        margin: auto;
        width: 33px;
        height: 33px;
        border-radius: 50px;
        transition: 0.3s ease-in-out;
    }
    .audioCustomButton:hover{
        background-color: #89898930;

    }