.clearButton {
  background: none;
  border: 0;
  /* background-color: var(--color1); */
  color: var(--ui-accent);
  text-decoration: none;
}

.clearButton2 {
  background: none;
  border: 0;
  /* background-color: var(--color1); */
  color: var(--webUtilGray);
  text-decoration: none;
  font-size: 17px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease-in-out;
  padding: 0;
}

.clearButton2.white {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  width: 50px;
  height: 50px;
}

.clearButton2:hover {
  background-color: #e7e7e7;
  color: #000 !important;
  border-color: transparent;
}


.inputcheckbox input {

  height: 18px;
  width: 18px;
}

.xl {
  width: 40px;
  height: 40px;
  font-size: 19px;
}

.clearButton2:disabled {
  color: #4a4a4a !important;
  background: none !important;
}

.clearButton2.danger {
  color: red
}

.panelButtonOLD {
  /* border: 2px solid var(--ui-accent);
    color: var(--ui-accent);
    background: none; */
  --ripple-background: var(--ui-accent);
  /* --ripple-opacity: 0.1;
    --ripple-duration: 900ms; */

  /* background-color: #0e111e; */
  /* border: 1px solid #868686; */
  border: none;
  /* color: #fff; */
  padding: 5px 5px;
  margin: 5px 5px;
  border-radius: 3px;
  background: var(--button-dark);
  font-size: 13px !important;
  font-weight: 500 !important;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px;
  text-decoration: none;
  color: #fff;
}

.panelButton {
  width: 100px;
  height: 35px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  /* background: var(--nav-color); */
  background: var(--ui-accent);
  padding: 0;
  text-decoration: none;
  margin-left: 10px;
  position: relative;
}

.panelButton.delete {
  background: red;
}

.panelButton.gray {
  background-color: #6c757d;
}

.panelButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.panelButton:disabled .icon i {
  transform: none !important;
}

.panelButton,
.panelButton span {
  transition: 200ms;
}

.panelButton .text {
  transform: translateX(10px);
  color: white;
  font-weight: 500;
  font-size: 14px;
}

.panelButton .icon {
  position: absolute;
  border-left: 1px solid #ffffff75;
  transform: translateX(65px);
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 16px;
}

.panelButton:hover {
  /* background: linear-gradient(195deg, #ff3636, #c90000); */
  background: #474747;
}

.panelButton:hover .text {
  color: transparent;
}

.panelButton:hover .icon {
  width: 100%;
  border-left: none;
  transform: translateX(0);
}

.panelButton:focus {
  outline: none;
}

.panelButton:active .icon i {
  transform: scale(0.8);
}

.panelButton.static {
  display: block;
  width: 100%;
  margin: 0;
}

.panelButton.static:hover .text {
  color: #fff
}

.toggleButton {
  border: none;
  padding: 0px 16px;
  height: 37px;
  border-radius: 5px;
  font-size: 14px !important;
  font-weight: 500 !important;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px;
  text-decoration: none;
  color: #000;
  background-color: #fff;
  transition: 0.2s;
}

.toggleButton:active {
  background: #474747;
  color: #fff;
}

.panelButtonWhite {
  border: 1px solid #868686;
  padding: 5px 10px;
  /* margin: 5px 5px; */
  border-radius: 3px;
  background-color: #fff;
  font-size: 13px;
  font-weight: 500;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px;
  text-decoration: none;
  color: #000;
  text-align: center;
}

.formButton {
  background-color: #0e111e;
  color: #fff;
  border-radius: 3px;
  border: none;
  padding: 7px 13px;
  margin: 0 5px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.getApp {
  background: var(--nav-color);
  border: none;
  color: #fff;
  padding: 0 15px;
  height: 36px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px;
  text-decoration: none;
}

.clearColorButton {
  color: #fff;
  text-decoration: none;
  background-color: var(--color2);
  /* background-color: #abe4ff46; */
  font-size: 16px;
  font-weight: 400;
  /* border: 1px solid #fff; */
  border-radius: 50px;
  display: block;
  width: 100%;
  padding: 6px 20px;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  /* box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06); */
  border: none;
  cursor: pointer;
}

.clearColorButton i {
  font-weight: 900;
}

.clearColorButton:hover {
  background-color: var(--ui-accent);
  /* color: var(--color2);
    border: 1px solid var(--color2);
    box-shadow: none; */
}

.clearColorButton.dark {
  background-color: var(--ui-accent);
  padding: 7px 14px;
  font-size: 14px;
  font-weight: 500;
}

.clearColorButton.dark i {
  margin-left: 5px;
}

.clearColorButton:hover i {
  font-weight: 900;
}

.clearColorButton.activation {
  border: 1px solid var(--ui-accent);
  color: var(--ui-accent);
  background-color: #439fdd33;
}

.clearColorButton.setup {
  border: 1px solid var(--color3);
  color: var(--color3);
  background-color: #f191012d;
}

.clearColorButton i {
  margin-right: 5px;
}

.tabButton {
  border: none;
  background-color: var(--ele-color);
  border-radius: 50px;
  /* border: 1px solid #c9c9c970; */
  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 1px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
  color: var(--immortalBlack);
  font-weight: 500;
  width: 100%;
  padding: 5px 20px;
  text-decoration: none;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.tabButton.active {
  background-color: var(--ui-accent);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 1px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  color: #fff;
  /* border: 1px solid #ffffff00; */
}

/* .tabButtonParent:first-child .tabButton {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.tabButtonParent:last-child .tabButton {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
} */

.addToCart {
  background-color: rgba(0, 159, 255, 1);
  border: none;
  padding: 0px 0px;
  color: #fff;
  font-size: 13px;
  border-radius: 5px !important;
  overflow: hidden;
  display: flex;
  text-decoration: none;
}

.addToCart .cart {
  background-color: rgba(0, 159, 255, 1);
  padding: 5px 20px;
  width: 100%;
  height: 100%;
}

.addToCart .cart2 {
  background-color: rgba(0, 95, 153, 1);
  padding: 5px 20px;
  width: 100%;
  height: 100%;
}

.cartButton {
  background-color: #2bad8d;
  border: none;
  padding: 5px 25px;
  color: #fff;
  font-size: 14px;
  border-radius: 5px !important;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoutBtn {
  background-color: #ff0000;
  padding: 5px 10px;
  color: #fff !important;
  border-radius: 5px;
  text-decoration: none;
  font-size: 14px;
  width: 100%;
  margin-top: 7px;
  text-align: center;
  font-weight: 500 !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.otherButton {
  background-color: #0099ff;
  padding: 5px 10px;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  font-size: 14px;
}

.callButton {
  background-color: #1ac444;
  border: none;
  color: #fff;
  font-size: 22px;
  width: 45px;
  height: 45px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}

.callButton.hangup {
  background-color: #c41a1a;
}

.appPanelButton {
  background-color: #0e111e;
  border: none;
  color: #fff;
  width: 35px;
  height: 35px;
  margin: 0 3px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.appPanelButton:hover {
  background-color: #00000066;
  box-shadow: none;
}

.appPanelButton:hover i {
  color: #fff;
  font-weight: 900;
}

.appPanelButton2 {
  background-color: #0e111e;
  border: none;
  color: #fff;
  padding: 5px 10px;
  margin: 0 3px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.appPanelButtonColor {
  background-color: var(--ui-accent);
  border: none;
  color: #fff;
  width: 35px;
  height: 35px;
  margin: 0 3px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.appPanelButtonCaller {
  background-color: #171922;
  border: none;
  color: #fff;
  width: 35px;
  height: 35px;
  margin: 0 3px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.appPanelButtonCaller.active,
.appPanelButtonCallerRect.active {
  background-color: #a53e3f;
}

.appPanelButtonCaller.active i,
.appPanelButtonCallerRect.active i {
  font-weight: 900;
}

.appPanelButtonCallerRect {
  background-color: #3a3c4a;
  border: none;
  color: #fff;
  /* width: 35px; */
  /* height: 35px; */
  margin-right: 10px;
  min-width: 45px;
  height: 45px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
  position: relative;
}

.appPanelButtonCallerRect:hover {
  background-color: #000 !important;
}

.appPanelButtonCallerRect.notif::after{
  content: '';
  position: absolute;
  top: 3px;
  right:3px;
  background-color: #e40002;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

.appPanelButtonColor2 {
  background-color: transparent;
  border: none;
  color: var(--ui-accent);
  width: 35px;
  height: 35px;
  font-size: 18px;
  margin: 0 3px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tableLabel {
  color: #fff;
  padding: 3px 5px;
  border-radius: 5px;
  min-width: 70px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.tableLabel:hover {
  background-color: #252525 !important;
  box-shadow: none;
}

.tableLabel.success {
  background-color: #008b23;
}

.tableLabel.fail {
  background-color: #ff4343;
}

.tableLabel.pending {
  background-color: orange;
}

.payNow {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00892f;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  gap: 8px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
}

.payNow::before {
  width: 100%;
  height: 130px;
  position: absolute;
  content: "";
  background-color: #7eecf4;
  border-radius: 50%;
  left: -100%;
  top: 0;
  transition-duration: 0.3s;
  mix-blend-mode: hard-light;
}

.payNow:hover::before {
  transition-duration: 0.3s;
  transform: translate(100%, -50%);
  border-radius: 0;
}

.payNow:active {
  transform: translate(5px, 5px);
  transition-duration: 0.3s;
}

.whiteCircleBtn {
  background-color: #ffffff;
  border: none;
  color: #0a0d16;
  font-size: 15px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}

.approvalButton {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00892f;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
}

.approvalButton.disabled {
  background-color: #3f3f3f;
  opacity: 0.7;
  cursor: not-allowed;
}

.approvalButton::before {
  width: 100%;
  height: 130px;
  position: absolute;
  content: "";
  background-color: #7eecf4;
  border-radius: 50%;
  left: -100%;
  top: 0;
  transition-duration: 0.3s;
  mix-blend-mode: hard-light;
}

.approvalButton:hover::before {
  transition-duration: 0.3s;
  transform: translate(100%, -50%);
  border-radius: 0;
}

.approvalButton.disabled::before {
  content: none;
}

.approvalButton:active {
  transform: translate(5px, 5px);
  transition-duration: 0.3s;
}

.tableButton {
  border: none;
  border-radius: 50%;
  background-color: var(--ui-accent);
  color: #fff;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.tableButton:hover {
  background-color: var(--bg-color);
  box-shadow: none;
}

.tableButton:hover i {
  color: var(--ui-accent) !important;
}

.tableButton i {
  font-size: 14px;
  color: #fff !important;
}

.tableButton.delete {
  background-color: #ff4444;
}

.tableButton.edit {
  background-color: #00ab2b;
}

.tableButton.warning {
  background-color: #ffa500;
}

.tableButton.empty {
  background-color: transparent;
  border: 1px solid var(--ui-accent);
}

.tableButton.empty i {
  color: var(--ui-accent) !important;
}

.tableButton.delete:hover,
.tableButton.edit:hover,
.tableButton.warning:hover {
  background-color: #ff00000d;
}

.tableButton.delete:hover i {
  color: #ff4444 !important;
}

.tableButton.edit:hover i {
  color: #00ab2b !important;
}

.tableButton.warning:hover i {
  color: #ffa500 !important;
}

.tableButton.nottif::after {
  content: '\f071';
  font-family: 'FontAwesome';
  font-size: 10px;
  color: #ffffff;
  position: absolute;
  top: -7px;
  background: red;
  border-radius: 50%;
  right: -8px;
  width: 18px;
  height: 18px;
}


.callButton i {
  position: relative;
  z-index: 1;
}

.callButton .circle1,
.callButton .circle2 {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: #1ac444;
  position: absolute;
  z-index: 0;
  animation: scaling 2s cubic-bezier(0.12, 0.7, 0.74, 0.71) infinite;
}

@keyframes scaling {
  0% {
    transform: scale(0);
    background-color: #1ac444;
  }

  100% {
    transform: scale(2);
    background-color: rgba(245, 0, 182, 0);
  }
}

.videoConferenceButton {
  background-color: transparent;
  border: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: 0.2s ease-in-out;
}

.videoConferenceButton:hover {
  background-color: #e7e7e7;
  color: #000;
}

.addmusic {
  text-align: center;
  background-color: var(--accordion-active);
  color: var(--ui-accent);
  font-weight: 500;
}

.addButtonGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--ui-accent);
  border-radius: 5px;
  overflow: hidden;
  width: max-content;
}

.addButtonGroup button {
  background-color: var(--ui-accent);
  width: 40px;
  height: 40px;
  border: none;
  font-size: 18px;
  color: #fff;
  transition: 0.2s ease-in;
}

.addButtonGroup button:hover {
  background-color: #474747;
}

.addButtonGroup .number {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}