h3 {
    color: var(--immortalBlack);
}

h4 {
    font-size: 1.25rem !important;
    color: var(--immortalBlack);
    margin-bottom: 0;
}

h5 {
    font-size: 1rem;
    color: var(--immortalBlack);
}

.gray14 {
    font-size: 0.875rem;
    color: var(--color-subText);
}

.basicContent {
    margin: 20px 0;
}