.mainContent {
    margin-left: var(--sideNav-width);
    padding-left: 0px;
}

.mainContentApp {
    margin-left: var(--sideNavApp-width);
    margin-right: var(--active-calls-sidePanel-width);
    padding-left: 0px;
    background-color: var(--webBG);
}