.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px);
    z-index: 9999;
    background-color: #0000004b;
}

.popup .content {
    background-color: var(--ele-color);
    padding: 20px 10px;
    justify-content: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.popup .content .iconWrapper {
    display: flex;
    justify-content: center;
}

.popup .content .iconWrapper i {
    font-size: 2.1875rem;
    color: rgb(255, 102, 0);
}

.extensionStatusWithName {
    margin: auto 0;
}

.extensionStatusWithName .extensionStatus {
    margin-right: 5px;
}

.extensionStatus {
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.extensionStatus.online {
    /* background-color: green; */
    background-color: #00d700;
}

.extensionStatus.onCall {
    background-color: #ff9921;
}

.pagination_slider {
    display: flex;
    justify-content: center;
    /* margin: 25px 0px 0px 0px; */
}

.css-1to7aaw-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
    color: #fff;
    background-color: #1976d2;
    padding: 6px;
}

.MuiButtonBase-root.MuiPaginationItem-root {
    min-width: 20px;
    height: 20px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 31px;

    transition: color 100ms cubic-bezier(0.0, 0, 0.0, 1) 0ms, background-color 250ms cubic-bezier(0.0, 0, 0.0, 1) 0ms;
}

.pricing_section .pricing_box {
    padding: 20px;
    border: 1px solid #21212126;
    border-radius: 8px;
    margin: 60px 0px 0px 0px;
    text-align: center;
}

.pricing_section .pricing_box h3 {
    font-family: Roboto;
    color: var(--ui-accent);
    font-weight: 600;
    font-size: 1.4375rem;
    padding: 30px 0px 0px 0px;
}

.pricing_section .pricing_box p {
    font-family: var(--paragraph);
    font-weight: 400;
    font-size: 0.8125rem;
    margin: 0px 0px 8px 0px;
}

.pricing_section .pricing_box h5 {
    font-family: Roboto;
    color: #8d8d8d;
    font-weight: 500;
    font-size: 0.8125rem !important;
    margin: 40px 0px 0px 0px;
}

.pricing_section .pricing_box h5 span {
    font-size: 0.9375rem;
    margin: 0px 0px 0px 6px;
    border-radius: 100px;
    background: #ebe4ff !important;
    color: var(--ui-accent) !important;
}

.pricing_section .pricing_box h2 {
    font-family: Roboto;
    color: var(--ui-accent);
    font-weight: 700;
    font-size: 2.25rem;
    padding: 0px 0px 10px 0px;
}

.pricing_section .pricing_box h2 sub {
    font-size: 1rem;
    color: #212121;
    font-weight: 400;
}

.pricing_section .pricing_box a {
    display: block;
    background: linear-gradient(135deg, #871fff, #7ec9f4);
    padding: 10px 10px;
    color: #fff;
    font-family: Roboto;
    border-radius: 4px;
    margin: 0px 0px 10px 0px;
}

.pricing_section .pricing_box .border_line {
    width: 100%;
    height: 2px;
    background: rgb(103 61 230 / 12%);
    margin: 15px 0px 10px 0px;
}

.pricing_section .pricing_box .feture_list h4 {
    text-align: left;
    font-family: Roboto;
    font-size: 1.125rem !important;
    font-weight: 500;
}

.pricing_section .pricing_box .feture_list ul {
    text-align: left;
    margin: 15px 0px 0px 0px !important;
    list-style: none;
    padding: 0;
}

.pricing_section .pricing_box .feture_list ul li p {
    font-family: var(--paragraph);
    font-weight: 400;
}

.pricing_section .pricing_box .feture_list ul li p i {
    color: #00b090;
}

.pricing_section .pricing_box {
    padding: 10px;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.headerCommon {
    border: none;
    padding: 5px 0;
    font-weight: 500;
    margin-bottom: 10px;
}

.searchList {
    padding: 10px 15px;
    background-color: var(--ele-color);
    border-radius: 10px;
    /* border-left: 1px solid #ddd; */
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.searchList ul {
    list-style: none;
    padding-left: 0;
    padding-top: 5px;
    margin-bottom: 0;
}

.searchList ul li {
    padding: 7px 0;
    border-bottom: 1px solid #ddd;
}


.searchList.cart ul {
    padding-top: 0px;

}

.searchList.cart ul li {
    border: none;
    font-weight: 600;
    font-size: 0.8125rem;
    color: var(--color-subtext);
    font-family: Open Sans;
    padding: 0px 0 3px 0;
}

/* .searchList.cart ul li:last-child {
    border-top: 1px solid var(--border-color);
    padding-top: 3px;
    font-size: 0.875rem;
    color: inherit;
} */

.searchList.checkout ul li {
    border-radius: 10px;
    border: 1px solid var(--border-color);
    margin-bottom: 10px;
    padding: 10px;
    transition: 0.3s;
    position: relative;
}

.searchList.checkout ul li:hover {
    background-color: #e7e7e745;
}

.searchList.checkout input[type="radio"] {
    position: absolute;
    width: 100%;
    opacity: 0;
    left: 0;
    top: 0;
    height: 100%;
    cursor: pointer;
}

.searchList.checkout input[type="radio"]:checked~.checkmark {
    border: 1px solid var(--ui-accent);
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
}

.sidePannel {
    height: calc(100% - 111px);
    position: absolute;
    padding: 10px;
    top: 111px;
    right: 0;
    width: 200px;
    z-index: 0;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.sidePannel .wrapper {
    height: 100%;
    padding: 15px 10px 10px 10px;
    border-radius: 10px;
    border: 1px solid var(--ui-accent);
}

.sidePannel .wrapper ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.sidePannel .wrapper .label li {
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 500;
}

.sidePannel .wrapper ul li {
    font-family: Open Sans;
    font-size: 0.875rem;
    font-weight: 500;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid #cecece;
}

.buttonPopup {
    width: 120px;
    border-radius: 10px;
    background-color: #303030;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: absolute;
    right: 10px;
    bottom: -45px;
    z-index: 9;
}

.buttonPopup .clearButton {
    color: #fff;
}

.buttonPopup .clearButton:hover {
    color: var(--ui-accent);
}

.buttonPopup .clearButton a {
    text-decoration: none;
    color: #fff;
}

.buttonPopup .clearButton a:hover {
    color: var(--ui-accent);
}

.cardDetailsWrapper {
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--border-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    height: 100%;
    background-color: var(--ele-color);
}

.billinCardWrapper .rccs {
    width: 100%;
    height: 100%;
    margin: 0;
    /* padding-left: 10px; */
}

.billinCardWrapper .rccs__card {
    width: 100%;
    height: 100%;
    border-radius: 15px;

}

.billinCardWrapper .rccs__card--unknown>div {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
    background: linear-gradient(208deg, #249d8f, #0686d0);
}

.profileDetailsHolder .accordion-body,
.cardDetailsWrapper .accordion-body {
    padding: 15px 20px !important;
}

.profileDetailsHolder .cardPopup .accordion-body {
    padding: 15px 10px !important;
}

.profileDetailsHolder .accordion-button:not(.collapsed),
.cardDetailsWrapper .accordion-button:not(.collapsed) {
    background-color: #fff;
    color: var(--ui-accent);
}

.profileDetailsHolder .accordion-button:not(.collapsed) {
    background-color: #a2e1ff3d;
}

.profileDetailsHolder .accordion-button:focus {
    box-shadow: none;
}


.profileDetailsHolder .billingDetails .formItem,
.cardDetailsWrapper .billingDetails .formItem {
    border: 0;
    color: var(--immortalBlack);
    font-weight: 700;
    font-size: 0.875rem;
    margin: 0;
    padding: 0;
    height: 100%;
}

.profileDetailsHolder .billingDetails .formItem:not(:disabled),
.cardDetailsWrapper .billingDetails .formItem:not(:disabled) {
    border-bottom: 1px solid #bbbbbb;
}

.addressDrawer {
    border-radius: 10px;
    border: 1px solid var(--border-color);
    box-shadow: none;
}

.addressDrawer.active {
    border: 1px solid #009688;
    box-shadow: rgba(0, 150, 136, 0.22) 0px 3px 8px;
}

/* Card logo css start */
.card-logo-container .rccs {
    width: auto;
    height: auto;
    position: relative;
}

.card-logo-container .rccs__card {
    width: 50px;
    height: 30px;
    overflow: hidden;
    position: relative;
}

.card-logo-container .rccs__card--front {
    border-radius: 5.5px;
}

.card-logo-container .rccs__card--unknown .rccs__issuer {
    display: none;
}

.card-logo-container .rccs__number,
.card-logo-container .rccs__name,
.card-logo-container .rccs__expiry,
.card-logo-container .rccs__cvc,
.card-logo-container .rccs__chip {
    display: none;
}

.rccs__number {
    clear: both;
    font-family: "Consolas", "Courier", monospace;
    font-size: 1.125rem !important;
    left: 10%;
    position: absolute;
    top: 45%;
}


.card-logo-container .rccs__issuer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: contain;
    background-position: center;
}

.card-logo-container .rccs__card--american-express .rccs__issuer {
    background-size: cover;
}

.rccs__cvc__front {
    display: none;
}

/* Card logo css end*/

input.noinputfield {
    border: none;
    padding: 0;
    color: var(--immortalBlack);
    font-weight: 400;
    outline: none;
    width: 100%;
    background-color: transparent;
}


input.noinputfield.edit {
    border-bottom: 1px solid #b5b5b5
}

/* .statusMessage {
    padding: 0px 0 20px 0;
} */

.statusWrapper {
    /* background-color: #ff800030; */
    background-color: #ff5f5f;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #dc3545;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.statusWrapper.success {
    border: 2px solid #04ff00;
    background-color: #4ffc8282;
}

.statusWrapper.pending {
    border: 2px solid #ff7300;
    background-color: #fc9d4f;
}

.statusWrapper h5 {
    color: #fff;
    margin-bottom: 0;
    font-weight: 500;
}

.statusWrapper.success h5,
.statusWrapper.success h5 i {
    color: #03a500;
}

.statusContent ul {
    list-style: none;
    padding-left: 5px;
    margin-bottom: 0;
}

.statusContent ul li {
    margin-top: 5px;
}

.statusContent ul li b {
    color: #dc3545;
}

/* / Chrome, Safari, Edge, Opera / */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* / Firefox / */
input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.borderMan {
    position: relative;
}

.borderMan::after {
    content: '';
    position: absolute;
    top: 15px;
    left: -50px;
    border-left: 1px solid #ddd;
    height: 100%;
}

/* CoolInput */
.coolinput {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.coolSearch {
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: static;
}

.coolinput label.text {
    font-size: 1rem;
    color: #818CF8;
    font-weight: 700;
    position: relative;
    top: 0.5rem;
    margin: 0 0 0 7px;
    padding: 0 3px;
    background: #fff;
    width: fit-content;
}

.coolinput input[type=text].input {
    padding: 11px 10px;
    font-size: 1.125rem;
    border: 2px #818CF8 solid;
    border-radius: 5px;
    background: #fff;
}

.coolinput input[type=text].input:focus {
    outline: none;
}

.coolinput button {
    width: 52px;
    height: 52px;
    margin-top: auto;
    background-color: #818CF8;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.contactTags {
    display: flex;
    align-items: center;
    margin-top: 2px;
    width: max-content;
}

.contactTags span {
    border-radius: 50px;
    background-color: #ddd;
    color: #000;
    padding: 2px 10px;
    font-size: 0.75rem !important;
    font-weight: 400 !important;
    margin: 0px 10px 0 0 !important;
    cursor: pointer;

    position: relative;
}

.contactTags span[data-id="0"] {
    background-color: #c7e4fc;
    color: #2793f4 !important;
}

.contactTags span[data-id="rechain"] {
    background-color: #018786;
    color: #fff !important;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.contactTags span[data-id="1"] {
    background-color: #b8eadcb0;
    color: #247662 !important;
}

.contactTags span[data-id="2"] {
    background-color: #f8d5d5;
    color: #e55a57 !important;
}

.contactTags span[data-id="3"] {
    background-color: #fdeacd;
    color: #f7a659 !important;
}

.contactTags span[data-id="4"] {
    background-color: #ddb8ea;
    color: #9300ff !important;
}

.contactTags span[data-id="none"] {
    background-color: #c1c1c1;
    color: #000 !important;
    opacity: 0.5;
}

.contactTags span.more {
    color: red !important;
    background-color: transparent;
    font-size: 0.875rem !important;
    font-weight: 500;
    padding: 0;
}

.contactTags span.add {
    background-color: var(--ui-accent);
    color: #fff;
}

.contactTagsAddEdit {
    padding: 10px 15px;
}

.contactTagsAddEdit h5 {
    margin-bottom: 0;
}

.contactTagsAddEdit {
    border-bottom: 1px solid var(--me-border1);
}

.contactTagsAddEdit input {
    border: none;
    outline: none;
    padding: 0;
    background: transparent;
    color: var(--immortalBlack);
}

.contactTagsAddEdit.addTagEdit input {
    text-align: center;
    padding-block: 3px;
}

.contactTagsAddEdit span {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.contactTags span.removableTag:hover::before {
    content: '\f057';
    font-family: 'Font Awesome 5 Pro';
    font-size: 0.75rem;
    font-weight: 900;
    color: #fff;
    margin-right: 5px;
}

.contactTags span.removableTag:hover {
    background-color: #ff0000;
    color: #fff !important;
}

.ovalSelect {
    border: 1px solid var(--border-color);
    border-radius: 50px;
    padding: 5px 10px;
    font-size: 0.875rem;
    font-weight: 500;
    background-color: transparent;
    color: inherit;
}

.newHeader {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
}

.newHeader .dropdown-menu {
    padding: 5px 0;
    background-color: var(--ele-color);
}

.newHeader .dropdown-menu .dropdown-item {
    font-size: 0.8125rem;
    color: var(--color-subtext);
    padding: 5px 10px;
    font-weight: 400;
    font-family: Outfit;
}

.newHeader .dropdown-menu .dropdown-item:active {
    background-color: #dfdfdf;

}

.myProfileWidget {
    display: flex;
    align-items: center;
    border-left: 1px solid var(--border-color);
    padding: 0 20px;
}

.myProfileWidget .profileHolder {
    width: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    background-color: var(--ui-accent);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    /* overflow: hidden; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px;
    margin-right: 10px;
    position: relative;
}

.myProfileWidget .profileHolder#profileOnlineNav::after {
    content: none;
}

.myProfileWidget .profileHolder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.myProfileWidget .profileName {
    font-size: 1rem;
    font-weight: 500;
    font-family: Roboto;
}

.myProfileWidget .profileName span.status {
    display: block;
    font-size: 0.8125rem;
    font-weight: 400;
    color: var(--color-subtext);
}

.viewingAs {
    text-transform: uppercase;
    color: var(--webUtilGray);
    font-size: 0.875rem !important;
    font-weight: 500;
}

.viewingAs span {
    display: block;
    text-transform: capitalize;
    color: var(--immortalBlack);
    font-size: 1.125rem;
    margin-top: 5px;
}

.permissionListWrapper {
    overflow-y: auto;
    height: calc(100vh - 300px);
}

.permissionListWrapper .accordion-item {
    border-color: var(--border-color);
}

.permissionListWrapper .accordion-button {
    background-color: var(--ele-color);
    color: var(--form-label);
    border: 1px solid var(--me-border1);
}

.permissionListWrapper .accordion-button:not(.collapsed) {
    background: var(--accordion-active);
}

.permissionListWrapper .accordion-button label {
    margin-left: 15px;
}

.permissionListWrapper .accordion-body {
    display: flex;
    justify-content: space-between;
    /* background-color: var(--ele-color); */
    flex-wrap: wrap;
}

.accordion .accordion-button {
    background-color: var(--ele-color);
    --bs-accordion-transition: color 0.0s ease-in-out, background-color 0.0s ease-in-out, border-color 0.0s ease-in-out, box-shadow 0.0s ease-in-out, border-radius 0.0s ease;
}

.accordion .accordion-item {
    border-color: var(--me-border1);
    background-color: var(--ele-color);
    border-radius: 12px;
}

.pagination_slider li button {
    color: var(--immortalBlack);
}

.card {
    background-color: var(--ele-color);
}

.PhoneInput {
    border: 1px solid var(--border-color);
    padding: 5px 10px;
    border-radius: 3px;
    height: 34px;
    transition: all 0.3s ease-in-out;
}

.PhoneInput:hover {
    border-color: var(--ui-accent);
}

.PhoneInput input {
    background-color: var(--ele-color);
    border: none;
    color: var(--form-input-text);
    outline: none;
    font-size: 0.875rem;
    font-weight: 700;
}

.react-clock {
    margin-left: auto;
}

.form-group .cardImage {
    top: -5px !important;
}

.popup.music {
    --bg-color: antiquewhite;
    --primary-color: #005eff;
    --secondary-color: #e5e5e5;
    --muted-text-color: rgb(143, 140, 140);
}

.popup.music .card {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: none;
}

.popup.music .card .header {
    background-color: var(--secondary-color);
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.popup.music .card .header .card-title {
    padding: 11px;
    font-size: 1rem;
    margin-bottom: 0;
    background: var(--ele-color);
    color: var(--immortalBlack);
}

.popup.music .card-body {
    padding: 24px;
}

.popup.music .card-body p {
    font-weight: 600;
}

.popup.music .card-body .popup-border p {
    font-size: 0.875rem;
    text-align: left;
}

.popup.music .test-user p span {
    color: var(--ui-accent);
    font-size: 0.875rem;
}

.popup.music .card-body .popup-border .report {
    /* height: 20px; */
    width: 170px;
    padding: 2px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: var(--primary-color);
    border-radius: 40px;
    color: white;
    cursor: pointer;
    font-size: 0.75rem;
    text-align: center;
}

.popup.music .card-body span {
    font-size: 0.75rem;
    color: var(--muted-text-color);
}

.popup.music .card .card-body .popup-border {
    border: 2px dotted var(--border-color);
    border-radius: 10px;
    transition: 0.2s ease-in-out;
}

.popup.music .card .card-body .popup-border:hover {
    border-color: var(--ui-accent);
}

.popup.music .card .card-body .test-user {
    padding: 24px 50px;
}

.popup.music .card .card-body .test-user1 {
    padding: 0px 78px 24px 87px;
}

.popup.music .card .card-footer {
    border-color: var(--border-color);
    width: 100%;
}

.someTempDialerDesign ul li {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    position: relative;
    opacity: 0.5;
    cursor: pointer;
    isolation: isolate;
    z-index: 2;
}

.someTempDialerDesign ul li:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 45px;
    left: 19px;
    width: 2px;
    /* height: 15px; */
    height: 100%;
    background-color: var(--border-color);
}

.someTempDialerDesign ul li .numberHolder {
    width: 40px;
    height: 40px;
    background-color: var(--ui-accent);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 400;
    font-size: 1.25rem;
    margin-right: 15px;
    flex-shrink: 0;
    position: relative;
}

.someTempDialerDesign ul li .numberHolder.completed::after {
    content: '\f00c';
    font-family: 'Font Awesome 6 Pro';
    font-size: 0.75rem;
    position: absolute;
    top: -7px;
    left: 23px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--ui-accent);
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.someTempDialerDesign ul li.active {
    opacity: 1;
}

.someTempDialerDesign ul li .textHolder h3 {
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 0;
    font-family: 'Roboto';
}

/* From Uiverse.io by Shoh2008 */
.checkbox-wrapper-4 * {
    box-sizing: border-box;
    color: white;
}

.checkbox-wrapper-4 .cbx {
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    padding: 6px 8px 6px 0;
    border-radius: 6px;
    overflow: hidden;
    transition: all 0.2s ease;
    display: inline-flex;
}

.checkbox-wrapper-4 .cbx:not(:last-child) {
    margin-right: 6px;
}

.checkbox-wrapper-4 .cbx:hover {
    background: rgba(0, 119, 255, 0.06);
}

.checkbox-wrapper-4 .cbx span {
    float: left;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
}

.checkbox-wrapper-4 .cbx span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    transform: scale(1);
    border: 1px solid #cccfdb;
    transition: all 0.2s ease;
    box-shadow: 0 1px 1px rgba(0, 16, 75, 0.05);
}

.checkbox-wrapper-4 .cbx span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
}

.checkbox-wrapper-4 .cbx span:last-child {
    padding-left: 8px;
    line-height: 20px;
}

.checkbox-wrapper-4 .cbx:hover span:first-child {
    border-color: #07f;
}

.checkbox-wrapper-4 .inp-cbx {
    position: absolute;
    visibility: hidden;
}

.checkbox-wrapper-4 .inp-cbx:checked+.cbx span:first-child {
    background: #07f;
    border-color: #07f;
    animation: wave-4 0.4s ease;
}

.checkbox-wrapper-4 .inp-cbx:checked+.cbx span:first-child svg {
    stroke-dashoffset: 0;
}

.checkbox-wrapper-4 .inline-svg {
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
    user-select: none;
}

@media screen and (max-width: 640px) {
    .checkbox-wrapper-4 .cbx {
        width: 100%;
        display: inline-block;
    }
}

@-moz-keyframes wave-4 {
    50% {
        transform: scale(0.9);
    }
}

@-webkit-keyframes wave-4 {
    50% {
        transform: scale(0.9);
    }
}

@-o-keyframes wave-4 {
    50% {
        transform: scale(0.9);
    }
}

@keyframes wave-4 {
    50% {
        transform: scale(0.9);
    }
}

.checkbox-wrapper-4 span.checkBoxLabel {
    color: var(--immortalBlack);
    font-size: 0.875rem;
}

.fileUploadBody {
    margin: auto;
    width: 100%;
    height: 155px;
    position: relative;
    border: 2px dotted var(--border-color);
    overflow: hidden;
}

.fileUploadBody>*:not(button) {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.fileUploadBody button {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1;
}

.activeCallsAgentWrapper .callDashParkedCalls.static {
    position: static;
    transform: none;
    max-width: 100%;
    z-index: auto;
}

.activeCallsAgentWrapper .callDashParkedCalls.static .overviewTableWrapper,
.activeCallsAgentWrapper .callDashParkedCalls.static .overviewTableWrapper>* {
    box-shadow: none;
}

.activeCallsAgentWrapper .tableContainer {
    height: 50vh;
}

.activeCallsAgentWrapper .callDashParkedCalls.static .overviewTableWrapper {
    box-shadow: none;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.activeCallsAgentWrapper .clearButton2 {
    position: absolute;
    /* right: 0; */
    /* left: unset !important; */
    top: 12px;
}

.callDashParkedCalls {
    max-width: 30%;
    position: fixed;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 9999;
    transition: 0.5s linear;
}

.callDashParkedCalls .overviewTableWrapper {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}

.callDashParkedCalls button.callDashParkedCallsBtn {
    border: 0;
    background-color: #0075ff96;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -3px;
    padding: 3px;
    height: 200px;
    border-radius: 5px 0 0 5px;
    backdrop-filter: blur(5px);
    transition: 0.3s ease-in-out;
    color: #fff;
    font-size: 13px;
    width: 15px;
}

.callDashParkedCalls button:hover {
    background-color: var(--color2);
}

#google_translate_element select {
    background-color: var(--ele-color);
    border: 1px solid var(--color4);
    padding: 5px 5px;
    border-radius: 3px;
    outline: none;
    font-size: 13px;
    width: 100%;
    height: 35px;
    transition: all 0.3s ease-in-out;
    color: #fff;
    font-weight: 700;

    border: none;
    background: #66339900;
    /* color: #000000; */
}

#google_translate_element select:invalid,
#google_translate_element select option[value] {
    color: #000000;
}

.popupopen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100vh; */
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    z-index: 9999;
    /* background-color: #0000004b; */
    height: 100%;
}

.popupopen .content {
    background-color: var(--ele-color);
    padding: 20px 10px;
    justify-content: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.popupopen .content .iconWrapper {
    display: flex;
    justify-content: center;
}

.popupopen .content .iconWrapper i {
    font-size: 2.1875rem;
    color: rgb(255, 102, 0);
}

.f-select-width {
    width: 75px !important;
    height: 28px;
    border-color: transparent;
    /* background-color: #f4f7f9 !important; */
    font-size: 0.875rem;
    padding: 0;
    background-color: var(--table-head);
}

.popupopen ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;

    max-height: 140px;
    overflow-y: scroll;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 10px;
}

.popupopen ul li {
    width: 50%;
    padding-bottom: 5px;
    font-size: 0.875rem;
}

/* .popupopen ul li i {
    color: var(--ui-accent);
} */

.popup .videoContainer {
    width: 80%;
    height: 80%;
    border-radius: 20px;
    overflow: hidden;
}


.popup .videoContainer video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* ======================================= whatsapp chat box */
.chartBox {
    height: calc(100vh - 100px);
    position: relative;
    overflow: hidden;
}

.chat_sideNav {
    border-right: 1px solid var(--chat-border);
}

.chat_sideNav .leftBox {
    border-right: 1px solid var(--chat-border);
    height: calc(100vh - 100px);
    max-width: 59px;
    flex-shrink: 0;
    background: var(--chat-body-left);
}

.chat_sideNav ul li {
    list-style-type: none;
    margin-bottom: 5px;
}

.chat_sideNav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat_sideNav ul li button {
    background: transparent;
    border-radius: 25px;
    padding: 8px;
    border: none;
    width: 35px;
    height: 35px;
    /* color: #575353; */
    transition: all 0.4s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.chat_sideNav ul li button i {
    color: var(--chat-icon);
}

.chat_sideNav ul li:hover button {
    background: var(--chat-bg-side-icon);
    /* color: #575353; */
}

.chat_sideNav ul li.active button {
    background: var(--chat-bg-side-icon);
}

.profileBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #000;
    overflow: hidden;
    flex-shrink: 0;
}

.profileBox img {
    width: 100%;
}

.profile_text {
    font-size: 0.75rem;
}

.profile_text span {
    width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.borderGray {
    border-bottom: 1px solid var(--chat-border);
}

.profile_wrap {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--chat-border);
    padding-inline: 15px;
}

.profile_wrap.isActive {
    background: var(--chat-bg-user-active);
}

.user_info p {
    font-size: 0.75rem;
}

.read {
    color: #03a9f4;
}

.un_Read {
    color: #15aa85;
}

.message_record {
    width: fit-content;
    border-radius: 50%;
    background-color: #15aa85;
    color: #fff;
    font-size: 0.75rem;
    padding: 4px;
    font-weight: 600;
}

.message_chatbox p {
    margin-bottom: 5px;
}

.search-box {
    width: fit-content;
    height: fit-content;
    position: relative;
}

.input-search {
    height: 35px;
    width: 35px;
    border-style: none;
    /* padding: 10px; */
    font-size: 1rem;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: var(-- --chat-bg-icon);
    padding-right: 27px;
    /* color:#180505; */
}

.left_listClose i {
    color: var(--chat-icon);
}

.input-search::placeholder {
    color: rgba(255, 255, 255, .5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
}

.btn-search {
    /* width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none; */
    cursor: pointer;
    /* border-radius: 50%; */
    position: absolute;
    right: 0px;
    color: #110101;
    background-color: transparent;
    pointer-events: painted;
}

.btn-search:focus~.input-search {
    width: 300px;
    padding-left: 15px;
    /* border-radius: 0px; */
    background-color: var(--chat-bg-button);
    border-bottom: 1px solid var(--chat-border);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.input-search:focus {
    width: 300px;
    /* border-radius: 0px; */
    background-color: var(--chat-bg-button);
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.chat_button {
    width: 35px;
    height: 35px;
    background: var(--chat-bg-button);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.chat_button i {
    font-size: 0.875rem;
    color: var(--chat-icon);
}

.chat_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--chat-border);
    background: var(--chat-header);
}

.chart_body {
    padding: 20px;
    height: calc(100vh - 235px);
}

.chart_text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.message_chatbox {
    /* width: 100%; */
    max-width: 60%;
    padding: 10px;
    border-radius: 15px;
}

.message_chatbox.received {
    background: var(--chat-bg-message-receive);
    margin-right: auto;
    border-top-left-radius: 0;
}

.message_chatbox.sent {
    background: var(--chat-bg-message-sent);
    margin-left: auto;
    border-top-right-radius: 0;
}

.chat_head {
    padding: 11px;
}

.c_time {
    font-size: 0.75rem;
    text-align: end;
    display: block;
}

.chat-input {
    background-color: var(--chat-bg-footer);
    padding: 15px;
    display: flex;
    align-items: center;
    border-top: 1px solid var(--chat-border);
}

.send_btn {
    width: 30px;
    height: 30px;
    background: #15aa85;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;

}

.send_btn.plus {
    background: var(--chat-bg-side-icon);
}

.send_btn.plus i {
    color: var(--chat-icon);
}

.chat-input input {
    width: 100%;
    border-radius: 25px !important;
    padding-left: 20px;
}

.user_Search {
    position: absolute;
    top: 12px;
    left: 14px;
}

.send_btn i {
    font-size: 0.875rem;
    color: #fff;
}

.searchInput {
    padding-inline: 40px !important;
    border-radius: 25px;
    background: var(--chat-input-bg);
    box-shadow: rgba(0, 0, 0, .06) 0 0 10px;
    border: 0;
}

.user_list {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    /* gap: 20px; */
    height: calc(100vh - 164px);
    overflow-x: hidden;
    overflow-y: auto;
    cursor: pointer;
    background: var(--chat-user-list);
}

.chart_body {
    gap: 20px;
    height: calc(100vh - 231px);
    overflow-x: hidden;
    overflow-y: auto;
    background: var(--chat-body);
}

.chat_menu {
    display: none;
    border: 0;
    background: transparent;

}

.left_listClose {
    display: none;
    background: transparent;
    border: 0;
    color: #575353;
    position: absolute;
    top: 11px;
    left: 18px;
}

.left_listClose button i {
    color: #575353;
}

.chat-input .formItem {
    background: var(--chat-input-bg);
    box-shadow: rgba(0, 0, 0, .06) 0 0 10px;
    border: 0;
}

.notSend {
    width: 16px;
    height: 16px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: 1px solid red;
    color: red;
    font-size: 0.75rem;
}

.searchBar_userList {
    background: var(--chat-header);
}

.w_loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    height: calc(100vh - 231px);
    background: rgba(0, 0, 0, .06);
}

.resizeHandle {
    position: relative;
    width: 5px;
    border: 1px solid var(--border-color);
    border-top: none;
    border-bottom: none;
}

.resizeHandle button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.leftPanel[data-panel-size="0.0"]>* {
    display: none;
}

.rightPanel[data-panel-size="0.0"]>* {
    display: none;
}


/* ========================== warning logged popup */

.loggedPopupSm .iconWrapper.log__warning {
    width: 62px;
    height: 62px;
}

.loggedPopupSm .iconWrapper.log__warning img {
    width: 100%;
}


.btn_info {
    background-color: #2e5ee7;
    border: 1px solid #2e5ee7;
    color: #fff;
    padding-inline: 16px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn_info:hover {
    background-color: transparent;
    border: 1px solid #2e5ee7;
    color: #2e5ee7;

}

.billing_card1 {
    background: linear-gradient(260deg, #ff00c024, #0016ff47);
}

.billing_card2 {
    background: linear-gradient(260deg, #31ff0021, #00a6ff47);
}

.billing_card1 .data-number2 h5,
.billing_card2 .data-number2 h5 {
    color: var(--billing-icon2) !important;
}

.billing_card1 .heading i,
.billing_card2 .heading i {
    color: var(--billing-icon) !important;
}

.rccs__card--unknown>div {
    background: linear-gradient(208deg, #249d8f, #0686d0) !important;
}

.text-orange {
    color: #ff6600;
}

.mail_leftbar {
    max-width: 200px;
    width: 100%;
    /* background: #f6f6f6; */
    border: 0;
    height: 100%;
}

.mail_leftbar ul li {
    list-style-type: none;
}

.mail_leftbar .mail_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: var(--black);
    font-weight: 500;
    /* transition: all 0.4s ease-in-out; */
    padding: 10px 15px;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
}

.mail_leftbar .mail_list:hover {
    color: #0411a1;
    background-color: rgba(106, 118, 137, 0.188);
}

.mail_leftbar .mail_list.active {
    /* color: #0016ff47; */
    color: var(--billing-icon);
    background-color: rgba(106, 118, 137, 0.188);
    box-shadow: rgba(0, 0, 0, .1) 0 0 10px;
}

.mail_table thead tr th {
    background: var(--white);
    border-bottom: 1px solid #f3f3f3;
    color: var(--black);
    padding: 10px !important;
}

.mail_table tbody tr {
    border-bottom: 1px solid var(--me-border1);
}

.table_card {
    width: 100%;
    background: rgba(75, 78, 99, 0.102);
    padding: 20px;
    border-radius: 10px;
    height: calc(100vh - 165px);
}

.badge-solid-primary {
    background: #1e00ff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

.back_pev {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    background: rgba(0, 0, 0, 0.078);
    color: var(--black);
    border: none;
}

.mail_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.attachment-icon {
    width: 32px;
    height: 32px;
    border: 1px solid var(--default-border);
    border-radius: .5rem;
    display: flex;
    align-items: center;
}

.attachment-icon img {
    width: 100%;
}

.mail-attachment {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
}

.mail-attachment .attachment-name {
    max-width: 7rem;
    display: inline-block;
    font-size: .75rem;
    font-weight: 500;
    color: var(--black);
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.mails-information .mail-info-footer {
    padding: .75rem;
    border-block-start: 1px solid var(--me-border1);
}

.mailBox_body {
    height: auto;
    overflow: hidden scroll;
    direction: inherit;
    box-sizing: border-box !important;
    position: relative;
    display: block;
    height: calc(100vh - 337px);
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.mail-info-footer {
    box-shadow: rgba(0, 0, 0, 0.04) 2px -5px 13px 0px;
}

.text_gray {
    color: var(--gray);
}

.text_dark {
    color: var(--black);
}

/* .text_message{
    position: absolute;
    top: 0;
} */
.mail_input {
    width: 100%;
    border: 1px solid var(--table-border-color);
    padding: 10px;
    border-radius: 5px;
    height: auto;
}

.mailList_menu .dropdown-item:hover {
    background: rgba(119, 139, 159, 0.102);
}

.from-group {
    margin-bottom: 10px;
}

.from-label {
    font-size: 12px;
}

.modal-dialog .modal-content {
    background: var(--white);
}

/* From Uiverse.io by Yaya12085 */
.custom_fileWrap {
    height: 30px;
    width: 30px;
    border-radius: 10px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 5px;
    cursor: pointer;
    background-color: rgba(0, 110, 255, 0.164);
}

/* .custom_file {
    flex: 1;
    width: 100%;
    border: 2px dashed royalblue;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .custom_file i {
    height: 100px;
  }
  
  .custom_file p {
    text-align: center;
    color: black;
  } */

.custom_file {
    background-color: rgba(0, 110, 255, 0.075);
    width: 100%;
    height: 40px;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--me-text-color2);
    border: none;
}

/* .custom_file i {
    height: 130%;
    fill: royalblue;
    background-color: rgba(70, 66, 66, 0.103);
    border-radius: 50%;
    padding: 2px;
    cursor: pointer;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.205);
  }
   */
.custom_file p {
    flex: 1;
    text-align: center;
}

#file {
    display: none;
}

.footerSms {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    /* background: #fff; */
    z-index: 2;
    padding: 5px 10px;
    /* border: 1px solid var(--color4); */
    border-top: 0;
    padding-bottom: 20px;
}

.eFaxCompose .newMessageWrapper .inputFileWrapper.inputFileWrapper.faxSelectUnset_hover {
    padding: 0;
}

.eFaxCompose .newMessageWrapper .inputFileWrapper.faxSelectUnset_hover:hover {
    background: transparent;
    padding: 0;
}

.mail_table table tbody tr:nth-child(even) {
    background: transparent;
}

.mail_table table tbody tr:hover {
    background: var(--table-bg-active);
}

.mail_table table tbody tr.active {
    background: var(--table-bg-active);
}


.popup.music .test-user {
    color: var(--black);
}

.fa-cloud-arrow-up {
    color: #03c2f4;
}

.bg_light {
    background: var(--config-bg);
}

.popupBox {
    max-width: 680px;
    width: 100%;
    margin-inline: auto;
}

.css-64zmo3-control {}

.accordion-button {
    border-radius: 12px;
}

.accordion-item {
    margin-bottom: 10px;
}


/* .mail_table table tbody tr:hover {
    background: #f3f6f8;
}

.mail_table table tbody tr.active {
    background: #f3f6f8;
} */
.offline_messages {
    background: var(--table-delete-bg);
    color: var(--table-delete-text);
    padding: 10px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 9999;
    font-weight: 500;
}

.btn-close {
    color: #dddada;
}


.css-64zmo3-control {
    background-color: rgba(255, 255, 255, 0.07) !important;
    border-color: rgba(204, 204, 204, 0.18) !important;
}

.css-5pixxi-singleValue {
    color: var(--black) !important;

}

.dropdown-item:focus,
.dropdown-item:hover,
.dropdown-item:active {
    background: rgba(119, 139, 159, 0.102) !important;
}

.dropdown-item:focus-visible {
    border: none !important;
    outline: none !important;
}

.contactTagsAddEdit.addTagEdit h5 input {
    max-width: 50px !important;
}

/* ============================ webrtc notification dropdown */

.fs-17 {
    font-size: 1.0625rem;
}

.notification_dropdown p {
    color: var(--immortalBlack);
}

.notification_dropdown span {
    color: var(--gray);
}

.bg-pink-transparent {
    background-color: var(--pink-rgb-bg) !important;
    color: var(--pink-rgb-text) !important;
}

.bg-secondary-transparent {
    background-color: var(--secondary-rgb-bg) !important;
    color: var(--secondary-rgb-text) !important;
}

.bg-primary-transparent {
    background-color: var(--primary01) !important;
    color: var(--primary-color01) !important;
}

.badge_icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.closeBtn {
    transition: all 0.4s ease-in-out;
}

.closeBtn:hover {
    color: hsl(345, 100%, 50%);
}

.text_gray {
    color: var(--gray);
}

.notification_dropdown .dropdown-item {
    border-bottom: 1px solid var(--me-border1);
}

.notification_dropdown .dropdown-menu .header {
    border-bottom: 1px solid var(--me-border1);
}

.dropdown-toggle::after {
    display: none;
}


.pulse.pulse-secondary {
    box-shadow: 0 0 0 rgba(35, 183, 229, 0.4);
}

.bg-secondary {
    background-color: #23b7e5 !important;
}

.pulse {
    position: absolute;
    inset-block-start: -4px;
    inset-inline-end: -1px;
    cursor: pointer;
    animation: pulse_secondary 2s infinite;
    color: #fff !important;
}

.header-icon-badge {
    padding: 3px 5px;
    font-size: .625rem;
}

.badge {

    font-weight: 600;
    border-radius: .25rem;
}

.fa-bell {
    animation: bell 2s infinite;
    color: var(--black);
}

@keyframes pulse_secondary {
    0% {
        box-shadow: 0 0 0 0 rgb(132 226 255 / 97%);
    }

    70% {
        box-shadow: 0 0 0 10px rgb(16 189 241 / 3%);
    }

    100% {
        box-shadow: 0 0 0 0 #84e2ff00;
    }
}

@keyframes bell {
    0% {
        opacity: 1;
    }

    25% {
        transform: rotate(15deg);
    }

    50% {
        transform: rotate(-15deg);
    }

    75% {
        transform: rotate(10deg);
    }
}

.dropdown-menu {
    border-color: var(--default-border) !important;
    box-shadow: 0 1rem 1.125rem var(--shadow01) !important;
    font-size: .875rem;

}

.tagBox {
    margin-inline: auto;
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.tagBox img {
    width: 100%;
}

.dropdown-menu p {
    color: var(--immortalBlack);
    font-weight: 500;
}


.css-2fr8v9-menu {
    background-color: var(--config-bg) !important;
}

.css-yrf5d8-option:active {
    background-color: #0071ff !important;
}

.css-1fetajk-option {
    background-color: #222a35 !important;
    color: #fff !important;
}

.css-1stt0h2-control {
    background-color: hsl(0deg 0% 100% / 3%) !important;
}

.css-1nmdiq5-menu {
    background-color: var(--config-bg) !important;
}


/* ===================================================== message call */

.messageMeetingWrap {
    /* position: absolute; */
    right: 0;
    top: 61px;
    bottom: 0;
    z-index: 999;
    /* width: calc(100vw - 209px); */
    /* height: calc(100vh - 61px) !important; */
    width: 100%;
    height: 100%;
}

.minimize {
    position: absolute;
    top: 11px;
    right: 42px;
    background-color: rgba(239, 239, 239, 0.57);
    color: #000;
    border-radius: calc(var(--lk-border-radius) / 2);
    opacity: 0;
    transition: opacity .2s ease-in-out;
    transition-delay: .2s;
    z-index: 99;
    border: 0;
}

.messageMeetingWrap.minimizeComponent {
    width: 292px;
    height: 280px !important;
    overflow: hidden;
    /* left: 220px; */
    /* bottom: 10px; */
    top: unset;
}

.messageMeetingWrap.minimizeComponent .lk-video-conference {
    width: 100%;
}

.messageMeetingWrap.minimizeComponent .lk-control-bar {
    display: none;
}

.messageMeetingWrap.minimizeComponent .lk-grid-layout-wrapper {
    height: 100%;
}

.messageMeetingWrap.fullComponent .lk-video-conference {
    width: unset;
}

.messageMeetingWrap.fullComponent .lk-control-bar {
    display: flex;
}

.messageMeetingWrap.fullComponent .lk-grid-layout-wrapper {
    height: 100%;
}

.messageMeetingWrap:hover .minimize,
.messageMeetingWrap:focus .minimize {
    opacity: 1;
    transition-delay: 0;
}

.messageMeetingWrap .lk-room-container {
    display: flex;
}

.messageMeetingWrap .lk-video-conference {
    flex: 1 0 0%;
}

.messageMeetingWrap .settings-menu .tab-content h3 {
    color: #ffff;
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.messageMeetingWrap .settings-menu .tab-content h4 {
    color: #d3d3d3;
    font-size: 1rem !important;
    margin-bottom: 10px;
}

.messageMeetingWrap .settings-menu .tab-content .wrap {
    margin-bottom: 20px;
}

.messageMeetingWrap .lk-chat-header {
    justify-content: space-between;
}

.messageMeetingWrap .clearButton2 {
    display: block;
}

.messageMeetingWrap input[type="search"] {
    background-color: transparent;
    color: rgb(245, 245, 245);
    box-shadow: none;
    border: 1px solid #2d2d2d;
    width: 100%;
    border-radius: 6px;
    padding-inline: 10px;
}

.tippy-content>div {
    max-height: 300px;
    overflow-y: auto;
}


.missedCallAlertBox {
    background: var(--me-body-bg2);
    padding: 15px 20px;
    position: fixed;
    right: 10px;
    bottom: 20px;
    max-width: 350px;
    width: 100%;
    z-index: 9999;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.14) 0 0 10px;
    border: 1px solid rgba(201, 7, 7, 0.22);
}

.missedCallAlertBox .callIfo {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background: #ce0202;
    flex-shrink: 0;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.missedCallAlertBox .details h4 {
    font-size: 15px !important;
    margin-bottom: 5px;
}

.missedCallAlertBox .details p {
    font-size: 12px !important;
    color: var(--form-label);
    margin-bottom: 0;
}

.missedCallAlertBox .clearButton2 {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 5;
}

.balance-box {
    background: var(--balance-box-bg);
    text-align: center;
    /* height: 100%; */
}

.balance-box .itemWrapper {
    background: transparent !important;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 183px;
}

.balance-box .data-number3 {
    backdrop-filter: blur(100px);
    box-shadow: var(--active-call-shadow);
    border-radius: 9px;
    background: var(--active-number-bg);
    border-top: 0;
}


.mainContent .balance-box .itemWrapper {
    margin-top: 0;
}

.deviceProvision.balance-box .editBtn {
    font-size: 12px;
    width: 25px;
    height: 25px;
    color: #03A9F4 !important;
}

.deviceProvision.balance-box img {
    width: auto;
}

.col-3.numberActive_box {
    flex: 0 0 auto;
    width: 25%;
    border: 1px solid var(--border20);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2px;
    padding: 5px;
}
.numberActive_box h4{
    font-size: 14px !important;
}
/* .datanumber4{
    position:relative;
}
.datanumber5{
        position:absolute;
    top: 106px;
} */