.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px);
    z-index: 9999;
    background-color: #0000004b;
}

.popup .content {
    background-color: var(--ele-color);
    padding: 20px 10px;
    justify-content: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.popup .content .iconWrapper {
    display: flex;
    justify-content: center;
}

.popup .content .iconWrapper i {
    font-size: 35px;
    color: rgb(255, 102, 0);
}

.extensionStatusWithName {
    margin: auto 0;
}

.extensionStatusWithName .extensionStatus {
    margin-right: 5px;
}

.extensionStatus {
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
}

.extensionStatus.online {
    background-color: green;
}

.extensionStatus.onCall {
    background-color: #ff9921;
}

.pagination_slider {
    display: flex;
    justify-content: center;
    /* margin: 25px 0px 0px 0px; */
}

.css-1to7aaw-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
    color: #fff;
    background-color: #1976d2;
    padding: 10px;
}

.pricing_section .pricing_box {
    padding: 20px;
    border: 1px solid #21212126;
    border-radius: 8px;
    margin: 60px 0px 0px 0px;
    text-align: center;
}

.pricing_section .pricing_box h3 {
    font-family: Roboto;
    color: var(--ui-accent);
    font-weight: 600;
    font-size: 23px;
    padding: 30px 0px 0px 0px;
}

.pricing_section .pricing_box p {
    font-family: var(--paragraph);
    font-weight: 400;
    font-size: 13px;
    margin: 0px 0px 8px 0px;
}

.pricing_section .pricing_box h5 {
    font-family: Roboto;
    color: #8d8d8d;
    font-weight: 500;
    font-size: 13px !important;
    margin: 40px 0px 0px 0px;
}

.pricing_section .pricing_box h5 span {
    font-size: 15px;
    margin: 0px 0px 0px 6px;
    border-radius: 100px;
    background: #ebe4ff !important;
    color: var(--ui-accent) !important;
}

.pricing_section .pricing_box h2 {
    font-family: Roboto;
    color: var(--ui-accent);
    font-weight: 700;
    font-size: 36px;
    padding: 0px 0px 10px 0px;
}

.pricing_section .pricing_box h2 sub {
    font-size: 16px;
    color: #212121;
    font-weight: 400;
}

.pricing_section .pricing_box a {
    display: block;
    background: linear-gradient(135deg, #871fff, #7ec9f4);
    padding: 10px 10px;
    color: #fff;
    font-family: Roboto;
    border-radius: 4px;
    margin: 0px 0px 10px 0px;
}

.pricing_section .pricing_box .border_line {
    width: 100%;
    height: 2px;
    background: rgb(103 61 230 / 12%);
    margin: 15px 0px 10px 0px;
}

.pricing_section .pricing_box .feture_list h4 {
    text-align: left;
    font-family: Roboto;
    font-size: 18px !important;
    font-weight: 500;
}

.pricing_section .pricing_box .feture_list ul {
    text-align: left;
    margin: 15px 0px 0px 0px !important;
    list-style: none;
    padding: 0;
}

.pricing_section .pricing_box .feture_list ul li p {
    font-family: var(--paragraph);
    font-weight: 400;
}

.pricing_section .pricing_box .feture_list ul li p i {
    color: #00b090;
}

.pricing_section .pricing_box {
    padding: 10px;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.headerCommon {
    border: none;
    padding: 5px 0;
    font-weight: 500;
    margin-bottom: 10px;
}

.searchList {
    padding: 10px 15px;
    background-color: var(--ele-color);
    border-radius: 10px;
    /* border-left: 1px solid #ddd; */
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.searchList ul {
    list-style: none;
    padding-left: 0;
    padding-top: 5px;
    margin-bottom: 0;
}

.searchList ul li {
    padding: 7px 0;
    border-bottom: 1px solid #ddd;
}


.searchList.cart ul {
    padding-top: 0px;

}

.searchList.cart ul li {
    border: none;
    font-weight: 600;
    font-size: 13px;
    color: var(--color-subtext);
    font-family: Open Sans;
    padding: 0px 0 3px 0;
}

/* .searchList.cart ul li:last-child {
    border-top: 1px solid var(--border-color);
    padding-top: 3px;
    font-size: 14px;
    color: inherit;
} */

.searchList.checkout ul li {
    border-radius: 10px;
    border: 1px solid var(--border-color);
    margin-bottom: 10px;
    padding: 10px;
    transition: 0.3s;
    position: relative;
}

.searchList.checkout ul li:hover {
    background-color: #e7e7e745;
}

.searchList.checkout input[type="radio"] {
    position: absolute;
    width: 100%;
    opacity: 0;
    left: 0;
    top: 0;
    height: 100%;
    cursor: pointer;
}

.searchList.checkout input[type="radio"]:checked~.checkmark {
    border: 1px solid var(--ui-accent);
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
}

.sidePannel {
    height: calc(100% - 111px);
    position: absolute;
    padding: 10px;
    top: 111px;
    right: 0;
    width: 200px;
    z-index: 0;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.sidePannel .wrapper {
    height: 100%;
    padding: 15px 10px 10px 10px;
    border-radius: 10px;
    border: 1px solid var(--ui-accent);
}

.sidePannel .wrapper ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.sidePannel .wrapper .label li {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
}

.sidePannel .wrapper ul li {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 500;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid #cecece;
}

.buttonPopup {
    width: 120px;
    border-radius: 10px;
    background-color: #303030;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: absolute;
    right: 10px;
    bottom: -45px;
    z-index: 9;
}

.buttonPopup .clearButton {
    color: #fff;
}

.buttonPopup .clearButton:hover {
    color: var(--ui-accent);
}

.buttonPopup .clearButton a {
    text-decoration: none;
    color: #fff;
}

.buttonPopup .clearButton a:hover {
    color: var(--ui-accent);
}

.cardDetailsWrapper {
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--border-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    height: 100%;
    background-color: var(--ele-color);
}

.billinCardWrapper .rccs {
    width: 100%;
    height: 100%;
    margin: 0;
    padding-left: 10px;
}

.billinCardWrapper .rccs__card {
    width: 100%;
    height: 100%;
    border-radius: 15px;

}

.billinCardWrapper .rccs__card--unknown>div {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
}

.profileDetailsHolder .accordion-body,
.cardDetailsWrapper .accordion-body {
    padding: 15px 20px !important;
}

.profileDetailsHolder .cardPopup .accordion-body {
    padding: 15px 10px !important;
}

.profileDetailsHolder .accordion-button:not(.collapsed),
.cardDetailsWrapper .accordion-button:not(.collapsed) {
    background-color: #fff;
    color: var(--ui-accent);
}

.profileDetailsHolder .accordion-button:not(.collapsed) {
    background-color: #a2e1ff3d;
}

.profileDetailsHolder .accordion-button:focus {
    box-shadow: none;
}


.profileDetailsHolder .billingDetails .formItem,
.cardDetailsWrapper .billingDetails .formItem {
    border: 0;
    color: #000;
    font-weight: 700;
    font-size: 14px;
    margin: 0;
    padding: 0;
    height: 100%;
}

.profileDetailsHolder .billingDetails .formItem:not(:disabled),
.cardDetailsWrapper .billingDetails .formItem:not(:disabled) {
    border-bottom: 1px solid #bbbbbb;
}

.addressDrawer {
    border-radius: 10px;
    border: 1px solid var(--border-color);
    box-shadow: none;
}

.addressDrawer.active {

    border: 1px solid green;
    box-shadow: #00ff1554 0px 3px 8px;
}

/* Card logo css start */
.card-logo-container .rccs {
    width: auto;
    height: auto;
    position: relative;
}

.card-logo-container .rccs__card {
    width: 50px;
    height: 30px;
    overflow: hidden;
    position: relative;
}

.card-logo-container .rccs__card--front {
    border-radius: 5.5px;
}

.card-logo-container .rccs__card--unknown .rccs__issuer {
    display: none;
}

.card-logo-container .rccs__number,
.card-logo-container .rccs__name,
.card-logo-container .rccs__expiry,
.card-logo-container .rccs__cvc,
.card-logo-container .rccs__chip {
    display: none;
}

.rccs__number {
    clear: both;
    font-family: "Consolas", "Courier", monospace;
    font-size: 18px !important;
    left: 10%;
    position: absolute;
    top: 45%;
}


.card-logo-container .rccs__issuer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: contain;
    background-position: center;
}

.card-logo-container .rccs__card--american-express .rccs__issuer {
    background-size: cover;
}

.rccs__cvc__front {
    display: none;
}

/* Card logo css end*/

input.noinputfield {
    border: none;
    padding: 0;
    color: var(--immortalBlack);
    font-weight: 400;
    outline: none;
    width: 100%;
    background-color: transparent;
}


input.noinputfield.edit {
    border-bottom: 1px solid #b5b5b5
}

/* .statusMessage {
    padding: 0px 0 20px 0;
} */

.statusWrapper {
    /* background-color: #ff800030; */
    background-color: #ff5f5f;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #dc3545;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.statusWrapper.success {
    border: 2px solid #04ff00;
    background-color: #4ffc8282;
}

.statusWrapper.pending {
    border: 2px solid #ff7300;
    background-color: #fc9d4f;
}

.statusWrapper h5 {
    color: #fff;
    margin-bottom: 0;
    font-weight: 500;
}

.statusWrapper.success h5,
.statusWrapper.success h5 i {
    color: #03a500;
}

.statusContent ul {
    list-style: none;
    padding-left: 5px;
    margin-bottom: 0;
}

.statusContent ul li {
    margin-top: 5px;
}

.statusContent ul li b {
    color: #dc3545;
}

/* / Chrome, Safari, Edge, Opera / */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* / Firefox / */
input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.borderMan {
    position: relative;
}

.borderMan::after {
    content: '';
    position: absolute;
    top: 15px;
    left: -50px;
    border-left: 1px solid #ddd;
    height: 100%;
}

/* CoolInput */
.coolinput {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.coolSearch {
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: static;
}

.coolinput label.text {
    font-size: 16px;
    color: #818CF8;
    font-weight: 700;
    position: relative;
    top: 0.5rem;
    margin: 0 0 0 7px;
    padding: 0 3px;
    background: #fff;
    width: fit-content;
}

.coolinput input[type=text].input {
    padding: 11px 10px;
    font-size: 18px;
    border: 2px #818CF8 solid;
    border-radius: 5px;
    background: #fff;
}

.coolinput input[type=text].input:focus {
    outline: none;
}

.coolinput button {
    width: 52px;
    height: 52px;
    margin-top: auto;
    background-color: #818CF8;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.contactTags {
    display: flex;
    align-items: center;
    margin-top: 2px;
    width: max-content;
}

.contactTags span {
    border-radius: 50px;
    background-color: #ddd;
    color: #000;
    padding: 2px 10px;
    font-size: 12px !important;
    font-weight: 400 !important;
    margin: 0px 10px 0 0 !important;
    cursor: pointer;
}

.contactTags span[data-id="0"] {
    background-color: #c7e4fc;
    color: #2793f4 !important;
}

.contactTags span[data-id="1"] {
    background-color: #b8eadc;
    color: #00c193 !important;
}

.contactTags span[data-id="2"] {
    background-color: #f8d5d5;
    color: #e55a57 !important;
}

.contactTags span[data-id="3"] {
    background-color: #fdeacd;
    color: #f7a659 !important;
}

.contactTags span[data-id="4"] {
    background-color: #ddb8ea;
    color: #9300ff !important;
}

.contactTags span.more {
    color: red !important;
    background-color: transparent;
    font-size: 14px !important;
    font-weight: 500;
    padding: 0;
}

.contactTags span.add {
    background-color: var(--ui-accent);
    color: #fff;
}

.contactTagsAddEdit {
    padding: 10px 15px;
}

.contactTagsAddEdit h5 {
    margin-bottom: 0;
}

.contactTagsAddEdit {
    border-bottom: 1px solid #ddd;
}

.contactTagsAddEdit input {
    border: none;
    outline: none;
    padding: 0;
    background: transparent;
    color: var(--immortalBlack);
}

.contactTagsAddEdit span {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.contactTags span.removableTag:hover::before {
    content: '\f057';
    font-family: 'Font Awesome 5 Pro';
    font-size: 12px;
    font-weight: 900;
    color: #fff;
    margin-right: 5px;
}

.contactTags span.removableTag:hover {
    background-color: #ff0000;
    color: #fff !important;
}

.ovalSelect {
    border: 1px solid var(--border-color);
    border-radius: 50px;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 500;
    background-color: transparent;
    color: inherit;
}

.newHeader {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color);
}

.newHeader .dropdown-menu {
    padding: 5px 0;
    background-color: var(--ele-color);
}

.newHeader .dropdown-menu .dropdown-item {
    font-size: 13px;
    color: var(--color-subtext);
    padding: 5px 10px;
    font-weight: 400;
    font-family: Outfit;
}

.newHeader .dropdown-menu .dropdown-item:active {
    background-color: #dfdfdf;

}

.myProfileWidget {
    display: flex;
    align-items: center;
    border-left: 1px solid var(--border-color);
    padding: 0 20px;
}

.myProfileWidget .profileHolder {
    width: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    background-color: var(--ui-accent);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    /* overflow: hidden; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px;
    margin-right: 10px;
    position: relative;
}

.myProfileWidget .profileHolder#profileOnlineNav::after {
    content: none;
}

.myProfileWidget .profileHolder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.myProfileWidget .profileName {
    font-size: 16px;
    font-weight: 500;
    font-family: Roboto;
}

.myProfileWidget .profileName span.status {
    display: block;
    font-size: 13px;
    font-weight: 400;
    color: var(--color-subtext);
}

.viewingAs {
    text-transform: uppercase;
    color: var(--webUtilGray);
    font-size: 14px !important;
    font-weight: 500;
}

.viewingAs span {
    display: block;
    text-transform: capitalize;
    color: var(--immortalBlack);
    font-size: 18px;
    margin-top: 5px;
}

.permissionListWrapper {
    overflow-y: auto;
    height: calc(100vh - 300px);
}

.permissionListWrapper .accordion-item {
    border-color: var(--border-color);
}

.permissionListWrapper .accordion-button {
    background-color: var(--ele-color);
    color: var(--form-label);
}

.permissionListWrapper .accordion-button:not(.collapsed) {
    background: var(--accordion-active);
}

.permissionListWrapper .accordion-button label {
    margin-left: 15px;
}

.permissionListWrapper .accordion-body {
    display: flex;
    justify-content: space-between;
    background-color: var(--ele-color);
    flex-wrap: wrap;
}

.accordion .accordion-button {
    background-color: var(--ele-color);
}

.accordion .accordion-item {
    border-color: var(--border-color);
    background-color: var(--ele-color);
}

.pagination_slider li button {
    color: var(--immortalBlack);
}

.card {
    background-color: var(--ele-color);
}

.PhoneInput {
    border: 1px solid var(--border-color);
    padding: 5px 10px;
    border-radius: 3px;
    height: 34px;
    transition: all 0.3s ease-in-out;
}

.PhoneInput:hover {
    border-color: var(--ui-accent);
}

.PhoneInput input {
    background-color: var(--ele-color);
    border: none;
    color: var(--form-input-text);
    outline: none;
    font-size: 14px;
    font-weight: 700;
}

.react-clock {
    margin-left: auto;
}

.form-group .cardImage {
    top: -5px !important;
}

.popup.music {
    --bg-color: antiquewhite;
    --primary-color: #005eff;
    --secondary-color: #e5e5e5;
    --muted-text-color: rgb(143, 140, 140);
}

.popup.music .card {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: none;
}

.popup.music .card .header {
    background-color: var(--secondary-color);
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.popup.music .card .header .card-title {
    padding: 11px;
    font-size: 16px;
    margin-bottom: 0;
    background: var(--ele-color);
    color: var(--immortalBlack);
}

.popup.music .card-body {
    padding: 24px;
}

.popup.music .card-body p {
    font-weight: 600;
}

.popup.music .card-body .popup-border p {
    font-size: 14px;
    text-align: left;
}

.popup.music .test-user p span {
    color: var(--ui-accent);
    font-size: 14px;
}

.popup.music .card-body .popup-border .report {
    /* height: 20px; */
    width: 170px;
    padding: 2px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: var(--primary-color);
    border-radius: 40px;
    color: white;
    cursor: pointer;
    font-size: 12px;
    text-align: center;
}

.popup.music .card-body span {
    font-size: 12px;
    color: var(--muted-text-color);
}

.popup.music .card .card-body .popup-border {
    border: 2px dotted var(--border-color);
    border-radius: 10px;
    transition: 0.2s ease-in-out;
}

.popup.music .card .card-body .popup-border:hover {
    border-color: var(--ui-accent);
}

.popup.music .card .card-body .test-user {
    padding: 24px 50px;
}

.popup.music .card .card-body .test-user1 {
    padding: 0px 78px 24px 87px;
}

.popup.music .card .card-footer {
    border-color: var(--border-color);
    width: 100%;
}

.someTempDialerDesign ul li {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    position: relative;
    opacity: 0.5;
    cursor: pointer;
}

.someTempDialerDesign ul li:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 45px;
    left: 19px;
    width: 2px;
    height: 15px;
    background-color: var(--border-color);
}

.someTempDialerDesign ul li .numberHolder {
    width: 40px;
    height: 40px;
    background-color: var(--ui-accent);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    margin-right: 15px;

    position: relative;
}

.someTempDialerDesign ul li .numberHolder.completed::after {
    content: '\f00c';
    font-family: 'Font Awesome 6 Pro';
    font-size: 12px;
    position: absolute;
    top: -7px;
    left: 23px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--ui-accent);
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.someTempDialerDesign ul li.active {
    opacity: 1;
}

.someTempDialerDesign ul li .textHolder h3 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 0;
    font-family: 'Roboto';
}

/* From Uiverse.io by Shoh2008 */
.checkbox-wrapper-4 * {
    box-sizing: border-box;
    color: white;
}

.checkbox-wrapper-4 .cbx {
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    padding: 6px 8px 6px 0;
    border-radius: 6px;
    overflow: hidden;
    transition: all 0.2s ease;
    display: inline-flex;
}

.checkbox-wrapper-4 .cbx:not(:last-child) {
    margin-right: 6px;
}

.checkbox-wrapper-4 .cbx:hover {
    background: rgba(0, 119, 255, 0.06);
}

.checkbox-wrapper-4 .cbx span {
    float: left;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
}

.checkbox-wrapper-4 .cbx span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    transform: scale(1);
    border: 1px solid #cccfdb;
    transition: all 0.2s ease;
    box-shadow: 0 1px 1px rgba(0, 16, 75, 0.05);
}

.checkbox-wrapper-4 .cbx span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
}

.checkbox-wrapper-4 .cbx span:last-child {
    padding-left: 8px;
    line-height: 20px;
}

.checkbox-wrapper-4 .cbx:hover span:first-child {
    border-color: #07f;
}

.checkbox-wrapper-4 .inp-cbx {
    position: absolute;
    visibility: hidden;
}

.checkbox-wrapper-4 .inp-cbx:checked+.cbx span:first-child {
    background: #07f;
    border-color: #07f;
    animation: wave-4 0.4s ease;
}

.checkbox-wrapper-4 .inp-cbx:checked+.cbx span:first-child svg {
    stroke-dashoffset: 0;
}

.checkbox-wrapper-4 .inline-svg {
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
    user-select: none;
}

@media screen and (max-width: 640px) {
    .checkbox-wrapper-4 .cbx {
        width: 100%;
        display: inline-block;
    }
}

@-moz-keyframes wave-4 {
    50% {
        transform: scale(0.9);
    }
}

@-webkit-keyframes wave-4 {
    50% {
        transform: scale(0.9);
    }
}

@-o-keyframes wave-4 {
    50% {
        transform: scale(0.9);
    }
}

@keyframes wave-4 {
    50% {
        transform: scale(0.9);
    }
}

.checkbox-wrapper-4 span.checkBoxLabel {
    color: var(--immortalBlack);
    font-size: 14px;
}

.fileUploadBody {
    margin: auto;
    width: 100%;
    height: 155px;
    position: relative;
    border: 2px dotted var(--border-color);
    overflow: hidden;
}

.fileUploadBody>*:not(button) {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.fileUploadBody button {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1;
}