@media (max-device-width: 1500px) {

    /* .formRow.col-xl-3 {
        width: 16.5%;
    } */

    table th {
        white-space: nowrap;
        font-size: 0.75rem;

        padding: 10px 4px;
    }

    .tangoNavs .nav-tabs .nav-link {
        font-size: 0.75rem;
    }

    .mainContentApp .contactListItem p.timeAgo,
    .callListItem p.timeAgo {
        font-size: 14px;
    }

}

@media (max-width: 1575px) {
    .mainContentApp .contactListItem h5 {
        max-width: 200px;
    }

    .numberActive_box p {
        font-size: 10px !important;
    }

}

@media (max-device-width: 2250px) {

    .customRow {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        /* grid-template-columns: repeat(2, 177px); */
    }


}

@media (max-device-width: 1750px) {
    .customRow {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
}

@media (max-device-width: 1700px) {
    .tabLink span {
        display: none;
    }
}

@media (max-width: 1199px) {
    .mainContentApp .webrtc_newMessageUi .tabLink {
        padding: 10px 10px;
    }

    .webrtc_newMessageUi {
        overflow: hidden;
        position: relative;
    }

    .callDashParkedCalls.messageDower.absolutePanel {
        position: fixed;
        right: 0;
        box-shadow: rgb(0 0 0 / 59%) 4px -11px 10px;
        top: 0;
        bottom: 0;
        z-index: 999;
        background-color: var(--white);
    }

    .callDashParkedCalls.messageDower.absolutePanel .callDashParkedCallsBtn {
        left: -15px !important;
    }

    .smBlock {
        display: block !important;
    }
}

@media (min-device-width:1100px) and (max-device-width: 1300px) {
    .tangoNavs .nav-tabs .nav-link {
        padding: 10px 15px;
        font-size: 0.7rem;
    }

    .mainContentApp .tabLink {
        padding: 10px 20px;
    }

    /* table th {
        text-wrap: nowrap;
    } */


    element.style {
        --progress: 0;
    }

    .circular-progress {
        --size: 208px !important;
        --stroke-width: 25px;

    }

    .mainContent .circularProgressWrapper {

        height: 209px !important;
        width: 209px !important;

    }

    .webrtc_newMessageUi {
        overflow: hidden;
        position: relative;
    }

    .callDashParkedCalls.messageDower.absolutePanel {
        position: absolute;
        right: 0;
        box-shadow: rgb(0 0 0 / 59%) 4px -11px 10px;
        top: 0;
        bottom: 0;
        z-index: 999;
    }

    .callDashParkedCalls.messageDower.absolutePanel .callDashParkedCallsBtn {
        left: -15px !important;
    }

    .smBlock {
        display: block !important;
    }
}

@media (max-device-width: 1480px) {
    /* .messageSlideBox {
        width: 40% !important;
    } */

    .mainContentApp .contactListItem h5 {
        max-width: 100px;
    }

    .callDetailsWidth {
        max-width: 130px;
        width: 100%;
    }

    .mainContentApp .webrtc_newMessageUi .profileHolder {
        width: 35px;
        height: 35px;
    }

    .file_list .ellipsisText {
        width: 128px;
    }

    .webrtc_newMessageUi .messageOverlay.groupChat .messageList {
        height: calc(100vh - 312px);
    }
}

@media (max-device-width: 1366px) {
    /* h3 {
        font-size: 22px;
    } */

    /* h4 {
        font-size: 16px !important;
    } */

    .formLabel {
        /* font-size: 12px; */
        max-width: 200px;
    }

    /* .itemWrapperb .heading {
        font-size: 10px;
    } */

    .mainContent .itemWrapper {
        padding: 10px;
    }

    /* .itemWrapper .heading h5,
    .profileView .profileDetailsHolder .header,
    .profileView .baseDetails .content h5 {
        font-size: 15px !important;
    } */

    .itemWrapper .heading i {
        width: 35px;
        height: 35px;
        padding: 10px;
    }

    .itemWrapper .data-number2 h5 {
        font-size: 1.125rem;
    }

    /* .itemWrapperb .label2 {
        font-size: 11px;
    } */

    /* .tangoNavs .nav-tabs .nav-link,
    .qLinkContent p,
    .accordion .accordion-button,
    .mainContentApp .tab-content .callListItem h4,
    .myProfileWidget .profileName,
    .mainContentApp .tab-content .contactListItem h4 {
        font-size: 14px !important;
    } */

    .tangoNavs .nav-tabs .nav-link {
        padding: 10px 10px;
        font-size: 0.7rem;
    }

    .formItem {
        padding: 5px 5px;
        font-size: 0.75rem;
    }

    table td,
    table th {
        padding: 5px 5px;
        white-space: nowrap;
    }

    table tbody tr td,
    table th,
    .myProfileWidget .profileName span.status,
    .itemWrapper .heading p {
        font-size: 0.6875rem;
    }

    #detailsHeader {
        padding: 5px 15px;
    }

    /* #detailsHeader .profileName,
    .clearColorButton {
        font-size: 14px;
    } */

    .overviewTableWrapper {
        padding: 15px;
    }

    /* .overviewTableChild .formScroller {
        max-height: calc(100vh - 150px);
    } */

    .overviewTableWrapper .tableContainer {
        height: calc(100vh - 320px)
    }

    /* .viewingAs span,
    .messageOverlay .contactHeader h4 {
        font-size: 16px !important;
    } */

    .loginWrapper2 {
        height: auto;
    }

    .loginWave {
        bottom: -10px;
    }

    .loginWave img {
        height: 100%;
    }

    .videoCallWrapper .videoBody {
        height: calc(100vh - 68px);
    }

    .someTempDialerDesign ul li .numberHolder {
        width: 30px;
        height: 30px;
        margin-right: 5px;
    }

    .someTempDialerDesign ul li .textHolder h3 {
        font-size: 1rem;
    }

    .someTempDialerDesign ul li:not(:last-child)::after {
        top: 35px;
        left: 15px;
    }

    .mainContent .itemWrapper.shadow-none {
        height: 90px;
        padding: 5px;
    }

    /* .formRow .formItemDesc {
        font-size: 9px;
    } */

    .mainContent .circularProgressWrapper {
        width: 200px;
        height: 200px;
    }

    .circular-progress {
        --size: 200px;
    }

    .headingExtraInfo span.badge.rounded-pill {
        font-size: 0.625rem;
    }

    .customRow {
        grid-template-columns: repeat(auto-fit, minmax(92px, 1fr));
    }

    .call_dCard {
        min-height: 110px;
    }


    .messageInterCall {
        max-width: 100vw !important;
        max-height: 100vh !important;
    }
}

@media (max-width: 1099px) {
    .customRow {
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    }

}

/* 
@media (max-width: 1024px) {
    .customRow {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }

} */

@media only screen and (max-width : 991px) {
    .menuWrapper .accordion-header .tabButton {
        right: 27px !important;
    }

    .mainContent {
        margin-left: inherit;
        padding-left: inherit;
    }

    #sidenNav {
        left: -1000px;
    }

    .mainContent #subPageHeader {
        padding: 10px 10px !important;
    }

    table tr th:first-child {
        padding-left: 5px !important;
        width: 10px !important;
    }

    table tr td:first-child {
        padding-left: 5px !important;
        width: 10px !important;
    }

    /* .getApp {
        font-size: 14px;
    } */

    .masterList ul li input {
        width: 82%;
    }

    #detailsContent {
        margin: 0 !important;
        padding: 0 !important;
    }

    .formItem {
        padding-right: 0;
    }

    .circularLoader {
        width: 100vw;
    }

    .formRow.col-xl-3 {
        width: unset;
        /* margin-right: 70px; */
    }

    /* .formRow.col-xl-3 {
        width: inherit !important;
        margin-right: 0px;
    } */

    .callerContent .user .userProfileContainer {
        margin: 0;
    }

    .formLabel {
        max-width: 100%;
    }

    .loginWrapper2 {
        width: 95%;
    }

    .loginWave {
        height: 125px;
    }

    .overviewTableWrapper {
        padding: 15px;
    }

    /* .overviewTableWrapper .heading {
        display: block;
    } */

    .overviewTableWrapper .heading .content {
        margin-bottom: 15px;
    }

    /* .formRow .col-6 {
        width: 100%;
    } */

    .formRow.col-xl-3:nth-child(odd) {
        margin-right: 0;
    }

    #detailsHeader .profileName {
        max-width: 65px;
    }

    table th {
        /* text-wrap: nowrap; */
        white-space: nowrap;
    }

    .tableHeader .showEntries {
        margin-bottom: 10px;
    }

    .tableHeader .formRow {
        width: 50%;
    }

    .popup .content {
        width: 95%;
    }

    .mainContentApp {
        margin-left: 0 !important;
    }

    .newMessageBoxUi {
        padding-left: 0;
        margin-top: 20px;
        height: 100vh;
        /* height: calc(100vh - 140px); */

    }

 
    #sidenNavApp {
        width: 100%;
        height: 54px;
        bottom: 0;
        left: 0;
        overflow-x: auto;
    }

    #sidenNavApp .sidenavItems {
        height: 100%;
    }

    #sidenNavApp .sidenavItems ul {
        display: flex;
        justify-content: space-around;
        line-height: inherit;
        height: 100%;
    }

    #sidenNavApp .sidenavItems ul li:first-child {
        display: none;
    }

    #sidenNavApp .sidenavItems ul li {
        display: flex;
        align-items: center;
        padding: 5px 10px;
    }

    #sidenNavApp .sidenavItems ul li .navItem {
        padding: 0;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #sidenNavApp .sidenavItems ul li .navItem .iconHolder {
        margin: 0;
    }

    #sidenNavApp .sidenavItems ul .itemTitle {
        display: none;
    }

    .mainContent .itemWrapper.accordion-item {
        max-height: max-content;
    }

    .customRow {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .newVoicemailBoxUi {
        margin-top: 20px;
        padding-left: 0;
        height: 100vh !important;
    }

    .messageOverlay {
        height: auto !important;
    }

    .filePanelActive {
        height: calc(100vh - 276px);
    }
       .w50 {
        max-width: 90% !important;
    }

}

@media (max-width: 767px) {
    .chat_menu {
        display: block;
    }

    .chat_nav {
        background: #fff;
        position: absolute;
        left: -1000%;
        transition: all 0.4s ease-in-out;
        z-index: 2;
        opacity: 0;
    }

    .chat_nav.hidden {
        left: 0;
        opacity: 1;
    }

    .left_listClose {
        display: block;
    }

    .tangoNavs.store__nav .nav-tabs {
        flex-direction: column-reverse;
    }
}

@media (max-width: 575px) {
    #detailsHeader .clearColorButton {
        padding-inline: 10px;
    }

    /* .flex_wrap575 {
        flex-wrap: wrap;
    } */
    .overviewTableWrapper .heading {
        flex-wrap: wrap;
    }
}