@media (max-device-width: 1500px) {

    /* .formRow.col-xl-3 {
        width: 16.5%;
    } */

    table th {
        white-space: nowrap;
        font-size: 0.75rem;

        padding: 10px 4px;
    }

    .tangoNavs .nav-tabs .nav-link {
        font-size: 0.75rem;
    }

    .mainContentApp .contactListItem p.timeAgo,
    .callListItem p.timeAgo {
        font-size: 14px;
    }

}

@media (max-width: 1575px) {
    .mainContentApp .contactListItem h5 {
        max-width: 200px;
    }

    .numberActive_box p {
        font-size: 10px !important;
    }

    .gridCard {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)) !important;
    }

}

@media (max-device-width: 2250px) {

    .customRow {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        /* grid-template-columns: repeat(2, 177px); */
    }


}

@media (max-device-width: 1750px) {
    .customRow {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
}

@media (max-device-width: 1700px) {
    .tabLink span {
        display: none;
    }

    .loginWrapper2 .loginImgWrapper .content h3.login_text {
        font-size: 2.4rem;
    }
}

@media (max-width: 1199px) {
    .mainContentApp .webrtc_newMessageUi .tabLink {
        padding: 10px 10px;
    }

    .webrtc_newMessageUi {
        overflow: hidden;
        position: relative;
    }

    .callDashParkedCalls.messageDower.absolutePanel {
        position: fixed;
        right: 0;
        box-shadow: rgb(0 0 0 / 59%) 4px -11px 10px;
        top: 0;
        bottom: 0;
        z-index: 999;
        background-color: var(--white);
    }

    .callDashParkedCalls.messageDower.absolutePanel .callDashParkedCallsBtn {
        left: -15px !important;
    }

    .smBlock {
        display: block !important;
    }

    .clickToCall .clickToCallModule {
        width: 100%;
    }
}

@media (min-device-width:1100px) and (max-device-width: 1300px) {
    .tangoNavs .nav-tabs .nav-link {
        padding: 10px 15px;
        font-size: 0.7rem;
    }

    .mainContentApp .tabLink {
        padding: 10px 20px;
    }

    .ellipsisText300 {
        max-width: 100%;
    }

    .table tbody tr td {
        width: 100%;
    }

    /* table th {
        text-wrap: nowrap;
    } */


    element.style {
        --progress: 0;
    }

    /* .circular-progress {
        --size: 208px !important;
        --stroke-width: 25px;

    } */

    /* .mainContent .circularProgressWrapper {

        height: 209px !important;
        width: 209px !important;

    } */

    .webrtc_newMessageUi {
        overflow: hidden;
        position: relative;
    }

    .callDashParkedCalls.messageDower.absolutePanel {
        position: absolute;
        right: 0;
        box-shadow: rgb(0 0 0 / 59%) 4px -11px 10px;
        top: 0;
        bottom: 0;
        z-index: 999;
    }

    .callDashParkedCalls.messageDower.absolutePanel .callDashParkedCallsBtn {
        left: -15px !important;
    }

    .smBlock {
        display: block !important;
    }
}

@media (max-device-width: 1480px) {
    /* .messageSlideBox {
        width: 40% !important;
    } */

    .mainContentApp .contactListItem h5 {
        max-width: 100px;
    }

    .callDetailsWidth {
        max-width: 130px;
        width: 100%;
    }

    .mainContentApp .webrtc_newMessageUi .profileHolder {
        width: 35px;
        height: 35px;
    }

    .file_list .ellipsisText {
        width: 128px;
    }

    .webrtc_newMessageUi .messageOverlay.groupChat .messageList {
        height: calc(100vh - 312px);
    }
}

@media (max-width: 1399px) {
    .progressStepWrapper {
        flex-direction: row;
        justify-content: space-between;
    }

    .progress-bar {
        height: 4px;
    }

    .progressStepWrapper .stepWrapper {
        flex-direction: column;
    }

    .profileView .baseDetails.wrpDetails__box {
        padding-left: 0;
        justify-content: center;
    }

    .wrpDetails__box .progress {
        width: 90%;
        box-shadow: none;
        height: 4px;
        position: absolute;
        top: 28px;
        margin: unset;
        margin-left: 20px;
    }

    .card-body.aiAgentTab.selectTemplate {
        min-height: 700px !important;
    }

    .clearButton2.refresh {
        width: 25px;
        height: 25px;
    }


    .loginGirlsImg {
        width: 239px;
    }

    .loginWrapper2 .loginImgWrapper .content h3.login_text {
        font-size: 2.4rem;
    }

    .loginChat {
        margin-top: 20px;
    }
}

@media (min-device-width:992px) and (max-device-width: 1365px) {
    .formRow.col-xl-3:nth-child(odd) {
        margin-right: 0px;
    }

    .formLabel {
        width: 45%;
    }

    .formRow.col-xl-3 {
        width: 100%;
    }

    /* 
    .callDashParkedCalls button.callDashParkedCallsBtn {
        left: -8px;
    } */
}

@media (max-device-width: 1366px) {
    /* h3 {
        font-size: 22px;
    } */

    /* h4 {
        font-size: 16px !important;
    } */
    .formLabel {
        width: 50%;
    }

    /* .itemWrapperb .heading {
        font-size: 10px;
    } */

    .mainContent .itemWrapper {
        padding: 10px;
    }

    /* .itemWrapper .heading h5,
    .profileView .profileDetailsHolder .header,
    .profileView .baseDetails .content h5 {
        font-size: 15px !important;
    } */

    .itemWrapper .heading i {
        width: 35px;
        height: 35px;
        padding: 10px;
    }

    .itemWrapper .data-number2 h5 {
        font-size: 1.125rem;
    }

    .ellipsisText300 {
        max-width: 100%;
    }

    .table tbody tr td {
        width: 100%;
    }

    .tangoNavs .nav-tabs .nav-link {
        padding: 10px 5px;
        font-size: 0.7rem;
    }

    .formItem {
        padding: 5px 5px;
        font-size: 0.75rem;
    }

    table td,
    table th {
        padding: 5px 5px;
        white-space: nowrap;
    }

    table tbody tr td,
    table th,
    .myProfileWidget .profileName span.status,
    .itemWrapper .heading p {
        font-size: 0.6875rem;
    }

    #detailsHeader {
        padding: 5px 15px;
    }

    .overviewTableWrapper {
        padding: 15px;
    }

    .overviewTableWrapper .tableContainer {
        height: calc(100vh - 320px);
    }

    .overviewTableWrapper .tableContainer.mail_table {
        height: calc(100vh - 320px) !important;
    }

    .loginWave {
        bottom: -10px;
    }

    .loginWave img {
        height: 100%;
    }

    .videoCallWrapper .videoBody {
        height: calc(100vh - 68px);
    }

    .someTempDialerDesign ul li .numberHolder {
        width: 30px;
        height: 30px;
        margin-right: 5px;
    }

    .someTempDialerDesign ul li .textHolder h3 {
        font-size: 1rem;
    }

    .someTempDialerDesign ul li:not(:last-child)::after {
        top: 35px;
        left: 15px;
    }

    .mainContent .itemWrapper.shadow-none {
        height: 90px;
        padding: 5px;
    }

    .headingExtraInfo span.badge.rounded-pill {
        font-size: 0.625rem;
    }

    .customRow {
        grid-template-columns: repeat(auto-fit, minmax(92px, 1fr));
    }

    .call_dCard {
        min-height: 110px;
    }


    .messageInterCall {
        max-width: 100vw !important;
        max-height: 100vh !important;
    }

    .permissionsConfigWrapper .heading i {
        width: 32px;
        height: 32px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .loginWrapper2 .loginImgWrapper .content {
        padding: 20px 50px;
    }

    .loginGirlsImg {
        width: 239px;
    }

    .loginWrapper2 .loginImgWrapper .content h3.login_text {
        font-size: 2.4rem;
    }

    .loginChat {
        margin-top: 20px;
    }

    .contactTags {
        width: auto;
    }
}

@media (max-width: 1099px) {
    .customRow {
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    }

    .ellipsisText300 {
        max-width: 100%;
    }

    .table tbody tr td {
        width: 100%;
    }

    .callDashParkedCalls {
        max-width: 50%;
    }
}

/* 
@media (max-width: 1024px) {
    .customRow {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }

} */

@media only screen and (max-width : 991px) {
    .menuWrapper .accordion-header .tabButton {
        right: 27px !important;
    }

    .mainContent {
        margin-left: inherit;
        padding-left: inherit;
    }

    #sidenNav {
        left: -1000px;
    }

    .mainContent #subPageHeader {
        padding: 10px 10px !important;
    }

    table tr th:first-child {
        padding-left: 5px !important;
        width: 10px !important;
    }

    table tr td:first-child {
        padding-left: 5px !important;
        width: 10px !important;
    }

    /* .getApp {
        font-size: 14px;
    } */

    .masterList ul li input {
        width: 82%;
    }

    #detailsContent {
        margin: 0 !important;
        padding: 0 !important;
    }

    /* .formItem {
        padding-right: 0;
    } */

    .circularLoader {
        width: 100vw;
    }

    .formRow.col-xl-3 {
        width: unset;
        /* margin-right: 70px; */
    }

    /* .formRow.col-xl-3 {
        width: inherit !important;
        margin-right: 0px;
    } */

    .callerContent .user .userProfileContainer {
        margin: 0;
    }

    /* .formLabel {
        max-width: 100%;
    } */

    .loginWrapper2 {
        width: 95%;
    }

    .loginWave {
        height: 125px;
    }

    .overviewTableWrapper {
        padding: 15px;
    }

    /* .overviewTableWrapper .heading {
        display: block;
    } */

    .overviewTableWrapper .heading .content {
        margin-bottom: 15px;
    }

    /* .formRow .col-6 {
        width: 100%;
    } */

    .formRow.col-xl-3:nth-child(odd) {
        margin-right: 0;
    }

    #detailsHeader .profileName {
        max-width: 65px;
    }

    table th {
        /* text-wrap: nowrap; */
        white-space: nowrap;
    }

    .tableHeader .showEntries {
        margin-bottom: 10px;
    }

    .tableHeader .formRow {
        width: 50%;
    }

    .popup .content {
        width: 95%;
    }

    .mainContentApp {
        margin-left: 0 !important;
    }

    /* .newMessageBoxUi {
        padding-left: 0;
        margin-top: 0;
        height: 100vh;
    position: absolute;
    top: 0;
    inset: 0;
    z-index: 99;
}

*/
    #sidenNavApp {
        width: 100%;
        height: 54px;
        bottom: 0;
        left: 0;
        overflow-x: auto;
    }

    #sidenNavApp .sidenavItems {
        height: 100%;
    }

    #sidenNavApp .sidenavItems ul {
        display: flex;
        justify-content: space-around;
        line-height: inherit;
        height: 100%;
    }

    #sidenNavApp .sidenavItems ul li:first-child {
        display: none;
    }

    #sidenNavApp .sidenavItems ul li {
        display: flex;
        align-items: center;
        padding: 5px 10px;
    }

    #sidenNavApp .sidenavItems ul li .navItem {
        padding: 0;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #sidenNavApp .sidenavItems ul li .navItem .iconHolder {
        margin: 0;
    }

    #sidenNavApp .sidenavItems ul .itemTitle {
        display: none;
    }

    .mainContent .itemWrapper.accordion-item {
        max-height: max-content;
    }

    .customRow {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .newVoicemailBoxUi {
        margin-top: 20px;
        padding-left: 0;
        height: 100% !important;
    }

    .messageOverlay {
        height: 100% !important;
        margin-block: 20px;
    }

    .filePanelActive {
        height: calc(100vh - 276px);
    }

    .w50 {
        max-width: 90% !important;
    }

    .batchCallCanvas {
        width: 100% !important;
    }

    .custom-controls-container {
        position: static !important;
    }

    .lk-settings-menu-modal {
        min-width: 90vw;
    }

    /* ---active calls */

    .leftPanel {
        flex: 1;
        /* overflow: auto; */
    }

    .responsivePAnel {
        display: block !important;
    }

    .responsivePAnel .clearButton2.z-2 {
        display: none !important;
    }

    .rightPanel .resBottom {
        flex-wrap: wrap;
    }

    .tawk-wizard-chat-form {
        margin-top: 0 !important;
        padding: 0 13px 30px !important;
    }

    .ringingCallsWrap {
        padding-top: 0;
    }

    .formRow.col-xl-3 {
        width: 100%;
    }

    .tableHeader .showEntries {
        width: 100%;
        justify-content: flex-start;
    }

    .col {
        flex: 1 0 20%;
    }

    .callDashParkedCalls button.callDashParkedCallsBtn {
        left: -4px;
    }

    .popup_box {
        max-width: 100% !important;
    }

    .mailCardBody {
        height: calc(-211px + 100vh) !important;
    }

    .table_card {
        height: calc(100vh - 231px);
    }

    .mail_leftbar ul {
        height: calc(100vh - 295px);
    }

    .mail_table {
        height: calc(-395px + 100vh) !important;

    }

    .gridCall .card-body {
        max-width: 219px;
        width: 100%;
    }

    .gridCall .card-body {
        padding-right: 36px !important;
        width: 100%;
    }

    .skiptranslate span {
        white-space: break-spaces !important;
    }

    .webrtc_newMessageUi {
        padding: 10px 10px 80px 10px;
    }
}

@media (max-width: 767px) {
    .chat_menu {
        display: block;
    }

    .mw-sm-100 {
        max-width: 100%;
        width: 100%;
    }

    .chat_nav {
        background: #fff;
        position: absolute;
        left: -1000%;
        transition: all 0.4s ease-in-out;
        z-index: 2;
        opacity: 0;
    }

    .chat_nav.hidden {
        left: 0;
        opacity: 1;
    }

    .left_listClose {
        display: block;
    }

    .tangoNavs.store__nav .nav-tabs {
        flex-direction: column-reverse;
    }

    .progressStepWrapper {
        gap: 10px;
    }

    .sin-testiImage {
        width: 124px;
        height: 124px;
    }

    .badgeGroup {
        justify-content: flex-start;
    }

    .clickToCall .clickToCallModule {
        width: 100%;
    }

    /* 
    .callDashParkedCalls button.callDashParkedCallsBtn {
        left: -13px;
    } */

    .gridCall .card-body {
        padding-right: 20px !important;
        width: 100%;
    }

    .small-widget .bg-gradient {
        right: -14px !important;
    }

    .callDashParkedCalls {
        max-width: 60%;
    }

}

@media (max-width: 575px) {
    #detailsHeader .clearColorButton {
        padding-inline: 10px;
    }

    /* .flex_wrap575 {
        flex-wrap: wrap;
    } */
    .overviewTableWrapper .heading {
        flex-wrap: wrap;
    }

    #detailsHeader h4 {
        font-size: 1rem !important;
    }

    .headingExtraInfo .ms-auto {
        margin-left: unset !important;
    }

    .addNewContactPopup {
        max-width: 92%;
        width: 100%;
    }

    .col {
        flex: 1 0 40%;
    }

    .adjustHeight {
        height: calc(-419px + 100vh) !important;
    }


    .callDashParkedCalls {
        max-width: 80%;
    }

    .formLabel {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .clickToCall .clickToCallModule .clickToCallHeader .wrapper {
        justify-content: center;
        flex-direction: column;
    }

    .clickToCall .clickToCallModule .clickToCallHeader {
        padding: 15px 12px;
        text-align: center;
    }

    .gridCard {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)) !important;
    }

    .small-widget .bg-gradient {
        right: -0 !important;
    }

    .searchBox input[type=search] {
        min-width: auto;
    }
}

@media only screen and (max-height : 750px) {
    .loginWrapper2 {
        height: 90dvh;
    }
}