table {
    width: 100%;
}

table td {
    padding: 8px 10px !important;
    font-size: 0.75rem;
    color: var(--table-text);
}

table th {
    padding: 5px 10px !important;
    font-size: 0.875rem;
    background-color: var(--table-head);
    white-space: nowrap;
    width: 200px;
    color: var(--form-label);
}

table thead tr {
    /* background-color: var(--div-color); */
    /* border-bottom: 1px solid var(--border-color) !important; */
}

table tbody tr {
    background-color: var(--table-even-bg);
    /* transition: 0.1s ease-in; */
    /* border-bottom: 1px solid var(--border-color); */
    position: relative;
}

table tbody tr:not(:last-child) {
    /* border-bottom: 1px solid var(--border-color); */
}

table tbody tr td {
    cursor: pointer;
    font-weight: 400;
    font-size: 0.875rem;
    white-space: nowrap;

    width: 200px;
}

table tbody tr td a {
    text-decoration: none;
    color: #000;
}


table tbody tr:hover {
    /* background-color: rgba(70, 8, 255, 0.089) !important; */
    /* background-color: #83b6ff4f !important; */
}

table tbody tr:nth-child(even) {
    background-color: var(--table-odd-color);
    /* background-color: var(--table-even-bg); */
}

table tr td:first-child {
    padding-left: 10px;
    /* width: max-content; */
}

table tr th:first-child {
    padding-left: 10px;
    /* width: max-content; */
}

/* #detailsHeader{
    position: sticky;
    top: 64px;
    background-color: var(--div-color);
    z-index: 1;
    padding: 10px 7px !important;
    margin: 10px 8px;
    border-radius: 7px;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
} */
.tableContainer {
    margin-top: 10px;
    border: 1px solid var(--table-border-color);
    overflow: hidden auto;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    border-radius: 5px;
    margin-bottom: 10px;
    /* box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 5px; */
    background-color: var(--ele-color);
    min-height: 271px;
}

.tableContainer thead {
    position: sticky;
    top: 0;
    z-index: 9;
}

.tableHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.tableFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-block: 8px;
}

.tableHeader .showEntries {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tableHeader .showEntries label,
.tableHeader .searchBox label {
    margin-right: 10px;
    font-family: Roboto;
    color: var(--color-subtext);
    font-weight: 500;
    font-size: 0.875rem;
}

.tableHeader .showEntries select {
    margin-right: 10px;
}


.tableContainer #domain {
    display: none;
}

table .ellipsis {
    display: block;
    /* width: 100px; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.breakword {
    word-wrap: break-word;
    table-layout: fixed;
}

table td.missed,
table td.outgoing,
table td.incoming {
    position: relative;
}

table td.missed::after {
    content: '\e226';
    font-family: 'Font Awesome 6 Pro';
    position: absolute;
    left: -14px;
    top: 7px;
    color: red;
    font-size: 0.875rem;
    transform: rotate(0deg);
}

table td.outgoing::after {
    content: '\f061';
    font-family: 'Font Awesome 6 Pro';
    position: absolute;
    left: -8px;
    top: 5px;
    color: green;
    font-size: 1.125rem;
    transform: rotate(-45deg);
}

table td.incoming::after {
    content: '\f061';
    font-family: 'Font Awesome 6 Pro';
    position: absolute;
    left: -7px;
    top: 5px;
    color: green;
    font-size: 1.125rem;
    transform: rotate(130deg);
}

.mainContentApp .callDetails table tbody tr:nth-child(even) {
    background-color: var(--bg-color);
    /* background-color: var(--ele-color); */
}

.mainContentApp .callDetails table tbody tr {
    border-bottom: 1px solid var(--border-color);
}

#detailsHeader .context select {
    width: 90px;
    padding: 7px 0;
    text-overflow: ellipsis;
    font-size: 0.8125rem;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px;
    border-radius: 3px;
}

.secretSelect {
    position: absolute;
    right: 0px;
    top: 0;
    border: none;
    outline: none;
    height: 35px;
    background-color: transparent;
    border-left: 1px solid var(--border-color);
    border-radius: 0 50px 50px 0;
    font-size: 0.875rem;
    font-weight: 700;
    color: var(--color-subtext);
}

.searchBox {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.searchBox input[type=search] {
    min-width: 250px;
}


.searchBoxlable .para-line {
    text-decoration: underline;
    font-size: 14px;
    font-weight: 500;
}


.searchBoxlable .inputWrappers {
    position: relative;
    /* display: flex; */
    align-items: flex-end;
    /* border: 2px solid #ccc; */
    border-radius: 4px;
    padding: 0;
    /* No padding for container */
}


.inputWrappers .form-left {
    /* padding-left: 2.375rem; */
    height: 45px;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 16px;
    background: transparent;
    border: 1px solid white;
    color: white;
}



/* Style for the search icon */
.inputWrappers .searchIcon {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    right: 0px;
    top: 7px;
    font-size: 20px;

}

.formCustomAutoComplete {
    position: absolute;
    top: 38px;
    z-index: 1;
    background-color: white;
    height: max-content;
    max-height: 145px;
    overflow-y: auto;
    width: 230px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.formCustomAutoComplete ul {
    list-style: none;
    padding-left: 0;
    height: 100%;
    overflow: auto;
    margin-bottom: 0;
}

.formCustomAutoComplete ul li {
    padding: 7px 10px;
    font-size: 0.875rem;
    color: var(--color-subtext);
    font-weight: 500;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.formCustomAutoComplete ul li:hover {
    background-color: #c9e7ff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: #000;
}

.statusProfile {
    width: 7px;
    height: 7px;
    background-color: green;
    border-radius: 50%;
    margin: 0 10px;
}

.profileDropdown {
    /* display: none; */
    position: absolute;
    z-index: 999;
    top: 60px;
    right: 10px;
    background-color: var(--nav-color);
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: #fff;
    width: max-content;
}

.profileDropdown::after {
    content: '\f0d8';
    font-family: 'FontAwesome';
    color: var(--nav-color);
    position: absolute;
    top: -19px;
    right: 17px;
    font-size: 1.75rem;
}

.profileDropdown .dropdown-item,
.actionBtnDropdowns .dropdown-item {
    border-radius: 5px;
    padding: 5px;
}

.profileDropdown .dropdown-item:hover,
.actionBtnDropdowns .dropdown-item:hover {
    background-color: #ffffff50;

}

.profileDropdown a,
.actionBtnDropdowns a {
    text-decoration: none;
    color: var(--ele-color3);
    font-size: 0.875rem;
    font-weight: 400;
    padding: 5px 0px;
}

.tableDropdownSelect {
    border: none;
    background-color: transparent;
    /* padding: 5px 10px; */
    font-size: 0.8125rem;
    font-weight: 600;
    color: #000;
    font-family: Roboto;
    outline: none;
}

.tableProfilePicHolder {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid var(--ele-color);

    background-color: var(--ui-accent);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px;
}

.tableProfilePicHolder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tableProfilePicHolder i {
    color: #fff;
}

.tableProfilePicHolder>*:not(:first-child) {
    margin-left: -13px;
}


/* toggle switch  */


.cl-toggle-switch {
    position: relative;
    display: flex;
}

.cl-switch {
    position: relative;
    display: inline-block;
}

/* Input */
.cl-switch>input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    z-index: -1;
    position: absolute;
    right: 6px;
    top: -8px;
    display: block;
    margin: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgb(0, 0, 0, 0.38);
    outline: none;
    opacity: 0;
    transform: scale(1);
    pointer-events: none;
    transition: opacity 0.3s 0.1s, transform 0.2s 0.1s;
}

/* Track */
.cl-switch>span::before {
    content: "";
    float: right;
    display: inline-block;
    margin: 5px 0 5px 0;
    border-radius: 7px;
    width: 30px;
    height: 13px;
    background-color: rgb(0, 0, 0, 0.38);
    vertical-align: top;
    transition: background-color 0.2s, opacity 0.2s;
}

/* Thumb */
.cl-switch>span::after {
    content: "";
    position: absolute;
    top: 4px;
    right: 16px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: #fff;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    transition: background-color 0.2s, transform 0.2s;
}

/* Checked */
.cl-switch>input:checked {
    right: -10px;
    background-color: #85b8b7;
}

.cl-switch>input:checked+span::before {
    background-color: #85b8b7;
}

.cl-switch>input:checked+span::after {
    background-color: #018786;
    transform: translateX(16px);
}

/* Hover, Focus */
.cl-switch:hover>input {
    opacity: 0.04;
}

.cl-switch>input:focus {
    opacity: 0.12;
}

.cl-switch:hover>input:focus {
    opacity: 0.16;
}

/* Active */
.cl-switch>input:active {
    opacity: 1;
    transform: scale(0);
    transition: transform 0s, opacity 0s;
}

.cl-switch>input:active+span::before {
    background-color: #8f8f8f;
}

.cl-switch>input:checked:active+span::before {
    background-color: #85b8b7;
}

/* Disabled */
.cl-switch>input:disabled {
    opacity: 0;
}

.cl-switch>input:disabled+span::before {
    background-color: #ddd;
}

.cl-switch>input:checked:disabled+span::before {
    background-color: #bfdbda;
}

.cl-switch>input:checked:disabled+span::after {
    background-color: #61b5b4;
}