.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 25px;
  top: 0;
  /* transform: rotate(-90deg); */
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 7px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color4);
  /* border: 2px solid var(--ui-accent); */
  -webkit-transition: .4s;
  transition: .4s;
  height: 10px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 0px;
  bottom: -4px;
  background-color: var(--color-subtext);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #008521;
}

input:focus+.slider {
  box-shadow: 0 0 1px var(--ui-accent);
}

input:checked+.slider:before {
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
  transform: translateX(18px);
  background-color: #00ab2b;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* From Uiverse.io by arghyaBiswasDev */
/* The switch - the box around the slider */
.customTogle .switch {
  font-size: 1.0625rem;
  position: relative;
  display: inline-block;
  height: 20px;
  width: 45px;
}

/* Hide default HTML checkbox */
.customTogle .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.customTogle .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  border: 1px solid #adb5bd;
  transition: .4s;
  border-radius: 30px;

  height: 17px;
  width: 30px;
}

.customTogle .slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  border-radius: 20px;
  left: 2px;
  bottom: 2px;
  background-color: #adb5bd;
  transition: .4s;
}

.customTogle input:checked+.slider {
  background-color: #007bff;
  border: 1px solid #007bff;
}

.customTogle input:focus+.slider {
  box-shadow: 0 0 1px #007bff;
}

.customTogle input:checked+.slider:before {
  transform: translateX(13px);
  background-color: #fff;
}