.activeCallsSidePanel {
    width: var(--active-calls-sidePanel-width);
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    overflow-y: auto;
    z-index: 2;
    background-color: var(--bg-color);
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    transition: all 0.2s ease-in-out;
    border-left: 1px solid var(--border-color);
}

.callItem {
    display: flex;
    width: 100%;
    background-color: var(--ele-color);
    /* border-radius: 10px; */
    padding: 10px 10px;
    /* border: 1px solid #dddddd; */
    position: relative;
    overflow: hidden;
    /* border-left: 5px solid rgb(138, 138, 138); */
    border-bottom: 1px solid var(--border-color);
    /* margin-bottom: 5px; */
    opacity: 0.7;
    cursor: pointer;
}

.callItem.active {
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    border-left-color: #00d300;
    opacity: 1;
    /* background-color: #dee2e6; */
}

.callItem.ringing {
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    border-left-color: red;
    opacity: 1;
    /* background-color: #ff000014; */
}

.callItem.hold {
    border-left-color: #d39000;
}

.callItem.active .profilepicHolder::after {
    content: '\f095';
    font-family: 'FontAwesome';
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: #00d300;
    font-size: 0.625rem;
    position: absolute;
    bottom: -2px;
    right: -2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.callItem.hold .profilepicHolder::after {
    content: '\f04c';
    font-family: 'FontAwesome';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #d39000;
    font-size: 0.625rem;
    position: absolute;
    bottom: -2px;
    right: -2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.callItem.ringing .profilepicHolder::after {
    content: '\f2a0';
    font-family: 'FontAwesome';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
    font-size: 0.625rem;
    position: absolute;
    bottom: -2px;
    right: -2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.callItem .profilepicHolder {
    width: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    background-color: var(--ui-accent);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: relative;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    font-size: 1.5rem;
}

.callItem .callContent {
    margin-left: 10px;
    width: 110px;
}

.callItem .callContent h4 {
    font-size: 0.9375rem !important;
    margin: 0;
    font-family: Roboto;
    font-weight: 600;
}

.callItem .callContent h5 {
    font-size: 0.875rem !important;
    margin: 6px 0 0;
    font-family: Roboto;
    font-weight: 400;
    color: var(--color-subtext);
}

.callItem .callBtnGrp {
    display: flex;
    align-items: center;
}

.callItem .callBtnGrp .appPanelButtonCaller {
    width: 32px;
    height: 32px;
    font-size: 0.9375rem;
}

/* .callItem.ringing .callContent::after {
    content: 'Incoming';
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 0.75rem;
    background-color: red;
    border-radius: 50px;
    color: #fff;
    font-weight: 600;
    padding: 0 5px;
    animation: blinker 1.5s linear infinite;
} */

@keyframes blinker {
    50% {
        opacity: 0;
    }
}