/* Root Variables for Colors */
.product-container {
    --primary-color: rgb(24, 141, 236);

    /* --text-light-gray: #6a6a6a; */
    --button-hover-color: #0056b3;
    --background-color: #fff;
    /* --border-color: rgb(119, 119, 119); */
}


/* Product Grid */
.product-container {
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    text-align: center;
}

@media (max-width: 340px) {
    .product-container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}

/* Image Styling */
.product-container .product-image {
    width: 100px;
    height: 100px;
    transition: transform 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
}

.product-container .product-image img {
    width: 100%;
    height: 100%;
}



/* Product Title */
.product-container .product-title p,
.product-container .product-title {
    color: var(--secondary-color);
    font-weight: 500;
    font-style: normal;
    font-size: 1.125rem;
    /* font-family: 'neue_haas_grotesk_display_pro', Helvetica, Arial, sans-serif; */
    margin: 0;
    padding: 0;
}


/* Initially hide the Add to Cart section */
/* .add-to-cart-container {
    display: none;
    align-items: center;
    justify-content: center;
    margin-top: 10px;

} */
.add-to-cart-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 50%;
    opacity: 0;
    background: var(--color2);
    color: #fff;
    padding: 5px 10px;
    transition: all 0.4s ease-in-out;
    cursor: pointer;

}

.add-to-cart-container h4 {
    color: #fff;
}

/* Show the Add to Cart section only when hovering over .product-cart */
.product-cart:hover .add-to-cart-container {
    opacity: 1;
    width: 100%;

}


.product-cart {
    position: relative;
    padding: 25px 20px;
    background: var(--bg-color);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
}

.product-cart.active {
    border: 1px solid #00ab2b;
    background: #f2fff5;
}

.product-cart:hover .product-image {
    transform: scale(1.1);
}

.product-container input {
    height: 15px;
    width: 15px;
    margin: 2px;
}

.product-cart:hover {
    /* position: relative; */
    box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 12px -1px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    /* padding: 10px; */
    /* margin: 10px; */

}



.add-to-carts {
    position: absolute;
    /* top: 100px; */
    left: 270px;
    font-size: 1.25rem;
    color: #dbdada;
    cursor: pointer;

}

/* .product-container .product-title p:hover {
    color: var(--primary-color);
    transition: 0.6s;
    cursor: pointer;
} */

.product-container .product-title .text-smalls {
    color: var(--text-gray);
    font-size: 0.75rem;
    font-weight: 500;
}

.product-container .borders-left-small {
    border-left: 2px solid gray;
}

.product-container .total-price-month {
    font-size: 0.75rem;
    font-weight: 400;
}

/* Product Description */
.product-container .product-description {
    font-weight: 400;
    color: var(--color-subtext);
    font-size: 0.75rem;
}

.product-container .teext-color {
    /* color: var(--primary-color); */
    justify-content: center !important;
}

/* Product Price */
.product-container .teext-color .product-price {
    color: var(--secondary-color);
    font-size: 1.375rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

/* Add to Cart Button */
.product-container .add-to-cart p {
    margin: 0;
    padding: 0;
    border: 1px solid var(--primary-color);
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    height: 22px;
    width: 90px;
    color: var(--primary-color);
    font-weight: 500;
    cursor: pointer;
    position: relative;
    transition: all 0.3s;
    overflow: hidden;
    z-index: 1;


    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /* background-color:rgb(24, 141, 236); */
        color: white;
        /* border-radius: 10rem; */
        z-index: -2;
    }

    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: rgb(24, 141, 236);
        color: white;
        transition: all .3s;
        /* border-radius: 10rem; */
        z-index: -1;
    }

    &:hover {
        color: #fff;

        &:before {
            width: 100%;
        }
    }

}

.product-container .add-to-cart p:hover {
    color: var(--background-color);
}

.product-container .add-to-cart p::before {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    background-color: var(--primary-color);
    bottom: 0;
    left: 0;
    transition: width 0.3s;
    z-index: -1;
}

.product-container .add-to-cart p:hover::before {
    width: 100%;
}




.offcanvas-body {
    padding: 8px;
}

.offcanvas-sider {
    display: flex;
    align-items: center;
    justify-content: center;
}



/* Offcanvas Styling */
.offcanvas-sider img {
    height: 165px;
    width: 231px;
}


.offcanvas-sider .offcanvas-text-side p {
    color: var(--secondary-color);
    border-radius: 4px;
    font-weight: 600;
    font-style: normal;
    font-size: 1.0625rem;
    font-family: 'neue_haas_grotesk_display_pro', Helvetica, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}


.offcanvas-sider .offcanvas-text-side .text-font-small {
    color: var(--text-gray);
    font-size: 0.625rem;
    border-radius: 4px;
    font-weight: 600;
    font-style: normal;
    font-size: 0.625rem;
}

.offcanvas-sider .btn-add p {
    color: var(--background-color);
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    font-size: 0.8125rem;
    height: 25px;
    width: 66px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.offcanvas-text-side .text-number p {
    color: var(--secondary-color);
    font-weight: 500;
    font-style: normal;
    font-size: 2.1875rem;
    margin-bottom: 15px;
    text-align: center;

    margin: 0px;
    padding: 0px;
}

.offcanvas-text-side span {
    color: var(--secondary-color);
    font-weight: 400;
    font-style: normal;
    font-size: 0.75rem !important;
    /* margin-bottom: 15px; */
    text-align: center;

    margin: 0px;
    padding: 0px;
}

.offcanvas-text-side span.text {
    font-size: 14px !important;
}

.offcanvas-custom {
    background-color: #404146;
    /* Dark background */
    color: #ffffff;
    /* White text */
}

.offcanvas-custom offcanvas-custom {

    color: #ffffff;
    /* White text */
}

.offcanvas-custom a {
    color: #ffdd57;
    /* Custom link color */
}

.offcanvas-custom a:hover {
    color: #ffc107;
    /* Link hover color */
}

/* Paragraph Section */
.paragrap {
    padding: 15px;
}

.paragrap .para-hading p {
    font-size: 0.875rem;
    font-weight: 600;
}

.paragrap .para-hading h4 {
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
}

.paragrap ul {
    font-size: 0.8125rem;
    font-weight: 400;
    color: var(--secondary-color);
    padding: 10px;
}

.Additional-font h5 {
    font-size: 2.0625rem;
    font-weight: 600;
}


.hover-shadow:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.hero {
    padding: 115px 40px;
    text-align: center;
    width: 100%;
    background-position: center;
    background-color: #263346;
    background-image: url(https://assets.hotjar.com/cs-team/knowlege_base/theme_assets/hero.png);
    background-size: cover;
}


.content-artical {
    margin: 0 auto;
    margin-top: -65px;
    margin-bottom: 44px;
    background-color: #fff;
    max-width: 610px;
    width: 574px;
    height: auto;
    border: solid 1px #a6a8b3;
    border-radius: 8px;
    padding: 24px;
}

.content-artical h3:hover {
    text-decoration: underline;
}


.content-artical .icon-larges i {
    font-size: 25px;
    margin: 5px;
}


/* -------------------- new checkbox */


/* From Uiverse.io by vishnupprajapat */
.checkbox_wrapper {
    background: #0056b3;
    color: #fff;
    border-radius: 25px;
    padding: 5px 25px;
    position: relative;
    cursor: pointer;
    border: none;
    transition: 0.3s ease-in-out;
}

.checkbox_wrapper.edit {
    background: #00ab2b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox_wrapper:hover {
    background-color: #00701c;
}

.product-container input {
    height: 15px;
    width: 15px;
    margin: 2px;
    display: none;
    cursor: pointer;
}

.cartSvg {
    margin-right: 10px;
}

.cartSvg.addonsBtn {
    top: 6px;
}

.checkbox_wrapper.edit .cartSvg {
    top: 6px;
}

.cartSvg svg {
    fill: #fff;
    font-size: 20px;
}

.cartSvg i {
    font-size: 12px;
}

.thumbs-up-regular {
    animation: keyframes-fill .5s;
}

.thumbs-up-solid {
    display: none;
    animation: keyframes-fill .5s;
}

.checkbox_wrapper label {
    cursor: pointer;
}

.checkbox_wrapper input:checked~label .cartSvg .thumbs-up-regular {
    display: none;
}

.checkbox_wrapper input:checked~label .cartSvg .thumbs-up-solid {
    display: block;
}

.offcanvas_close {
    color: #fff;
    filter: invert(1);
    opacity: 1;
}

/* ------ Animation ------ */
@keyframes keyframes-fill {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    50% {
        transform: scale(1.2) rotate(-10deg);
    }
}

.canvas_list ul {
    padding-left: 30px;
}

.canvas_list ul li {
    list-style-type: none;
    position: relative;
    margin-bottom: 10px;
}

.canvas_list ul li::before {
    content: "";
    position: absolute;
    top: 0;
    left: -29px;
    background: url('../../images/icons/checked1.png') no-repeat center center;
    width: 16px;
    height: 16px;

}

.content_width {
    max-width: 200px;
    width: 100%;
}