.card80 {
    max-width: 90%;
    width: 100%;
}

.popup_box {
    border: 1px solid var(--me-border1);
    border-radius: 10px;
    padding: 20px;
    max-width: 383px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}
.card-title{
     color: var(--immortalBlack);
}
.aiAgentTab .nav {
    max-width: 300px;
    width: 100%;
}

.aiAgentTab .nav .nav-link {
    text-align: start;
}
.aiAgentTab .nav .nav-link.active{
    background-color: var(--color2);
}

.card-body.aiAgentTab .popup-border {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aiAgentTab .nav-link {
    color: var(--immortalBlack);
}
.popup_box h5{
     color: var(--immortalBlack);
}
.KnowledgeLeftinfo{
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
}
.info_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--me-border1);
    padding-bottom: 10px;
}
.knowledge__list{
    padding-top: 15px;
}
.knowledge__list .nav .nav-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--form-label);
}
.knowledge__list .nav .nav-link.active{
    background-color: #dbedff;
}
.knowledge__list .nav .nav-link.active i{
    color: #066ed7;
}
.KnowledgeRightinfo {
    background-color: #f9f9f9;
    height: 100%;
    border-radius: 10px;
}