.card.customAicard {
    border-radius: .5rem;
    border: 0;
    background-color: var(--white);
    box-shadow: 0 .125rem 0 rgba(10, 10, 10, .04);
    position: relative;
    margin-block-end: 1.5rem;
    width: 100%;
    /* height: 100%; */
    padding: 1.25rem;
}

.card.customAicard .card-title {
    position: relative;
    margin-block-end: 0;
    font-size: .9375rem;
    font-weight: 700;
    text-transform: capitalize;
}

.card.customAicard .card.custom-card .card-header {
    padding: 1rem 1.25rem;
    background-color: transparent !important;
    border-block-end: 1px solid #f3f3f3;
    display: flex;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    gap: .25rem;
}

.fs-12 {
    font-size: 12px;
}

.fs-10 {
    font-size: 10px;
}

.bg-success-transparent {
    background-color: var(--success-bg-rgb) !important;
    color: var(--success-text-rgb) !important;
    border: 1px dashed #26bf94;
}

.c_avatar.avatar-md {
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: .8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    flex-shrink: 0;
    /* background: #fff; */
}

.avatar-purple {
    background-color: #BF83FF;
}

.bg-primary {
    background-color: #845adf;
}

.bg-info {
    background-color: #23b7e5;
}

.bg-warning {
    background-color: #fe9f43 !important;
}

.line-bg-primary::before {
    background-color: #487fff;
    box-shadow: 2px 1px 7px 0px rgba(29, 128, 252, 0.6);
}

.left-line::before {
    position: absolute;
    content: "";
    width: 4px;
    height: 100%;
    background-color: #487fff;
    border-radius: 100px;
    left: -1px;
    top: 0;
    box-shadow: 2px 1px 7px 0px rgba(29, 128, 252, 0.6);
}

.gradient-deep-1 {
    background: linear-gradient(25deg, #0f509e, #1399cd);
}

.billing_card3 {
    background: linear-gradient(25deg, #0f509e, #1399cd);
}

.personal-goals-list li {
    margin-block-end: 1.5rem;
}

.avatar.avatar-rounded {
    border-radius: 50%;
}

.bg-secondary-transparent {
    background-color: var(--secondary-rgb-bg) !important;
    color: var(--secondary-rgb-text) !important;
    border: 1px dashed var(--secondary-rgb-text);
}

.avatar {
    position: relative;
    height: 2.625rem;
    width: 2.625rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    color: #fff;
    font-weight: 500;
}

.flex-fill {
    flex: 1 1 auto !important;
}

.progress-stacked.progress-xs,
.progress.progress-xs {
    height: .3125rem;
}

.bg-warning-transparent {
    background-color: rgb(245 184 73 / 10%) !important;
    color: #f5b849 !important;
    border: 1px dashed #f5b849;
}

/* ============================ new style */

.card {
    margin-bottom: 20px;
    border: none;
    /* transition: all 0.3s ease; */
    letter-spacing: 0.5px;
    border-radius: 15px;
    box-shadow: 0px 9px 20px rgba(46, 35, 94, 0.07);
    width: 100%;
}

/* ======= */
.lightBG_ai {
    background: var(--light-bg);
}

.small-widget .card-body {
    padding: 24px 15px;
}

.f-light {
    color: rgba(82, 82, 108, .8);
}

.small-widget h4 {
    margin-bottom: -3px;
}

.small-widget .bg-gradient {
    align-items: center;
    border-radius: 94px 0 100px 100px;
    display: flex;
    height: 95px;
    justify-content: center;
    position: absolute;
    right: -3px;
    top: 45%;
    transform: translateY(-50%);
    width: 95px;
}

.primary .bg-gradient {
    background-image: linear-gradient(144.16deg, rgb(115 102 255 / 0%) 19.06%, rgb(22 0 253 / 18%) 79.03%) !important;
    border: 1px dashed #777edd;
}

.cardbg_gradient {
    background: var(--gradient-bg1);
    /* background: linear-gradient(90deg, rgb(181 177 255 / 68%) 0%, rgb(230 230 255) 35%, rgb(233 210 255 / 14%) 100%) */
}

.cardbg_gradient2 {
    background: var(--gradient-bg2);
    /* background: linear-gradient(90deg, rgb(96 186 221 / 28%) 0%, rgb(115 239 166 / 17%) 50%, rgb(233 255 201 / 41%) 100%); */
}

.cardbg_gradient3 {
    /* background: #7d2a9b; */
    background: var(--gradient-bg3);
    /* background: linear-gradient(90deg, rgb(255 178 178 / 29%) 0%, rgb(181 167 21 / 11%) 50%, rgb(255 104 0 / 18%) 100%); */
}

.small-widget .bg-gradient i {
    font-size: 35px;
}

.primary i {
    color: #7366ff;
}

.font-primary {
    color: #7366ff !important;
}

.warning.list-group-item i {
    color: #7366ff;
}

.font-warning {
    color: #7366ff !important;
}

.success i {
    color: #7366ff;
}

.font-success {
    color: #54ba4a !important;
}

.warning .bg-gradient {
    background-image: linear-gradient(144.16deg, rgb(255 170 5 / 0%) 19.06%, rgb(255 170 5 / 21%) 79.03%) !important;
    border: 1px dashed #ff8600;
}

.success .bg-gradient {
    background-image: linear-gradient(144.16deg, rgb(84 186 74 / 0%) 19.06%, rgb(84 186 74 / 22%) 79.03%) !important;
    border: 1px dashed #0d9119;
}

.card-body .text25 {
    font-size: 18px;
    color: var(--text-blue-dark);
    font-weight: 500;
}

/* ------------------------------- */


.card .card-header.card-no-border {
    border-bottom: none !important;
}

.card .card-header {
    background-color: transparent;
    border-bottom: 1px solid var(--me-border1);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 10px 20px;
    position: relative;
}

/* .card-header:first-child {
    border-radius: var(--bs-card-inner-border-radius) var(--bs-card-inner-border-radius) 0 0;
} */

.schedule-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list-group-item:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.schedule-list>li {
    border-radius: 10px;
    box-shadow: 4px 7px 17px 5px rgba(46, 35, 94, .05) !important;
    gap: 10px;
    padding: 15px 20px !important;
    position: relative;
    border: none;
}

.schedule-list li {
    align-items: center;
    display: flex;
}

.schedule-list>li.primary:before {
    background-color: #23b7e5;
    /* background-color: var(--theme-default); */
}

.schedule-list>li:before {
    border-radius: 15px 0 0 15px;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 5px;
}

.list-group-item+.list-group-item {
    border-top-width: 0;
}

.list-group-item:last-child {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

.schedule-list>li {
    border-radius: 10px;
    box-shadow: 4px 7px 17px 5px rgba(46, 35, 94, .05) !important;
    gap: 10px;
    padding: 15px 20px !important;
    position: relative;
    background: var(--list-bg);
}

.schedule-list li {
    align-items: center;
    display: flex;
}

.bg-success {
    background-color: #26bf94 !important;
}

.schedule-list>li.warning:before {
    background-color: #ffaa05;
}

.schedule-list>li.success:before {
    background-color: #26bf94;
}

.progress {
    height: 4px;
    box-shadow: none;
}

.progress.re_progress {
    height: 6px;
    background: linear-gradient(180.36deg, #CFDCE8 -32.82%, #FFFFFF 132.82%);
}


.secondary-badge-border {
    border-left: 2px solid #3577f1;

}

.badge {
    line-height: .90;
}

.bg-secondary-subtle {
    background-color: #e1ebfd !important;
}

.text-secondary {
    --vz-text-opacity: 1;
    color: #3577f1 !important;
}


.chart {
    display: flex;
    width: 100%;
    height: 300px;
    align-items: flex-end;
    border-bottom: 2px solid #000;
    padding-bottom: 20px;
}

.bar {
    width: 80px;
    margin: 0 10px;
    background-color: steelblue;
    position: relative;
    height: 0;
    animation: bar-grow 1s ease forwards;
}

.bar::before {
    content: attr(data-label);
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
}

@keyframes bar-grow {
    to {
        height: var(--bar-value);
    }
}

.textArea>p,
.textArea>p span {
    color: var(--text-gray);
}

.list-group-item h6 {
    color: var(--text-blue-dark);
}

.textArea {
    max-width: 250px;
    line-height: 1.2;
}

.small-widget {
    height: 100%;
}

.small-widget .card-body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}