.mainContentApp .callPage .allCallHistory {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* padding: 10px; */
    padding: 15px 0;
    border-right: 1px solid var(--border-color) !important;
    height: 100%;
}

.mainContentApp .tab-content .callList {
    overflow: hidden auto;
    height: calc(100vh - 261px);
    /* height: calc(100vh - 180px); */
}

.mainContentApp .tab-content .callDetailsList {
    overflow: auto;
    height: calc(100vh - 275px)
}

.mainContentApp .tab-content .callListItem {
    padding: 10px 10px;
    position: relative;
    cursor: pointer;
    /* border-radius: 10px; */
    /* margin-bottom: 5px; */
    transition: 0.3s ease-in-out;

    background-color: var(--webBG);
    border-bottom: 1px solid var(--border-color);
    border-right: 4px solid transparent;
}

.mainContentApp .tab-content .callListItem h4 {
    font-size: 16px !important;
    margin: 0;
    font-family: 'Roboto' !important;
}

.mainContentApp .tab-content .callListItem h5,
.mainContentApp .tab-content .callList .callListDiff {
    font-size: 14px !important;
    margin: 5px 0;
    /* font-family: Outfit; */
    font-weight: 500;
    color: var(--color-subtext);
}

.mainContentApp .tab-content .callList .callListDiff {
    padding: 10px 0;
}

.mainContentApp .tab-content .callListItem h6 {
    font-size: 12px;
    margin: 0;
    font-family: Open sans;
    font-weight: 500;
    color: #505050d6;
}

.mainContentApp .tab-content .callListItem span {
    font-size: 16px;
    margin: 0;
    font-family: Roboto;
    font-weight: 500;
    color: #525252;
}

/* Contact List Item Start*/
.mainContentApp .tab-content .contactListItem {
    padding: 15px 10px;
    position: relative;
    border-radius: 0px;
    /* margin-bottom: 5px; */
    cursor: pointer;
    transition: 0.3s ease-in-out;
    border-bottom: 1px solid var(--border-color);
    background-color: var(--ele-color);
    min-height: 99.19px;
}

.mainContentApp .tab-content .contactListItem h4 {
    font-size: 17px !important;
    margin: 0;
    font-family: Roboto;
}

.mainContentApp .tab-content .contactListItem h5 {
    font-size: 14px !important;
    margin: 5px 0 0;
    font-family: Roboto;
    font-weight: 400;
    color: var(--color-subtext);

    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.mainContentApp .tab-content .contactListItem h6 {
    font-size: 12px;
    margin: 0;
    font-family: Outfit;
    font-weight: 500;
    color: #505050;
}

.mainContentApp .tab-content .contactListItem p.timeAgo,
.callListItem p.timeAgo {
    font-size: 12px !important;
    margin: 0px 0 5px;
    font-family: Roboto;
    font-weight: 400;
    color: #ababab;
}

.mainContentApp .tab-content .contactListItem span {
    font-size: 17px;
    margin: 0;
    /* font-family: Outfit !important; */
    font-weight: 500;
    color: var(--ui-accent);
}

.mainContentApp .tab-content .contactListItem::after {
    content: attr(data-bell);
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    background-color: var(--ui-accent);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
}

.mainContentApp .tab-content .contactListItem[data-bell=""]::after {
    content: none !important;
}

.mainContentApp .profileHolder {
    width: 45px;
    height: 45px;
    /* margin: auto 0px auto 0px; */
    /* margin: auto 15px auto 0px; */
    text-align: center;
    cursor: pointer;
    background-color: var(--ui-accent);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    /* overflow: hidden; */
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px;
}

#profileOnline::after {
    content: '';
    width: 115%;
    height: 115%;
    border: 2px solid #4eff6c;
    border-radius: 50px;
    position: absolute;
}

#profileOffline::after {
    content: '';
    width: 115%;
    height: 115%;
    border: 2px solid #ff1e1e;
    border-radius: 50px;
    position: absolute;
}

#profileBusy::after {
    content: '';
    width: 115%;
    height: 117%;
    border: 2px solid #ffb01e;
    border-radius: 50px;
    position: absolute;
    top: -4px;
}

/* Contact List Item End */
.missed h4 {
    color: #ff0000;
}

.missed::after {
    content: '\e226';
    font-family: 'Font Awesome 6 Pro';
    position: absolute;
    left: 70px;
    top: 31px;
    /* width: 50px;
    height: 50px; */
    color: red;
    font-size: 14px;
    transform: rotate(0deg);
    /* background: url(''); */
}

.incoming::after {
    content: '\f061';
    font-family: 'Font Awesome 6 Pro';
    position: absolute;
    left: 70px;
    top: 29px;
    /* width: 50px;
    height: 50px; */
    color: green;
    font-size: 18px;
    transform: rotate(130deg);
    /* background: url(''); */
}

.outgoing::after {
    content: '\f061';
    font-family: 'Font Awesome 6 Pro';
    position: absolute;
    left: 70px;
    top: 29px;
    /* width: 50px;
    height: 50px; */
    color: green;
    font-size: 18px;
    transform: rotate(-45deg);
    /* background: url(''); */
}

.active-item {
    display: block !important;
}

/* .mainContentApp .callListItem .profileHolder {
    width: 50px;
    height: 50px;
    margin: auto 15px auto 0;
    text-align: center;
    cursor: pointer;
    background-color: var(--ui-accent);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
} */

.profileHolder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
}


.mainContentApp .profileInfoHolder {
    text-align: center;
    padding: 10px;
    /* background: linear-gradient(0deg, rgba(33, 171, 255, 1) 0%, rgba(22, 27, 46, 1) 100%); */
    /* background: var(--ui-accent); */
    background: var(--nav-color);
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.mainContentApp .profileInfoHolder .primeWrapper {
    background: #ebebeb38;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    display: flex;
    justify-content: space-between;
}

.mainContentApp .profileInfoHolder .profileHolder {
    width: 60px;
    height: 60px;
    margin: 15px auto;
    text-align: center;
    cursor: pointer;
    background-color: var(--ui-accent);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.mainContentApp .profileInfoHolder h4 {
    color: #fff;
    /* font-family: Outfit; */
    font-size: 20px !important;
    font-weight: 500;
}

.mainContentApp .profileInfoHolder h5 {
    color: #fff;
    /* font-family: Outfit; */
    font-size: 15px !important;
    font-weight: 400;
    margin-bottom: 5px;
}

.mainContentApp .profileInfoHolder .callDeetBtnGrp {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #ebebeb38;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.mainContentApp .profileInfoHolder .callDeetBtnGrp button:last-child {
    margin: 0;
}

/* Filter Item */
.filterItem {
    display: none;
}

/* New Contact Popup */
.backdropContact {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.294);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    /* backdrop-filter: blur(5px); */
}

.addNewContactPopup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 370px;
    /* min-height: 400px; */
    border-radius: 10px;
    background-color: var(--ele-color);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
}

.addNewContactPopup .heading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
}

.addNewContactPopup .heading i {
    color: #fff;
    font-size: 20px;
    background-color: var(--ui-accent);
    border-radius: 50%;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    margin-bottom: 20px;

}

.addNewContactPopup .heading h5 {
    margin-bottom: 10px;
}

.addNewContactPopup .heading p {
    font-size: 12px;
    color: var(--color-subtext);
}

.addNewContactPopup .formLabel {
    font-weight: 600;
    font-size: 13px;
}

.mainContentApp .tab-content .callListItem.selected {
    /* background-color: #439fdd25; */
    background: var(--searchBg);
    border-right: 4px solid var(--ui-accent);
    /* border-radius: 10px; */
    /* box-shadow: rgba(0, 0, 0, 0.20) 0px 1px 5px; */
    /* margin-top: 10px; */
    z-index: 1;
}

.mainContentApp .tab-content .callListItem.selected h4 {
    color: var(--immortalBlack);
}

.mainContentApp .tab-content .contactListItem.selected {
    /* background-color: #439fdd25; */
    background: var(--searchBg);
    border-right: 4px solid var(--ui-accent);
    /* border-radius: 10px; */
    /* box-shadow: rgba(0, 0, 0, 0.20) 0px 1px 5px; */
    /* margin-top: 10px; */
    z-index: 1;
}

.mainContentApp .tab-content .callListItem:hover,
.mainContentApp .tab-content .contactListItem:hover {
    background-color: #00000015;
}

.mainContentApp .callPage .allCallHistory .webRtcHeading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.startAJob {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.startAJob img {
    width: 150px;
    height: 150px;
}

.startAJob h5 {
    color: var(--color-subtext);
    font-weight: 400;
    margin-top: 10px;
}

.startAJob h5 span {
    color: var(--ui-accent);
    cursor: pointer;
}