.mainContentApp .callPage .allCallHistory {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* padding: 10px; */
    padding: 15px 0;
    border-right: 1px solid var(--border-color) !important;
    height: 100%;
}

.mainContentApp .callPage .webrtc_newMessageUi .allCallHistory {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* padding: 10px; */
    padding: 15px 0;
    border-right: 0 !important;
    height: 100%;
    background: var(--me-body-bg2);
}

.mainContentApp .tab-content .callList {
    overflow: hidden auto;
    height: calc(100vh - 261px);
    /* height: calc(100vh - 180px); */
}

.mainContentApp .tab-content .callDetailsList {
    overflow: auto;
    height: calc(100vh - 275px)
}


.callListItem {
    padding: 10px 10px;
    position: relative;
    cursor: pointer;
    /* border-radius: 10px; */
    /* margin-bottom: 5px; */
    /* transition: 0.3s ease-in-out; */

    background-color: var(--webBG);
    border-bottom: 1px solid var(--border-color);
    border-right: 4px solid transparent;
}

.callListItem h4 {
    font-size: 1rem !important;
    margin: 0;
    font-family: 'Roboto' !important;
}

.callListItem h5,
.callList .callListDiff {
    font-size: 0.875rem !important;
    margin: 5px 0;
    /* font-family: Outfit; */
    font-weight: 500;
    color: var(--color-subtext);
}

.callListItem .source h5,
.callListItem .destination h5 {
    font-size: 0.75rem !important;
}

.callListItem .callIconAdmin {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: relative;
    margin: 0 10px;
}

.callListItem .callIconAdmin i {
    /* background: var(--webBG); */
    background: var(--ui-accent);
    position: relative;
    width: 20px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.callListItem .callIconAdmin::before {
    content: '';
    width: 100%;
    height: 0.5px;
    background-color: #a3a3a3;

    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}


.callListItem .callIconAdmin::after {
    content: '\f054';
    font-family: 'Font Awesome 5 Pro';
    color: #a3a3a3;
    font-weight: 100;

    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.callList .callListDiff {
    padding: 10px 0;
}

.callListItem h6 {
    font-size: 0.75rem;
    margin: 0;
    font-family: Open sans;
    font-weight: 500;
    color: #505050d6;
}

.callListItem span {
    font-size: 1rem;
    margin: 0;
    font-family: Roboto;
    font-weight: 500;
    color: #525252;
}

/* Contact List Item Start*/
.mainContentApp .contactListItem {
    padding: 15px 10px;
    position: relative;
    border-radius: 0px;
    /* margin-bottom: 5px; */
    cursor: pointer;
    /* transition: 0.3s ease-in-out; */
    border-bottom: 1px solid var(--border-color);
    background-color: var(--ele-color);
    min-height: 99.19px;
}

.mainContentApp .contactListItem h4 {
    font-size: 1.0625rem !important;
    margin: 0;
    font-family: Roboto;
}

.mainContentApp .contactListItem h5 {
    font-size: 0.875rem !important;
    margin: 5px 0 0;
    font-family: Roboto;
    font-weight: 400;
    color: var(--color-subtext);

    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.mainContentApp .contactListItem h6 {
    font-size: 0.75rem;
    margin: 0;
    font-family: Outfit;
    font-weight: 500;
    color: #505050;
}

.mainContentApp .contactListItem p.timeAgo,
.callListItem p.timeAgo {
    font-size: 0.75rem !important;
    margin: 0px 0 5px;
    font-family: Roboto;
    font-weight: 400;
    color: #ababab;
}

.callhistory-date {
    font-size: 0.75rem !important;
    margin: 0px 0 5px;
    font-family: Roboto;
    font-weight: 400;
    color: #ababab !important;
    margin-right: 10px !important;
}

.mainContentApp .contactListItem span {
    font-size: 1.0625rem;
    margin: 0;
    /* font-family: Outfit !important; */
    font-weight: 500;
    color: var(--ui-accent);
}

.mainContentApp .contactListItem::after {
    content: attr(data-bell);
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    background-color: var(--ui-accent);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    font-weight: 700;
    color: #fff;
}

.mainContentApp .contactListItem[data-bell=""]::after {
    content: none !important;
}

.mainContentApp .profileHolder {
    width: 45px;
    height: 45px;
    /* margin: auto 0px auto 0px; */
    /* margin: auto 15px auto 0px; */
    text-align: center;
    cursor: pointer;
    background-color: var(--ui-accent);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    /* overflow: hidden; */
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px;
}

#profileOnline::after {
    content: '';
    width: 115%;
    height: 115%;
    border: 2px solid #4eff6c;
    border-radius: 50px;
    position: absolute;
}

#profileOffline::after {
    content: '';
    width: 115%;
    height: 115%;
    border: 2px solid #ff1e1e;
    border-radius: 50px;
    position: absolute;
}

#profileBusy::after {
    content: '';
    width: 115%;
    height: 117%;
    border: 2px solid #ffb01e;
    border-radius: 50px;
    position: absolute;
    top: -4px;
}

/* Contact List Item End */
.missed h4 {
    color: #ff0000;
}

.missed::after {
    content: '\e226';
    font-family: 'Font Awesome 6 Pro';
    position: absolute;
    left: 70px;
    top: 28px;
    color: red;
    font-size: 0.875rem;
    transform: rotate(0deg);
}

.incoming::after {
    content: '\f061';
    font-family: 'Font Awesome 6 Pro';
    position: absolute;
    left: 70px;
    top: 29px;
    color: green;
    font-size: 1.125rem;
    transform: rotate(130deg);
}

.outgoing::after {
    content: '\f061';
    font-family: 'Font Awesome 6 Pro';
    position: absolute;
    left: 70px;
    top: 29px;
    color: green;
    font-size: 1.125rem;
    transform: rotate(-45deg);
}

.active-item {
    display: block !important;
}

/* .mainContentApp .callListItem .profileHolder {
    width: 50px;
    height: 50px;
    margin: auto 15px auto 0;
    text-align: center;
    cursor: pointer;
    background-color: var(--ui-accent);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
} */

.profileHolder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
}


.mainContentApp .profileInfoHolder {
    text-align: center;
    padding: 10px;
    /* background: linear-gradient(0deg, rgba(33, 171, 255, 1) 0%, rgba(22, 27, 46, 1) 100%); */
    /* background: var(--ui-accent); */
    background: var(--nav-color);
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.mainContentApp .profileInfoHolder .primeWrapper {
    background: #ebebeb38;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    display: flex;
    justify-content: space-between;
}

.mainContentApp .profileInfoHolder .profileHolder {
    width: 60px;
    height: 60px;
    margin: 15px auto;
    text-align: center;
    cursor: pointer;
    background-color: var(--ui-accent);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.mainContentApp .profileInfoHolder h4 {
    color: #fff;
    /* font-family: Outfit; */
    font-size: 1.25rem !important;
    font-weight: 500;
}

.mainContentApp .profileInfoHolder h5 {
    color: #fff;
    /* font-family: Outfit; */
    font-size: 0.9375rem !important;
    font-weight: 400;
    margin-bottom: 5px;
}

.mainContentApp .profileInfoHolder .callDeetBtnGrp {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #ebebeb38;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.mainContentApp .profileInfoHolder .callDeetBtnGrp button:last-child {
    margin: 0;
}

/* Filter Item */
.filterItem {
    display: none;
}

/* New Contact Popup */
.backdropContact {
    width: 100vw;
    height: 100vh;
    background: var(--backdrop-bg);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 120;
    /* backdrop-filter: blur(5px); */
}

.addNewContactPopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    /* min-height: 500px; */
    border-radius: 10px;
    background-color: var(--ele-color);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    z-index: 10;
}

.addNewContactPopup.logoutPopup {
    max-width: 480px;
    width: 100%;
    min-height: 500px;
    padding: 0px;
    border-radius: 20px;
    overflow: hidden;
}

.addNewContactPopup.logoutPopup .warning_img {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    margin-inline: auto;
}

.addNewContactPopup.logoutPopup .warning_img img {
    width: 100%;
}

.addNewContactPopup .heading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
}

.addNewContactPopup .heading>i {
    color: #fff;
    font-size: 1.25rem;
    background-color: var(--ui-accent);
    border-radius: 50%;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    margin-bottom: 20px;

}

.addNewContactPopup .heading h5 {
    margin-bottom: 10px;
}

.addNewContactPopup .heading p {
    font-size: 0.75rem;
    color: var(--color-subtext);
}

.addNewContactPopup .formLabel {
    font-weight: 600;
    font-size: 0.8125rem;
}

.callListItem.selected {
    /* background-color: #439fdd25; */
    background: var(--user-list-active) !important;
    /* border-right: 4px solid var(--ui-accent); */
    /* border-radius: 10px; */
    /* box-shadow: rgba(0, 0, 0, 0.20) 0px 1px 5px; */
    /* margin-top: 10px; */
    z-index: 1;
}

.callListItem.selected h4 {
    color: var(--immortalBlack);
}

.mainContentApp .tab-content .contactListItem.selected {
    /* background-color: #439fdd25; */
    background: var(--searchBg);
    border-right: 4px solid var(--ui-accent);
    /* border-radius: 10px; */
    /* box-shadow: rgba(0, 0, 0, 0.20) 0px 1px 5px; */
    /* margin-top: 10px; */
    z-index: 1;
}

.callListItem:hover,
.mainContentApp .tab-content .contactListItem:hover {
    background-color: #00000015;
}

.mainContentApp .callPage .allCallHistory .webRtcHeading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.startAJob {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.startAJob img {
    width: 150px;
    height: 150px;
}

.startAJob h5 {
    color: var(--color-subtext);
    font-weight: 400;
    margin-top: 10px;
}

.startAJob h5 span {
    color: var(--ui-accent);
    cursor: pointer;
}

.messageOverlay .contactListItem {
    padding: 10px;
}

.messageOverlay .profileHolder {
    width: 40px;
    height: 40px;
}

.messageOverlay .profileHolder i {
    font-size: 1rem;
}

.messageOverlay .contactListItem h4 {
    font-size: 1rem !important;
}

.addNewContactPopup ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    max-height: 180px;
    overflow-y: scroll;
    /* border: 1px solid var(--border-color); */
    /* border-radius: 10px;
    padding: 0 10px 10px; */
}

.addNewContactPopup.logoutPopup ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    max-height: 300px;
    overflow-y: scroll;
    /* border: 1px solid var(--border-color); */
    border-radius: 10px;
    padding: 0 10px 10px;

}

.addNewContactPopup ul li {
    width: 48%;
    padding-bottom: 5px;
    font-size: 0.875rem;
    font-size: 0.875rem;
    background: var(--active-input-color);
    /* background: #dbeeff33; */
    border-radius: 25px;
    padding: 5px 15px;
    margin-block: 10px;
}

.addNewContactPopup.popup500 {
    width: 500px;
}

.addNewContactPopup ul li i {
    color: var(--ui-accent);
}

.addNewContactPopup .buyDid li {
    padding: 10px 15px;
    border-radius: 10px;
}

.addNewContactPopup .searchBar {
    border: none;
    border: 1px solid var(--border-color);
    padding: 0 20px 0 0px;
    outline: none;
    /* transition: 0.1s ease-in-out; */
    font-size: 0.875rem;
    background: transparent;
    border-radius: 25px;
    padding: 5px 10px;
}

.addNewContactPopup .searchBar:focus-within {
    border-color: var(--ui-accent);
}

.addNewContactPopup .searchBoxWrapper {
    position: relative;
}

.addNewContactPopup .searchBoxWrapper::after {
    content: '\f002';
    color: var(--ui-accent);
    font-size: 1rem;
    font-family: 'FontAwesome';
    position: absolute;
    top: 4px;
    right: 12px;
    /* top: 6px;
    right: 5px; */
}

.text_warning {
    color: #0030ff !important;
}

.logoutPopup .btn2 {
    font-size: 14px;
    /* font-weight: 600; */
    background-color: #2196f3;
    padding: 2px 15px;
    display: flex;
    align-items: center;
    border-radius: 99px;
    position: relative;
    /* transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1); */
    border: 0 !important;
}

.logoutPopup .btn2 .text {
    color: #fff;
    line-height: 1;
    position: relative;
    z-index: 5;
    margin-right: 20px;
}

.logoutPopup .btn2 i {
    display: inline-block;
    position: relative;
    z-index: 5;
    transform: rotate(0deg) translateX(6px);
    transform-origin: left;
    /* transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1); */
    color: #dddddd;
}

.logoutPopup .btn2::before {
    content: '';
    background-color: rgba(255, 220, 83, 0.18);
    width: 25px;
    height: 25px;
    display: block;
    position: absolute;
    z-index: 1;
    border-radius: 99px;
    top: 50%;
    right: 6px;
    transform: translateY(-50%);
    /* transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1); */
}

/* .btn2.light {
    background-color: #21ce9e;
  } */
/* .btn2.light::before {
    background-color: #154633;
  } */
.logoutPopup .btn2:hover i {
    transform: rotate(334deg) translateX(-7px) translateY(-2px);
}

.logoutPopup .btn2:hover::before {
    content: '';
    width: 100%;
    height: 100%;
    right: 0;
    background-color: #003bff;
}

.logoutPopup .popup_close {
    color: #fff;
    position: absolute;
    right: 15px;
    top: 8px;
    z-index: 5;
    border: 0;
    background: transparent;
}

.logoutPopup .logout__Btn {
    display: block;
    width: 100%;
    margin: 0;
    background: #ffe2e2 !important;
    border-radius: 25px;
    padding: 5px 15px !important;
}

.newVoicemailBoxUi .overviewTableWrapper .overviewTableChild {
    background-color: var(--me-body-bg2);
    box-shadow: none;
}

.mainContentApp .webrtc_newMessageUi .wertc_iconBox h5,
.mainContentApp .webrtc_newMessageUi .wertc_iconBox.selected p.timeAgo {
    font-size: 0.75rem !important;
    color: #8c9097;
    margin: 0;
    font-weight: 400;
}

.mainContentApp .webrtc_newMessageUi .wertc_iconBox.selected h5,
.mainContentApp .webrtc_newMessageUi .wertc_iconBox.selected p.timeAgo {
    color: var(--me-text-color2);
}

.mainContentApp .webrtc_newMessageUi .wertc_iconBox .profileHolder {
    background-color: rgba(33, 150, 243, 0.09);
    color: var(--ui-accent);
    box-shadow: none;
}

.mainContentApp .webrtc_newMessageUi .wertc_iconBox.selected .profileHolder {
    background-color: rgb(147 207 255);
    color: #035a9f;
}

.callListItem.wertc_iconBox {
    background: unset;
}

.searchStyle {
    /* border: none !important; */
    min-height: 40px !important;
    padding: 0px 0 0 41px !important;
}

.newVoicemailBoxUi .tableContainer {
    border-color: var(--me-border1);
}

.mainContentApp .callDetails.newVoicemailBoxUi table tbody tr {
    border-color: var(--me-border1);
}

.mainContentApp .callDetails.newVoicemailBoxUi .newMessageWrapper {
    border: 1px solid var(--me-border1);
    box-shadow: none;
}

.callListItem.wertc_iconBox h4 {
    font-size: 0.825rem !important;
    margin-bottom: 5px;
}

.callListItem.wertc_iconBox.incoming::after {
    font-size: 0.825rem;
}

.callListItem.wertc_iconBox.outgoing::after {
    font-size: 0.825rem;
}

.mainContentApp .webrtc_newMessageUi .tab-content .callList {
    overflow: hidden auto;
    height: calc(100vh - 250px);
}

/* .newMessageWrapper {
    background: var(--me-body-bg2);
    box-shadow: none;
} */
.mainContentApp .sms__page .webrtc_newMessageUi .tab-content .callList {
    height: calc(100vh - 221px);
}

.webrtc_newMessageUi .allCallHistory.calcsHeight {
    height: calc(100vh - 82px) !important;
}

.mainContentApp .contentHeight .tab-content .callDetailsList {
    overflow: auto;
    height: calc(100vh - 265px);
}

.lk-room-container {
    background: #f5f5f5 !important;
}

.lk-control-bar {
    background-color: #ffff !important;
}

.lk-disconnect-button {
    font-weight: 600;
    color: var(--lk-danger);
    border: 1px solid var(--lk-danger);
    background-color: var(--lk-danger) !important;
    color: #fff !important;
    font-size: 14px !important;
    padding: 5px 10px !important;
    border-radius: 5px !important;
}

.lk-participant-tile .lk-participant-placeholder {
    background: linear-gradient(90deg, rgb(233 237 255) 0%, rgb(237 255 243) 50%, rgb(255 253 239) 100%) !important;
}

.lk-participant-tile .lk-participant-placeholder svg path {
    fill: #000;
}

.membersName {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lk-participant-name {
    text-transform: capitalize;
}

.lk-button[aria-pressed=true],
[aria-pressed=true].lk-start-audio-button,
[aria-pressed=true].lk-chat-toggle,
[aria-pressed=true] {
    background-color: #f5f7ff !important;
    color: #242424 !important;
    font-size: 14px !important;
    padding: 6px 10px !important;
    border-radius: 5px !important;
}

.lk-button,
.lk-start-audio-button,
.lk-chat-toggle {
    background-color: #f5f7ff !important;
    color: #242424 !important;
    font-size: 14px !important;
    padding: 6px 10px !important;
    border-radius: 5px !important;
}

.lk-room-container .participantMemberList .noScrollbar {
    height: calc(100% - 190px);

}

.lk-room-container .participantMemberList {
    padding: 15px;
    background: #e5e5e5;
    color: #000;
    z-index: 99;
}

.lk-button.lk-button-menu {
    padding-inline: 10px;
    border-radius: 0px 0.5rem 0.5rem 0px !important;
}

.lk-device-menu {
    background-color: rgb(255 255 255);
}

.lk-list li .lk-button {
    background-color: transparent !important;
    color: #fff !important;
}

.lk-media-device-select [data-lk-active=true]>.lk-button {
    color: var(--lk-accent-fg) !important;
    background-color: var(--lk-accent-bg) !important;
}

.lk-button-group>.lk-button:first-child,
.lk-button-group>.lk-start-audio-button:first-child,
.lk-button-group>.lk-chat-toggle:first-child,
.lk-button-group>.lk-disconnect-button:first-child {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.lk-button-group .lk-button-group-menu {
    display: none;
}

/* .setting_menu{
    min-width: 200px;
    padding: 10px;
} */
.dropdown-menu.settingDropDown .setting_dropdown {
    width: 300px;
    border-radius: 8px;
    padding: 10px !important;
}

.dropdown-menu.settingDropDown {
    position: absolute;
    inset: 0px auto auto 0px;
    margin: 0px;
    transform: translate(119px, 37px);
    z-index: 1111;
}


.progress-stacked {
    height: 8px;
}

/* Basic Checkboxes */
h2.titleName {
    margin-top: 0;
    padding-bottom: 0.75rem;
    color: var(--dark);
    font-weight: 600;
    font-size: 1rem;
    border-bottom: 1px solid #f1f5f9;
}

.basic-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.basic-container input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #9CA3AF;
    border-radius: 6px;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
    vertical-align: middle;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.basic-container input[type="checkbox"]:checked {
    border-color: #6366f1;
    background-color: #6366f1;
}

.basic-container input[type="checkbox"]:checked::after {
    content: "✓";
    position: absolute;
    color: white;
    font-size: 14px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}

.basic-container label {
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.basic-container input[type="checkbox"]:checked+label {
    color: #6366f1;
}

.mainContentApp .webrtc_newMessageUi .tab-content .callList.AllCall__list {
    overflow: hidden auto;
    height: calc(100vh - 357px);
}

.mainContentApp .webrtc_newMessageUi .tab-content .callList.voicemailCallList {
    overflow: hidden auto;
    height: calc(100vh - 242px);
}

.lk-settings-menu-modal {
    background: #e7eaf1 !important;
    color: #000;
    box-shadow: none !important;
    top: 65% !important;
}

.settings-menu h3 {
    color: #000;
}

.settings-menu section.wrap h4 {
    color: #000;
    font-size: 1rem !important;
}

.settings-menu section {
    margin-bottom: 15px;
}

.settings-menu section>* {
    color: #fff;
}

.settings-menu section.wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
}

.lk-button[data-lk-source="microphone"][data-lk-enabled="false"] {
    background-color: #f92762 !important;
    color: #fff !important;
}

.lk-button[data-lk-source="camera"][data-lk-enabled="true"] {
    background-color: #f92762 !important;
    color: #fff !important;
}

.lk-button[data-lk-source="screen_share"][data-lk-enabled="true"],
.hand-raise-button[data-lk-enabled="true"] {
    background-color: #f92762 !important;
    color: #fff !important;
}

.lk-chat {
    width: 352px;
    padding: 15px;
    background-color: #f5f5f5 !important;
    color: #000;
    border-left: 1px solid #ddd !important;
}

.lk-chat {
    padding: 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.lk-chat-header {
    justify-content: start;
    font-weight: 600;
}

.lk-close-button.lk-button.lk-chat-toggle {
    background: transparent !important;
    color: #000;
}

.lk-close-button.lk-button.lk-chat-toggle svg path {
    fill: #000;
}

button.lk-button.lk-chat-form-button {
    background: #025ea7 !important;
    color: #fff !important;
    font-weight: 600;
    /* padding: 10px !important; */
}

.lk-chat-entry[data-lk-message-origin=local] .lk-message-body {
    background-color: #e0d2ff !important;
    margin-left: auto;
}

.lk-chat-entry .lk-meta-data {
    font-size: .75rem;
    color: #6e7071 !important;
}

ul.lk-list.lk-chat-messages {
    padding: 0 10px;
}

.lk-chat-entry[data-lk-message-origin=remote] .lk-message-body {
    background-color: #b5ebff !important;
}

.lk-chat-entry .lk-meta-data .lk-timestamp {
    margin-left: 10px !important;
}

.lk-chat-entry[data-lk-message-origin=local] .lk-meta-data {
    margin-left: auto;
}

.lk-form-control {
    font-family: var(--lk-font-family);
    padding: .35rem 1rem !important;
    background-color: #ffffff !important;
    border: 1px solid var(--border-color) !important;
    color: #000 !important;
    outline: none !important;
}

.lk-form-control:hover {
    border-color: var(--ui-accent) !important;
}

.lk-form-control:focus-visible {
    outline: none !important;
    border-color: var(--ui-accent) !important;

}