.mainContentApp .contactViewProfileHolder {
    width: 100px;
    height: 100px;
    margin: 15px auto;
    text-align: center;
    cursor: pointer;
    background-color: var(--ui-accent);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    /* overflow: hidden; */
    position: relative;
}

.mainContentApp .contactViewProfileHolder img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: none;
}

#contactView .contactViewProfileHolder button {
    position: absolute;
    bottom: -5px;
    right: -5px;
    box-shadow: 0px 0px 0px 3px white;
}

#contactView .b h3,
#contactView .b p {
    font-family: Outfit;
    color: #444444;
}

#contactView .contactItem {
    background-color: #55baff2e;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid #55baff5e;
    margin: 7px 0px;
    padding: 0 5px;
    flex-wrap: wrap;
}

.contactItem .content {
    grid-template-columns: 45px auto;
    /* width: 100%; */
    display: grid;
    grid-gap: 0;
}

.contactItem .content h5,
.contactItem .content .contact-email-box {
    font-size: 0.8125rem !important;
    font-family: Outfit;
    font-weight: 500;
    color: #505050;
    margin: 0;
}

.contactItem .content .contact-email-box {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.contactItem .content h6 {
    font-size: 0.75rem;
    margin: 0;
    font-family: Outfit;
    font-weight: 500;
    color: #505050;
}

.contactItem i {
    font-size: 1.125rem;
    color: var(--ui-accent);
    padding: 10px 0px 10px 0px;
}

.contactItem .content .box {
    padding-bottom: 10px;
}

.contactItem .content .box:first-child,
.contactItem .content .box:nth-child(2) {
    padding-top: 10px;
}

#contactView .contact-detail-list {
    overflow: hidden auto;
    /* height: calc(100vh - 210px); */
}

.mainContentApp .tab-content .contactListItem.favourite i.fa-star {
    color: #ffa200;
    font-weight: 900;
}

.mainContentApp .tab-content .contactListItem:hover .contactPopup,
.mainContentApp .tab-content .callListItem:hover .contactPopup,
.tableContainer tbody tr:hover .utilPopup {
    display: block;
}

.mainContentApp .tab-content .contactListItem .contactPopup,
.mainContentApp .tab-content .callListItem .contactPopup,
.tableContainer tbody tr .utilPopup {
    position: absolute;
    top: -10px;
    right: 10px;
    border-radius: 50px;
    overflow: hidden;
    background-color: var(--ele-color);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: none;
    z-index: 999;
}

.mainContentApp .tab-content .contactListItem .contactPopup button,
.mainContentApp .tab-content .callListItem .contactPopup button,
.tableContainer tbody tr .utilPopup button {
    border: 0;
    background-color: transparent;
    padding: 5px 10px;
    color: var(--immoptalBlack);
}

.mainContentApp .tab-content .contactListItem .contactPopup button:last-child i,
.mainContentApp .tab-content .callListItem .contactPopup button:last-child i,
.tableContainer tbody tr .utilPopup button:last-child i {
    color: red;
}

.mainContentApp .tab-content .contactListItem .contactPopup button:hover,
.mainContentApp .tab-content .callListItem .contactPopup button:hover,
.tableContainer tbody tr .utilPopup button:hover {
    background-color: #44444440;
}