:root {
  --funky-boy1: #ff0000;
  --funky-boy2: #4749e6;
  --funky-boy3: #62a8ac;
  /* --funky-boy4: #D35269; */
  --funky-boy4: #f73658;
  --funky-boy4-trans: #ff999930;
  /* --funky-boy3: #31c07d; */
  /* --funky-boy4: #ff2365; */
}

:root.dark {
  --funky-boy1: #ff00007c;
  --funky-boy2: #4749e67c;
  --funky-boy3: #62a8ac7c;
  --funky-boy4: #d35269;
  --funky-boy4-trans: #ff999930;
}

.mainContent .itemWrapper {
  /* border: 1px solid #c9c9c970; */
  border-radius: 10px;
  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
  background-color: var(--ele-color);
  padding: 15px;
  /* margin-top: 20px; */
  text-align: center;
  position: relative;
  /* min-height: 188px; */
  height: 100%;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.mainContent .itemWrapperb {
  border: 1px solid var(--border-color);
  border-radius: 5px;
  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
  /* box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06); */
  padding: 5px 10px;
  /* margin-top: 5px; */
  text-align: left;
  position: relative;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  margin: 2px;
}

.mainContent .itemWrapperb:hover {
  border: 1px solid var(--ui-accent);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.mainContent .itemWrapperb:hover .heading {
  color: var(--ui-accent);
}

.mainContent .itemWrapper .react-clock__face {
  border: 1px solid var(--color-subtext);
}

.mainContent .itemWrapper .react-clock__mark__body,
.mainContent .itemWrapper .react-clock__hour-hand__body,
.mainContent .itemWrapper .react-clock__minute-hand__body {
  background-color: var(--color-subtext);
}

.mainContent .itemWrapper.accordion-item {
  /* max-height: 370px; */
}

.mainContent .title {
  font-size: 1rem;
  font-weight: 600;
  font-family: Open sans;
  color: var(--immortalBlack);
}

.title i {
  color: var(--ui-accent);
  margin-right: 5px;
}

.itemWrapperb .heading {
  font-size: 0.6875rem;
  font-weight: 600;
  font-family: Roboto;
  color: var(--color-subtext);
}

.itemWrapperb .data-number {
  font-size: 1.875rem;
  font-family: Open sans !important;
  line-height: 45px !important;
  padding: 0 !important;
  font-weight: 600;
}

.itemWrapperb .data-number.ellipsis {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.0625rem;
}

.itemWrapperb .label2 {
  font-size: 0.75rem;
  font-weight: 400;
  font-family: Roboto;
  color: var(--color-subtext);
}

.itemWrapper .heading {
  text-align: left;
  font-weight: 500;
  font-family: Roboto;
  color: var(--bgdark-color);
  height: 65px;
  padding: 0;
  width: 100%;
  background: transparent;
  border: none;
}

.itemWrapper .heading h5 {
  margin-bottom: 5px;
  font-size: 1rem;
  font-family: "Open Sans";
  font-weight: 700;
}

.itemWrapper .heading p {
  font-size: 0.75rem;
  color: var(--color-subtext);
  font-weight: 500;
  margin-bottom: 0;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.itemWrapper .heading .total-month {
  height: 23px;
  width: 78px;
  background-color: #0091821a;
  color: #009688;
  border-radius: 50px;
  font-size: 11px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;

}

.itemWrapper .heading .total-month {
  height: 23px;
  width: 78px;
  background-color: #0091821a;
  color: var(--color2);
  border-radius: 50px;
  font-size: 11px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;

}

.itemWrapper .heading .light-color1 {

  background-color: #0091821a;
  color: #009688;


}

.itemWrapper .heading .light-color2 {

  background-color: #9122001a;
  color: #962300;


}

.itemWrapper .heading .light-color3 {

  background-color: #ff8a4231;
  color: var(--color3);

}

.parent {
  width: 100%;
  height: 9vh;
  background: transparent;
}

.magicpattern {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg height=%22auto%22 viewBox=%220 0 2000 1400%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath d=%22M0 1398.832c21-11.897 63-38.455 105-59.483s63-14.274 105-45.657c42-31.384 63-95.769 105-111.26 42-15.49 63 28.726 105 33.807 42 5.082 63 17.518 105-8.399s63-79.797 105-121.186c42-41.389 63-36.133 105-85.759s63-126.18 105-162.372c42-36.191 63-28.551 105-18.584 42 9.967 63 84.242 105 68.42 42-15.824 63-110.56 105-147.536 42-36.975 63-2.608 105-37.342s63-145.137 105-136.327c42 8.809 63 225.248 105 180.374 42-44.875 63-334.082 105-404.749 42-70.667 63 18.25 105 51.413s63 52.849 105 114.405c42 61.556 63 294.134 105 193.374 42-100.76 84-557.738 105-697.173L2000 1400H0Z%22 fill=%22%23444cf71a%22%2F%3E%3Cpath d=%22M0 1398.832c21-11.897 63-38.455 105-59.483s63-14.274 105-45.657c42-31.384 63-95.769 105-111.26 42-15.49 63 28.726 105 33.807 42 5.082 63 17.518 105-8.399s63-79.797 105-121.186c42-41.389 63-36.133 105-85.759s63-126.18 105-162.372c42-36.191 63-28.551 105-18.584 42 9.967 63 84.242 105 68.42 42-15.824 63-110.56 105-147.536 42-36.975 63-2.608 105-37.342s63-145.137 105-136.327c42 8.809 63 225.248 105 180.374 42-44.875 63-334.082 105-404.749 42-70.667 63 18.25 105 51.413s63 52.849 105 114.405c42 61.556 63 294.134 105 193.374 42-100.76 84-557.738 105-697.173%22 fill=%22none%22 stroke=%22%23444cf7%22 stroke-width=%224%22%2F%3E%3Cg fill=%22%23444cf7%22%3E%3Ccircle cy=%221398.832%22 r=%228%22%2F%3E%3Ccircle cx=%22105%22 cy=%221339.349%22 r=%228%22%2F%3E%3Ccircle cx=%22210%22 cy=%221293.692%22 r=%228%22%2F%3E%3Ccircle cx=%22315%22 cy=%221182.433%22 r=%228%22%2F%3E%3Ccircle cx=%22420%22 cy=%221216.239%22 r=%228%22%2F%3E%3Ccircle cx=%22525%22 cy=%221207.84%22 r=%228%22%2F%3E%3Ccircle cx=%22630%22 cy=%221086.654%22 r=%228%22%2F%3E%3Ccircle cx=%22735%22 cy=%221000.895%22 r=%228%22%2F%3E%3Ccircle cx=%22840%22 cy=%22838.523%22 r=%228%22%2F%3E%3Ccircle cx=%22945%22 cy=%22819.939%22 r=%228%22%2F%3E%3Ccircle cx=%221050%22 cy=%22888.358%22 r=%228%22%2F%3E%3Ccircle cx=%221155%22 cy=%22740.823%22 r=%228%22%2F%3E%3Ccircle cx=%221260%22 cy=%22703.481%22 r=%228%22%2F%3E%3Ccircle cx=%221365%22 cy=%22567.154%22 r=%228%22%2F%3E%3Ccircle cx=%221470%22 cy=%22747.528%22 r=%228%22%2F%3E%3Ccircle cx=%221575%22 cy=%22342.779%22 r=%228%22%2F%3E%3Ccircle cx=%221680%22 cy=%22394.192%22 r=%228%22%2F%3E%3Ccircle cx=%221785%22 cy=%22508.597%22 r=%228%22%2F%3E%3Ccircle cx=%221890%22 cy=%22701.971%22 r=%228%22%2F%3E%3Ccircle cx=%221995%22 cy=%224.798%22 r=%228%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}


.itemWrapper .heading i {
  /* margin-right: 5px; */
  font-size: 1rem;
  padding: 13px;
  border-radius: 10px;
  background-color: var(--color2-trans);
  float: inline-end;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 5px;
  cursor: pointer;
  /* transition: 0.3s ease-in-out; */

  width: 42px;
  height: 42px;
  text-align: center;
}

.itemWrapper .heading i.onlyAgent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
}

.local-calls .heading i {
  width: 60px !important;
  height: 60px !important;
  padding: 10px;
  float: none;
  font-size: 1.875rem;
  margin: 0 auto 20px auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.local-calls .heading {
  text-align: center;
}

.local-calls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.itemWrapper .heading i:hover {
  box-shadow: none;
}

.itemWrapper .data-number2 {
  text-align: left;
  /* margin-top: 20px; */
  margin-top: 10px;
}

.itemWrapper .data-number2 ul {
  list-style: none;
}

.itemWrapper .data-number2 ul li {
  padding: 10px 0;
  font-size: 0.9rem;
}

.itemWrapper .data-number2 ul li:first-child {
  padding-top: 0;
}

.itemWrapper .data-number2 ul li:hover {
  color: var(--color2);
  cursor: pointer;
  border-bottom: 1px solid var(--color2) !important;
}

.itemWrapper .data-number2 ul li:not(:last-child) {
  border-bottom: 1px solid #c9c9c970;
}

.itemWrapper .data-number2 h5 {
  margin-bottom: 5px;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: Outfit;
}

.itemWrapper .data-number2 h4 {
  color: var(--color-subtext);
}

.itemWrapper .data-number2 p {
  font-size: 0.75rem;
  color: var(--color-subtext);
  font-weight: 500;
  margin-bottom: 0;
}

.itemWrapper .data-number3 p {
  font-size: 0.8125rem;
  color: var(--color-subtext);
  font-weight: 500;
  margin-bottom: 0;
}

.itemWrapper .data-number2 img {
  width: 50px;
  height: auto;
  max-width: 100%;
  display: flex;
  margin-left: auto;
}

.itemWrapper .label {
  font-size: 0.75rem;
  font-weight: 600;
  color: #454545;
  /* position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%); */
  font-family: Roboto;
  width: 100%;
  text-align: left;
  padding-top: 5px;
  text-transform: uppercase;
}

.itemWrapper .moreInfo {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--color-subtext);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%);
  width: max-content;
  border: none;
  background-color: transparent;
  /* transition: 0.2s ease-in-out; */
  padding: 5px 10px;
  text-decoration: none;
}

.itemWrapper .moreInfo:hover {
  /* background-color: var(--immortalBlack)00017; */
  background-color: var(--bg-color);
  border-radius: 10px;
}

.itemWrapper .moreInfo i {
  font-size: 1rem;
  margin-right: 5px;
}

.itemWrapper.a .moreInfo i {
  color: var(--color2);
}

.itemWrapper.b .moreInfo i {
  color: var(--ui-accent);
}

.itemWrapper.c .moreInfo i {
  color: var(--color3);
}

.itemWrapper.a .data-number,
.itemWrapperb.a .data-number,
.itemWrapper.a .data-number2 h5 {
  color: var(--color2);
}

/* .itemWrapper.a .data-number2 h5 {
    color: var(--billing-icon2) !important;
} */

.itemWrapper.b .data-number,
.itemWrapperb.b .data-number {
  color: var(--funky-boy3);
}

.itemWrapper.b .data-number2 h5 {
  color: var(--ui-accent-green);
}

.itemWrapper.c .data-number,
.itemWrapper.c .data-number2 h5 {
  color: var(--color3);
}

.itemWrapperb.c .data-number {
  color: var(--color3);
}

.itemWrapper.d .data-number,
.itemWrapperb.d .data-number,
.itemWrapper.d .data-number2 h5 {
  color: var(--funky-boy4);
}

.itemWrapper.a .moreInfo i {
  color: var(--color2);
}

.itemWrapper.b .moreInfo i {
  color: var(--ui-accent);
}

.itemWrapper.c .moreInfo i {
  color: var(--color3);
}

.itemWrapper.a .heading i {
  /* color: var(--billing-icon) !important; */
  color: var(--color2);
}

/* .itemWrapper.a .heading .icon-edit i{
    background-color: transparent !important;
} */

.custom-icon {
  color: rgb(1, 199, 142) !important;
  background: transparent !important;
  box-shadow: none !important;
}



.itemWrapper.a .icons i {
  color: var(--color2);
  background-color: transparent;
  box-shadow: none;
}

.itemWrapper.a.addNew {
  min-height: 95px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  /* transition: 0.3s ease-in-out; */
  cursor: pointer;
}

.itemWrapper.a.addNew:hover {
  /* border: 1px solid green; */
  box-shadow: #00ff1554 0px 3px 8px;
}

.itemWrapper.a.addNew i {
  color: var(--color2);
  font-size: 1.5rem;
}

.itemWrapper.a.addNew p {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 0.875rem;
  font-weight: 500;
}

.itemWrapper.a .add-active0 P {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 18px;
  width: 49px;
  border: 1px solid #845adf;
  border-radius: 5px;
  color: #845adf;
  background: var(--chart-tab-bg);
}

.itemWrapper.a .add-rings0 P {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 18px;
  width: 49px;
  border: 1px solid #845adf;
  border-radius: 5px;
  color: #845adf;
  background: var(--chart-tab-bg);
}

.itemWrapper.b .heading i,
.itemWrapper.b i {
  color: var(--ui-accent-green);
  background-color: var(--ui-accent-green-trans);
}

.itemWrapper.c .heading i,
.itemWrapper.c i {
  color: var(--color3);
}

.itemWrapper.c .heading i {
  background-color: var(--color3-trans);
}

.itemWrapper.d .heading i {
  color: var(--funky-boy4);
  background-color: var(--funky-boy4-trans);
}

.data-number {
  font-size: 2.625rem;
  font-weight: 600;
  font-family: Outfit;
  padding: 5px 0;
  text-align: center;
}

.data-number span {
  color: #7c7c7c;
  font-size: 1.125rem;
}

.data-number p {
  font-size: 1rem;
  font-family: Roboto;
  font-weight: 400;
  margin: 5px 0 0 0;
}

.collapsor {
  /* height: 0px; */
  overflow: hidden;
  /* transition: all 0.3s ease-in-out; */
}

.callItemWrapper {
  /* border: 1px solid #ddd; */
  border-radius: 5px;
  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
  background-color: var(--ele-color);
  /* padding: 10px; */
  margin-top: 0px;
  text-align: center;
  position: relative;
  height: 145px;
  overflow: hidden;
  /* transition: 0.2s ease-in-out; */
}

.callItemWrapper button.clearButton {
  position: absolute;
  right: 5px;
  top: -5px;
  font-size: 1.3125rem;
}

#phonePage .tabGroupDetails {
  padding: 10px;
  margin: 20px auto 0;
  border: 1px solid #c9c9c970;
  border-radius: 10px;
  background-color: var(--ele-color);
  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);

  width: 100%;
}

.mainContent .circularProgressWrapper {
  background-color: var(--ele-color);
  border: 1px solid #c9c9c970;
  border-radius: 50%;
  margin: auto;
  height: 250px;
  width: 250px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
}

.circularProgressWrapper .circularProgressContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.circularProgressContent h2 {
  font-size: 2.5rem;
}

.circularProgressContent p {
  margin-bottom: 0;
  color: #7a7a7a;
  font-weight: 500;
}

.circular-progress {
  --size: 250px;
  --half-size: calc(var(--size) / 2);
  --stroke-width: 22px;
  --radius: calc((var(--size) - var(--stroke-width)) / 2);
  /*--circumference: calc(var(--radius) * pi * 2);*/
  --circumference: calc(2 * 3.14159 * var(--radius));
  --dash: calc((var(--progress) * var(--circumference)) / 100);
}

.circular-progress circle {
  cx: var(--half-size);
  cy: var(--half-size);
  r: var(--radius);
  stroke-width: var(--stroke-width);
  fill: none;
  stroke-linecap: round;
}

.circular-progress circle.fg {
  transform: rotate(-90deg);
  transform-origin: var(--half-size) var(--half-size);
  stroke-dasharray: var(--dash) calc(var(--circumference) - var(--dash));
  transition: stroke-dasharray 0.0s linear 0s;
}

.tangoNavs .nav-tabs {
  border-color: #ddd;
}

.tangoNavs .nav-tabs .nav-link {
  /* color: var(--ele-color); */
  color: var(--color-subtext);
  padding: 10px 5px;
  font-size: 0.875rem;
  transition: color .0s ease-in-out, background-color .0s ease-in-out, border-color .0s ease-in-out;
}

.tangoNavs .nav-tabs .nav-link.active {
  background-color: transparent;
  border: 1px solid transparent;
  /* border-bottom: 3px solid var(--ele-color) !important; */
  border-bottom: 3px solid var(--color2) !important;
  /* color: var(--ele-color); */
  color: var(--color2);
  font-weight: 600;
}

.tangoNavs .nav-tabs .nav-link:hover {
  border-color: transparent;
  background-color: transparent;
}

.chartWrapper .wrapper {
  /* border: 1px solid #c9c9c970; */
  border-radius: 10px;
  background-color: var(--ele-color);
  padding: 15px;
  text-align: center;
  position: relative;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

@media (min-width: 1200px) {
  .mainContent .tabGroupDetails .col-xl-1b {
    width: 14.28%;
  }
}

.itemWrapper .invoiceList {
  padding-left: 0;
  list-style: none;
  text-align: left;
  padding-top: 10px;
  margin-bottom: 0;
}

.itemWrapper .invoiceList li {
  display: flex;
  font-size: 0.875rem;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--border-color);
}

.itemWrapper .invoiceList li p {
  font-family: Roboto;
  margin-bottom: 0;
  font-weight: 600;
  color: var(--immortalBlack);
}

.itemWrapper .invoiceList li span {
  font-size: 0.8125rem;
  color: var(--color-subtext);
}

.itemWrapper .invoiceList li a {
  font-weight: 600;
  font-family: Roboto;
}

.itemWrapper .invoiceList li a i {
  color: var(--color3);
}

.itemWrapper.onQueue {
  border: 1px solid rgb(255, 41, 41);
  box-shadow: #ff000054 0px 3px 8px;
}

.itemWrapper.active {
  border: 1px solid #009688;
  box-shadow: rgba(0, 150, 136, 0.22) 0px 3px 8px;
}

/* Dashboard Accordion */

.accordion.dashboard .accordion-button:not(.collapsed) {
  background: transparent;
  border-bottom: none;
}

.accordion.dashboard .accordion-button {
  padding: 0;
}

.accordion.dashboard .accordion-body {
  margin-top: 15px;
}

.hover-dropdown {
  /* Changed class name */
  /* Existing styles... */
}

.hover-dropdown:hover .dropdown-menu {
  display: block;
  column-count: 2;
}

.hover-dropdown .dropdown-toggle::after {
  display: none;
}

.accordion.dashboard .itemWrapper.shadow-none {
  min-height: 110px;
}

.agent_badge {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-inline: 15px;
  padding-block: 3px;
  border-radius: 25px;
  font-weight: 500;
  font-size: 0.75rem !important;
  width: fit-content;
  margin-top: 10px;
  margin-bottom: 0;
}

.agent_badge i {
  font-size: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.agent_badge.success_badge {
  background: rgba(0, 231, 165, 0.188);
  color: #047857 !important;
}

.agent_badge.danger_badge {
  background: rgba(231, 0, 162, 0.188);
  color: #b8014d !important;
}

.agentItem {
  border-radius: 10px;
}

.chart_tabs {
  background: var(--chart-tab-bg);
  border: none;
  border-radius: 50px;
  padding: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3px;
}

.chart_tabs li {
  list-style-type: none;
  transition: all 0.4s ease-in-out;
}

.chart_tabs .nav-link {
  border: none;
  border-radius: 25px;
  padding-block: 4px;
  padding-inline: 13px;
  color: var(--immortalBlack);
  margin-bottom: 0;
  font-weight: 500;
  /* transition: all 0.4s ease-in-out; */
  font-size: 0.75rem;
  transition: color .0s ease-in-out, background-color .0s ease-in-out, border-color .0s ease-in-out;

}

.chart_tabs li:hover .nav-link {
  background: var(--color2);
  color: #fff;

}

.chart_tabs .nav-item {
  position: relative;
}

.chart_tabs .nav-link.active {
  background: var(--color2);
  color: #fff;
}

.chart_tabs .nav-link:checked+button {
  background: var(--color2);
  color: #fff;
}

.chart_tabs .nav-link[type="radio"] {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.form-iselect {
  background-color: transparent;
}

.itemWrapper.a.d_card1 {
  background: rgba(185, 196, 243, 0.302);
  overflow: hidden;
  isolation: isolate;
}

.itemWrapper.a.d_card1 h5 {
  color: var(--text-blue-dark);
}

.itemWrapper.b.d_card2 {
  background: rgba(0, 255, 14, 0.078);
  isolation: isolate;
  overflow: hidden;
}

.itemWrapper.b.d_card2 h5,
.itemWrapper.b.d_card2 h4 {
  color: var(--text-blue-dark);
}

.itemWrapper.b.d_card2 h5,
.itemWrapper.b.d_card2 h4 {
  color: var(--text-blue-dark);
}

.itemWrapper.c.d_card3 {
  background: rgba(255, 230, 0, 0.09);
  isolation: isolate;
  overflow: hidden;
}

.itemWrapper.c.d_card3 h5,
.itemWrapper.c.d_card3 h4 {
  color: var(--text-blue-dark);
}

.itemWrapper.d.d_card4 {
  background: rgba(255, 0, 204, 0.051);
  isolation: isolate;
  overflow: hidden;
}

.itemWrapper.d.d_card4 h5,
.itemWrapper.d.d_card4 h4 {
  color: var(--text-blue-dark);
}

.d_chartImg {
  position: absolute;
  top: 57px;
  right: 0;
  z-index: -1;
  /* opacity: 0.4; */
}

.d_extension_listing {
  background: var(--dash-listing-bg);
  color: var(--dash-listing-text);
  padding: 8px 10px !important;
  /* border-radius: 5px; */
  margin-bottom: 10px;
  font-weight: 500;
  /* border-left: 3px solid var(--dash-listing-border); */
  border-left: 3px solid var(--ui-accent);
  border-bottom: 0 !important;
  /* transition: all 0.4s ease-in-out; */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.itemWrapper .data-number2 ul li.d_extension_listing:hover {
  /* border-left: 8px solid var(--dash-listing-hover-border); */
  border-left: 8px solid var(--ui-accent);
  border-bottom: 0 !important;
  color: var(--dash-listing-hover-text);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.dashboard_headerPart {
  border: 1px solid var(--header-dark-gray) !important;
  border-radius: 8px;
  padding: 10px !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.itemWrapper .data-number2 ul li.d_extension_listing {
  font-size: 0.8rem;
}

.itemWrapper .data-number2 ul li.d_extension_listing:last-child {
  margin-bottom: 0;
}

.itemWrapper.dashboard_cardWrap.a .heading i {
  color: #fff;
  background: rgba(225, 236, 249, 0.369);
}

.itemWrapper.dashboard_cardWrap.c .heading i,
.itemWrapper.c i {
  color: var(--listing-color3);
}

.itemWrapper.dashboard_cardWrap.a {
  background: #005b70 !important;
}

.itemWrapper.dashboard_cardWrap.a h5,
.itemWrapper.dashboard_cardWrap.a p {
  color: #fff;
}

.dashboard_cardWrap .d_chartImg {
  opacity: 0.3;
  top: 100px;
}

.itemWrapper.d.dashboard_cardWrap .data-number2 h5 {
  color: var(--funky-boy4) !important;
}

.itemWrapper.c.dashboard_cardWrap .data-number2 h5 {
  color: var(--color3) !important;
}

.itemWrapper.b.dashboard_cardWrap .data-number2 h5 {
  color: var(--ui-accent-green) !important;
}

.call_dCard {
  /* border: 2px dotted rgba(126, 126, 126, 0.38); */
  padding: 10px !important;
  height: 100% !important;
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.call_dCard:hover {
  transform: translateY(-3px);
}

.call_dCard.d {
  /* border: 2px dotted #4fc9da; */
  background: rgba(33, 150, 243, 0.059);
}

.call_dCard.c {
  /* border: 2px dotted #ef6f54; */
  background: rgba(237, 178, 152, 0.141);
}

.call_dCard.b {
  /* border: 2px dotted #777edd; */
  background: rgba(119, 126, 221, 0.141);
}

.call_dCard.a {
  /* border: 2px dotted #18b16b; */
  background: rgba(30, 154, 91, 0.141);
}

.call_dCard .heading {
  height: unset;
}

.call_dCard .heading i {
  background: transparent;
  box-shadow: none;
}

.text-decoration {
  text-decoration: none;
}

.imageBox_wrap {
  width: 25px;
  height: 30px;
  margin-inline: auto;
  margin-bottom: 5px;
}

.imageBox_wrap img {
  width: 100%;
}

.customRow {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  /* grid-template-columns: repeat(2, 177px); */
  gap: 8px;
}

.call_dCard h3 {
  font-size: 20px;
}
.fa-spin{
  font-size: 12px !important;
}
