.clock-wrapper {
    position: relative;
    font-weight: 800;
    font-size: 1.25rem;
    display: flex;
    flex-direction: row;
    text-align: right;
    color: white;
    text-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    gap: 1px;
    /* border: 8px solid #fef9c3; */
    border-radius: 0.25rem;
    overflow: hidden;
    width: fit-content;
}

.clock-stand {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1.25rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.clock-stand div {
    width: 75%;
    height: 1.25rem;
    background-color: #fef9c3;
    border-radius: 0.25rem;
}

.timer {
    position: relative;
    padding: 5px;
}

.timer-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.timer-bg div:first-child {
    background: linear-gradient(135deg, #1f2937, #111827);
}

.timer-bg div:last-child {
    background: linear-gradient(135deg, #374151, #111827);
}

.timer-value {
    position: relative;
    text-align: center;
}

.timer-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timer-line div {
    height: 1px;
    width: 100%;
    background-color: #1f2937;
}


/* ========================== new clock */


.digital__clock {
  /* font-family: "Share Tech Mono", monospace; */
  /* color: var(--text-timer-color); */
  text-align: center;
  background: rgba(139, 139, 139, 0.29);
  position: relative;
  padding: 5px 10px;
  border-radius: 8px;
  text-shadow: 0 0 20px #004dff;
  isolation: isolate;
}
.digital__clock::before{
    content: '';
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffec00;
    filter: blur(40px);
    position: absolute;
    inset: 0;
    z-index: -1;
}
.digital__clock::after{
    content: '';
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #00e1ff;
    filter: blur(25px);
    position: absolute;
    top: 0;
    right: 30px;
    z-index: -1;
}
.digital__clock .d_time {
  letter-spacing: 0.05em;
  font-size: 20px !important;
  color: #fff !important;
  font-weight: 600;
    letter-spacing: 3px;
}
.digital__clock .d_date {
  letter-spacing: 0.1em;
  font-size: 24px !important;
}
.digital__clock .text {
  letter-spacing: 0.1em;
  font-size: 12px !important;
  padding: 20px 0 0;
}