.documentPending .qLinkContent p {
    font-size: 0.9375rem;
    color: #3e3e3e;
}

.documentPending .qLinkContent .iconWrapper2 {
    width: 20px;
    height: 20px;
    background-color: transparent;
    font-size: 1.125rem;
    color: var(--ui-accent);
}

.documentPending .accordion-body {
    padding: 10px 20px 0 !important;
}