#detailsContent {
    /* position: sticky;
    top: 45px;
    background-color: var(--div-color); */
    z-index: 1;
    padding: 10px 20px !important;
    margin: 8px !important;
    /* border-radius: 7px; */
    /* color: #fff; */
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 15px; */
    border-radius: 5px;
    /* box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 5px; */
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
    background-color: var(--ele-color);
}

/* #detailsContent  */
#detailsContent form {
    /* display: flex;
    flex-wrap: wrap; */
    margin-bottom: 45px;
}


.formRow {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    /* margin-bottom: 5px; */
    padding-bottom: 10px;
    /* border-bottom: 1px solid #8f8f8f47; */
    /* width: 25%; */
    padding: 7px 10px;
    min-height: 50px;
}

.management_fomr .formRow {
    padding: 7px 20px;
}

/* #detailsContent .formRow   */
.formLabel {
    font-size: 0.875rem;
    /* width: 130px; */
    width: auto;
    max-width: 215px;
    padding: 5px 0px;
    font-weight: 400;
    color: var(--form-label);
    /* margin-top: auto; */
    /* margin-bottom: auto; */
    position: relative;
    font-family: Noto sans;
    -webkit-font-smoothing: antialiased;
}



.formLabels-width {
    max-width: 400px !important;
}


.date-small {
    font-size: 0.625rem;
    margin-left: 3px;
    white-space: nowrap;
}

.name-comment {
    /* margin-left: 35px; */
    margin-top: 5px;

    font-size: 0.75rem;
    font-weight: 400;
    color: var(--immortalBlack);
}

.content-comment {
    overflow: hidden auto;
    max-height: 400px;
}

.back-comment {
    background-color: var(--bg-color);
    border: 1px solid var(--me-border1);
    padding: 5px 10px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.back-comment .username-cmt {
    font-size: 0.9375rem;
    font-weight: 700;
}

label.status {
    /* float: inline-end; */
    font-size: 0.75rem;
    font-weight: 400;
}

label.status.success {
    color: #00a900;
}

label.status.success::before {
    content: '\f00c';
    font-size: 0.875rem;
    font-weight: 600;
    color: #00a900;
    font-family: 'Font Awesome 6 Pro';
    margin-right: 3px;
}

label.status.fail {
    color: red;
}

label.status.fail::before {
    content: '\f071';
    font-size: 0.875rem;
    font-weight: 600;
    color: red;
    font-family: 'Font Awesome 6 Pro';
    margin-right: 3px;
}

label.status.missing {
    color: rgb(var(--bs-danger-rgb)) !important;
}

.formItem.missing {
    border: 1px solid #fd4800;
}

.formItem.error {
    border: 1px solid red;
}

label.status.missing::before {
    content: '\f06a';
    font-size: 0.875rem;
    font-weight: 600;
    color: rgb(var(--bs-danger-rgb));
    font-family: 'Font Awesome 6 Pro';
    margin-right: 3px;
}


/* #detailsContent .formRow  */
.formItem {
    /* background-color: #0e111e; */
    background-color: var(--ele-color);
    border: 1px solid var(--color4);
    /* color: #fff; */
    /* padding: 5px 10px; */
    padding: 5px 5px;
    border-radius: 3px;
    outline: none;
    font-size: 0.8125rem;
    width: 100%;
    /* margin: 0px 5px 5px 0px; */
    height: 35px;
    /* transition: all 0.3s ease-in-out; */
    color: var(--form-input-text);
    font-weight: 500;
}

/* .tableHeader .formItem {
    height: 25px;
} */

.formWidth {
    width: 90px !important;
}


.formItem:not([type="file"]):focus,
.formItem:not([type="file"]):hover {
    border: 1px solid var(--color2);
}

.formItem.dark {
    background-color: #ffffff20;
    border: 1px solid #dddddd30;
    padding: 5px 10px;
    border-radius: 5px;
    outline: none !important;
    margin: 10px 0;
    width: 85%;
    height: 36px;
    color: #fff;
}

.formItem.dark option {
    background-color: #0e111e;
    color: #fff;
}


.formItem:autofill {
    background-color: transparent !important;
    color: var(--form-input-text) !important;
}

#detailsContent .formRow select {
    /* width: 170px; */
    width: 100%;
}

/* #detailsContent  */
.listRow {
    display: flex;
    justify-content: space-evenly;
    /* margin-bottom: 10px;
    padding-bottom: 10px; */
    border-bottom: 1px solid #afafaf47;
    padding: 5px;
}

/* #detailsContent .listRow  */
.listLabel {
    display: flex;
    font-size: 0.875rem;
    width: 50px;
    padding: 0 10px;
    margin-top: 2px;
    /* margin-bottom: auto; */
}

/* #detailsContent .listRow  */
.listItem {
    background-color: #0e111e;
    border: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 7px;
    outline: none;
    font-size: 0.75rem;
}

.formTextArea {
    /* background-color: #0e111e; */
    border: 1px solid var(--color4);
    /* color: #fff; */
    padding: 10px 10px;
    border-radius: 2px;
    outline: none;
    font-size: 0.875rem;
}

#detailsContent .formRow textarea {
    width: 65%;
}

#detailsContent #advancedOptions {
    max-height: 0px;
    overflow: hidden;
    /* transition: 0.7s ease-in-out; */
    display: flex;
    flex-wrap: wrap;
}

#apiKey {
    display: none;
    width: 250px;
}

input[type="file"] {
    font-size: 0.6875rem;
    border: none;
    height: auto;
    padding-left: 0;
}

input[type="file"]::file-selector-button {
    background-color: var(--ele-color);
    border: 1px solid var(--color4);
    padding: 5px 10px;
    border-radius: 3px;
    outline: none;
    font-size: 0.75rem;
    color: var(--form-label);
    height: 34px;
}

.formRow .formItemDesc {
    font-size: 0.6875rem;
    line-height: 14px;
    margin-top: 5px;
    font-weight: 400;
    width: 100%;
    color: var(--color-subtext);
    font-family: Raleway;
}

#detailsContent .listRow .listItemDesc {
    font-size: 0.6875rem;
    line-height: 15px;
    /* margin-top: 8px; */
}


/* Input Type Number No Arrow */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* input[type=number] {
    -moz-appearance: textfield;
} */

/* Input Type Number No Arrow */


#detailsContent table tbody tr td {
    font-weight: 500;
}

#detailsContent table tr th:first-child,
#detailsContent table tr td:first-child {
    padding-left: 5px;
}

#detailsContent .vtablerow select {
    height: 24px;
}

form.tangoNavs .nav-tabs .nav-link.active {
    border-bottom: 3px solid var(--ui-accent) !important;
    color: var(--ui-accent);
}

form.tangoNavs .nav-tabs {
    margin-bottom: 10px;
}

.overviewTableWrapper {
    padding: 20px;
}

.overviewTableWrapper .overviewTableChild {
    /* border: 1px solid #ddd; */
    /* padding: 20px; */
    background-color: var(--ele-color);
    border-radius: 10px;
    /* overflow: hidden; */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.overviewTableWrapper .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: var(--formHeadingBloc);
    border-bottom: 1px solid var(--me-border1);
    border-radius: 10px 10px 0 0;
}


.overviewTableWrapper .heading .content p {
    margin-bottom: 0;
    color: var(--color-subtext);
    font-size: 0.875rem;
}

.overviewTableWrapper .heading .content h4 {
    margin-bottom: 5px;
    font-family: 'Roboto';
}

.overviewTableWrapper .buttonGroup {
    display: flex;
    justify-content: flex-end;
}

.overviewTableWrapper .buttonGroup-1 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.overviewTableWrapper .tableContainer {
    height: calc(100vh - 340px);
    overflow: auto;
}

.formItem option:disabled {
    color: var(--color-subtext);
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 500;
}

/* .overviewTableChild .formScroller {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
} */

.formRow.col-xl-3 {
    width: 45%;
    /* margin-right: 70px; */
}

.formRow.ringGroup_row.col-xl-3 {
    width: auto;
}

.formRow.col-xl-3:nth-child(odd) {
    margin-right: 70px;
}

/* form.row {
    justify-content: space-between;
} */
.deviceProvision {
    border-radius: 10px;
}

.deviceProvision.active {
    border: 1px solid green;
    box-shadow: #00ff1554 0px 3px 8px;
}

.deviceProvision.formRow {
    justify-content: start;
}

.deviceProvision .formLabel {
    margin-left: 20px;
}

.deviceProvision .formLabel h5 {
    margin-bottom: 5px;
}

.deviceProvision .formLabel p {
    margin-bottom: 2px;
}

.deviceProvision img {
    width: 100%;
}

.deviceProvisionDetails {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    background-color: var(--ele-color);
    position: relative;
}

.deviceProvisionDetails::after {
    content: '\f2ec';
    position: absolute;
    top: -23px;
    left: 180px;
    width: 0;
    height: 0;
    font-family: 'Font Awesome 5 Pro';
    font-size: 1.25rem;
    font-weight: 100;
    color: var(--border-color);
}

.deviceProvisionDetails[data-id="1"]::after {
    left: 180px;
}

.deviceProvisionDetails[data-id="2"]::after {
    right: 180px;
    left: auto;
}

.deviceProvisionDetails .title {
    border-bottom: 1px solid var(--border-color);
    padding: 15px 20px;
    margin-bottom: 10px;
}

.deviceProvisionDetails .content {
    padding: 10px 20px;
    color: var(--form-input-text);
    font-size: 0.9375rem;
    /* margin-bottom: 10px; */
}

.deviceProvisionDetails .content ul {
    padding-left: 20px;
    margin-bottom: 20px;
}

.deviceProvisionDetails .content ul li {
    color: var(--form-input-text);
    font-size: 0.875rem;
    margin-bottom: 5px;
}

.deviceProvision .editBtn {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1;
    opacity: 0;
}

.deviceProvision:hover .editBtn {
    opacity: 1;
    background-color: #e7e7e7;
    color: #000;
}

.actionBtnDropdowns {
    background-color: var(--nav-color);
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: #fff;
    width: max-content;
}

.actionBtnDropdowns li>* {
    color: #fff;
}

.timeTableWrapper {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--border-color);
    background-color: var(--formHeadingBloc);
}

.timeTableWrapper .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.timeTableWrapper .item {
    display: flex;
    align-items: center;
}

.timeTableWrapper .item label {
    font-size: 0.875rem;
}

.custom-font p {
    font-size: 0.875rem;
    font-weight: 500;

}

.overviewTableWrapper .accordion-button:not(.collapsed) .heading {
    border-radius: 10px 10px 0 0;
}

.overviewTableWrapper .accordion-button .heading {
    border-radius: 10px;
}

.headingExtraInfo {
    display: flex;
}

.headingExtraInfo p {
    padding: 0;
    margin: 0;
    font-size: 0.875rem;
    color: var(--color-subtext);
    font-weight: 700;
    margin-bottom: 5px;
}

.headingExtraInfo span.badge.rounded-pill {
    font-size: 0.625rem;
}

.image_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.image_box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100px;
    height: auto;
}

.image_box img {
    width: 100%;
}

.addWrap .card {
    height: 100%;
    background: #efefef;
    border-color: #a3a3a3 !important;
}

.addWrap .card.active {
    background: #e5ffe5;
    border-color: #168700 !important;
}

.badge-soft-primary {
    color: var(--text-badge-accent);
    background-color: var(--bg-badge-accent);
    border: 1px solid var(--bg-badge-accent-border);
}

.badge-soft-secondary {
    color: var(--text-badge-secondary);
    background-color: var(--bg-badge-secondary);
    border: 1px solid var(--bg-badge-secondary-border);
}

.badge-purple {
    background-color: var(--badge-purple-bg);
    color: var(--badge-purple-text) !important;
}

.badge-soft-success {
    color: var(--text-badge-success);
    background-color: var(--bg-badge-success);
    border: 1px solid var(--bg-badge-success-border);
}

.badge-soft-danger {
    color: var(--text-badge-danger);
    background-color: var(--bg-badge-danger);
    border: 1px solid var(--bg-badge-danger-border);
}

.badge-softLight-primary {
    color: var(--badge-primary-text);
    /* background-color: var(--bg-badge-danger); */
    border: 1px solid var(--badge-primary-border);
}

.badge-border {
    border: 1px solid #00993b;
}

.badge-border-danger {
    border: 1px solid #e90059;
}

.badge-subtle {
    background-color: #0ab39c;
    color: #fff;
    font-size: 0.625rem;
    transition: all 0.4s ease-in-out;
    position: relative;
}

.badge-subtle:hover .card_info {
    opacity: 1;
}

.card_info {
    position: absolute;
    top: 0;
    right: 48px;
    z-index: 11;
    background: var(--hover-bg);
    box-shadow: var(--shadow-gray) 0 0 10px;
    /* width: 100%; */
    max-width: 200px;
    padding: 8px;
    border-radius: 8px;
    color: var(--form-label);
    text-align: start;
    opacity: 0;
}

.card_info ul li {
    list-style-type: none;
}


.getPopup.checkout input[type="radio"] {
    position: absolute;
    width: 100%;
    opacity: 0;
    left: 0;
    top: 0;
    height: 100%;
    cursor: pointer;
}

.getPopup.checkout input[type="radio"]:checked~.checkmark {
    border: 1px solid var(--ui-accent);
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
}

.fillerCountryNumber .formRow {
    /* display: block; */
}

/* .fillerCountryNumber .formItem {
    height: 25px;
} */

.widthFit {
    width: fit-content;
}

.userPermission__contentBox .itemWrapper {
    padding: 5px 0 !important;
}

.userPermission__contentBox .heading {
    /* border: 1px solid var(--me-border1) !important; */
    border: 1px solid var(--border-color) !important;
    border-radius: 8px;
    padding: 10px !important;
}

.userPermission__contentBox .accordion-collapse .card {
    margin-bottom: 0;
}

.userPermission__contentBox .permission_accordionBody {
    /* background-color: #ffffff !important; */
    margin-bottom: 0;

}

.userPermission__contentBox td[colspan="7"] {
    background-color: #dce5ff;
}

body.dark .userPermission__contentBox td[colspan="7"] {
    background-color: var(--bg-color);
}

.userPermission__contentBox .permission_accordionBody .accordion-button {
    background-color: transparent !important;
    border: none !important;
}

.userPermission__contentBox .permission_accordionBody .accordion-button>* {
    color: var(--immortalBlack);
    font-size: 0.875rem;
}

.userPermission__contentBox .permission_accordionBody .accordion-collapse.collapse.show {
    /* padding: 10px !important; */
    border-top: 1px solid var(--me-border1) !important;
}

.permission_accordionBody .accordion-button:not(.collapsed) {
    border: 0 !important;
}

.userPermission__contentBox .permission_accordionBody .card-body label {
    color: var(--immortalBlack);
    font-size: 0.75rem;
}

input[type="time"]:invalid {
    border: 1px solid red;
}