.roleGroupCard {
    box-sizing: border-box;
    width: 190px;
    height: 254px;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
}

.roleGroupCard:hover {
    border: 1px solid black;
    transform: scale(1.05);
}

.roleGroupCard:active {
    transform: scale(0.95) rotateZ(1.7deg);
}

.permissionsConfigWrapper .accordion-button.mainSection {
    padding: 0;
}

.permissionsConfigWrapper .accordion-button::after {
    right: 60px;
}

.permissionsConfigWrapper.accordion .accordion-button.mainSection:not(.collapsed) {
    background: none;
    border: none;
}

.permissionsConfigWrapper {
    /* border-bottom: 1px solid var(--border-color); */
    border-radius: 10px;
    background-color: var(--ele-color);
    text-align: center;
    position: relative;
    height: 100%;
    margin-bottom: 10px;
}


.permissionsConfigWrapper .heading i {
    font-size: 1rem;
    padding: 13px;
    border-radius: 10px;
    color: var(--funky-boy4);
    background-color: var(--funky-boy4-trans);
    float: inline-end;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 5px;
    cursor: pointer;
    width: 42px;
    height: 42px;
    text-align: center;
}

.permissionsConfigWrapper#accordionMainParent .accordion-button::after {
    right: 37px;
    top: 0;
}
.permissionsConfigWrapper#accordionMainParent .permission_accordionBody .accordion-button::after {
    right: 0;
    top: 13px;
}


.permissionsConfigWrapper table tr {
    text-align: left;
}

.permissionsConfigWrapper table tr>* {
    padding: 15px;
}

.permissionsConfigWrapper table ul {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--border-color);
    background-color: var(--ele-color);
}

.permissionsConfigWrapper table ul li p {
    margin-bottom: 0px;
    margin-top: 5px;
}

.permissionsConfigWrapper table ul li {
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 5px;
}