main.login {
    /* background-image: url('../../images/login_bg2.jpg'); */
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;

    background-color: var(--bg-color);
}

.loginWrapper {
    backdrop-filter: blur(10px);
    background-color: #ffffff25;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid #fff;
    height: 435px;
}

.loginFormItem {
    border: 1px solid #fff;
    background-color: #ffffff45;
    border-radius: 50px;
    width: 100%;
    height: 40px;
    color: #fff;
    margin-bottom: 30px;
    padding: 5px 15px 5px 40px;
    font-family: Outfit;
    font-size: 1rem;
    font-weight: 200;
    outline: none;
}

.loginFormItem::placeholder {
    color: #fff;
    font-family: Outfit;
    font-weight: 400;
    font-size: 0.875rem;
    letter-spacing: 1px;
}

.loginWrapper form i {
    position: absolute;
    top: 10px;
    left: 13px;
    font-size: 1.125rem;
    color: #fff;
}

.formSubmit {
    background-color: #fff;
    color: var(--ui-accent);
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 0.875rem;
    border: none;
    border-radius: 50px;
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 25px;
}

.loginLabel {
    color: #fff;
    font-size: 0.8125rem;
    font-family: Outfit;
}

a.loginLabel {
    font-style: italic;
    font-weight: 500;
    text-decoration: none;
}

.loginWrapper .iconWrapper {
    position: relative;
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #ffffff45;
    margin-bottom: 35px;
}

.loginWrapper .iconWrapper i {
    font-size: 3.25rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff45;
}

.login .someText {
    position: absolute;
    bottom: 15px;
    left: 30px;
    max-width: 196px;
}

.login .someText h1 {
    font-family: Open Sans;
    font-weight: 900;
    letter-spacing: -1px;
    color: #fff;
}

.login .someText p {
    color: #ffffff;
    font-size: 0.75rem;
    font-weight: 200;
}

.login .someLogo {
    position: absolute;
    top: 15px;
    left: 30px;
}

.login .someLogo h3 {
    font-family: Outfit;
    font-weight: 700;
    color: #fff;
    position: relative;
    margin-bottom: 5px;
}

.login .someLogo h3::after {
    content: '';
    position: absolute;
    top: 18px;
    right: 0px;
    width: 22px;
    height: 3px;
    background-color: #fff;
}

.login .someLogo p {
    color: #ffffff;
    font-size: 0.75rem;
    font-weight: 100;
}

.loginWrapper form {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.forgotPassword {
    display: none;
}





/* Particle JS */

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #08091d;
    /* background-image: url("http://192.168.1.136/ringerappCI/assets/images/login_bgX.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

/* ---- stats.js ---- */
.count-particles {
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.js-count-particles {
    font-size: 1.1em;
}

#stats,
.count-particles {
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
}

#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.count-particles {
    border-radius: 0 0 3px 3px;
}

#tsparticles {
    height: 100%;
    width: 100%;
}


/* ------------------------- */

.loginWrapper2 {
    background-color: var(--ele-color);
    border-radius: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 80vh;
    padding: 20px 20px;
    z-index: 999;
}

.loginWrapper2 .content h3,
.loginWrapper2 .loginImgWrapper h3 {
    font-family: Outfit;
    font-weight: 300;
    font-size: 1.75rem;
}

.loginWrapper2 .content h3 {
    color: var(--immortalBlack);
}

.loginWrapper2 .content p {
    color: var(--color-subtext);
}

.loginWrapper2 .loginImgWrapper h3,
.loginWrapper2 .loginImgWrapper p {
    color: #fff;
}

.loginWrapper2 .content p,
.loginWrapper2 .loginImgWrapper p {
    font-family: Open sans;
    font-weight: 400;
    font-size: 0.875rem;
}

.loginWrapper2 .content .loginFormItem {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    color: var(--immortalBlack);
    font-weight: 300;
}

.loginWrapper2 .content .loginFormItem::placeholder {
    color: var(--color-subtext);
}

.loginWrapper2 .content .loginForm i {
    position: absolute;
    top: 12px;
    left: 10px;
    color: var(--ui-accent);
    font-weight: 600;
}

.loginWrapper2 .content .loginForm label {
    font-weight: 400;
    font-family: 'Outfit';
    font-size: 0.875rem;
    margin-bottom: 5px;
    color: var(--immortalBlack);
}

.loginWrapper2 .content .formSubmit {
    background-color: var(--ui-accent);
    /* Adjust the blue color as needed */
    color: white;
    font-size: 1rem;
    font-weight: 400;
    padding: 5px 40px;
    border: none;
    border-radius: 10px;
    /* Rounded edges */
    text-align: center;
    cursor: pointer;
    outline: none;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.loginWrapper2 .content .formSubmit:hover {
    background-color: #2f4ccc;
    /* Darken on hover */
}

.loginWrapper2 .loginImgWrapper {
    background: var(--ui-accent);
    border-radius: 20px;
    overflow: hidden;
    height: 100%;
}

.loginWrapper2 .loginImgWrapper .content {
    padding: 50px 80px;
    color: #fff;
}

.loginWrapper2 .loginImgWrapper .content p {
    color: #fff;
    margin-top: 15px;
    margin-bottom: 0;
}

.loginWrapper2 .loginImgWrapper img {
    width: 100%;
    margin-top: 25px;
    margin-left: -8px;
}

.loginWrapper2 .loginImgWrapper img.comp {
    width: 90%;
    top: 90px;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
}

.loginWave {
    width: 100%;
    height: 500px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.loginWave img {
    width: 100%;
    object-fit: cover;
}