.masterList .masterSegment {
    background-color: transparent;
    /* border-radius: 10px; */
    /* margin-top: 10px; */
    /* padding: 15px; */
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    max-height: 500px;
    overflow-y: auto;
}

/* .masterList {
    height: calc(100vh - 252px);
    overflow-y: auto;
} */

.masterList ul {
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
}

.masterList ul li {
    /* border-bottom: 1px solid var(--border-color); */
    /* width: 150px; */
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s ease-in-out;
    padding: 5px 5px;
}


.masterList ul li input,
.masterList ul li input::placeholder {
    background-color: transparent;
    border: none;
    /* border-bottom: 1px solid #868686; */
    outline: none;
    width: 100%;
    font-size: 0.875rem;
    /* color: #fff; */
    font-family: Noto sans;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    color: var(--form-label);
}

.masterList ul li.active {
    background-color: var(--ui-accent);
    /* border-bottom: 1px solid transparent; */
    border-radius: 8px;
    padding: 5px 5px;
}

.masterList ul li.active input::placeholder {
    color: #fff;
    font-weight: 500;
}

.masterList ul li.active button i {
    color: #fff;
}

.masterList ul li.active button {
    box-shadow: none;
    background-color: transparent;
}

.masterList ul li.active button:hover {
    background-color: #fff;
}