/* .mainContentApp .nav-tabs {
    border: none;
} */


.nav-link {
    transition: none;
}

.mainContentApp .nav-link {
    color: #444444;
}

.mainContentApp .tabLink {
    background: transparent;
    border: none;
    padding: 10px 30px;
    color: #9f9f9f;
}

.mainContentApp .tabLink i {
    font-size: 1.25rem;
}

.mainContentApp .tabLink.active {
    color: var(--ui-accent) !important;
    border-bottom: 3px solid var(--ui-accent) !important;
    border: none;
}

.unread {
    border-radius: 50px;
    background-color: var(--ui-accent);
    font-size: 0.68rem;
    color: #fff;
    padding: 4px 7px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 12px;
}

.mainContentApp .nav-link:hover {
    border: none;
}

.mainContentApp .nav-link:focus {
    border: none;
}

.mainContentApp #headerSearch {
    border: 1px solid var(--border-color);
    border-radius: 5px;
    min-height: 35px;
    padding: 0px 0 0 35px;
    width: 97%;
    margin: 0 10px;
    color: var(--form-label);
    font-size: 0.875rem;
    background: var(--searchBg) url(../../images/search_b.png) no-repeat 7px center / 17px 17px;
    outline: none;
    /* transition: 0.1s ease-in-out; */
}

.mainContentApp #headerSearch:focus,
.mainContentApp #headerSearch:hover {
    border-color: var(--ui-accent);
}

[type=search] {
    outline-offset: 0px;
}

/* Messaging UI */
.messageOverlay .contactHeader {
    padding: 10px;
    border-bottom: 1px solid var(--me-border1);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.messageOverlay .contactHeader h4 {
    font-size: 1.125rem !important;
    margin-bottom: 5px;

}

.messageOverlay .contactHeader .status {
    color: #454545;
    font-size: 0.875rem;
    font-weight: 400;
    position: relative;
    margin-left: 15px;
}

.messageOverlay .contactHeader .status::after {
    content: '';
    background-color: #454545;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    left: -12px;
    top: 6px;
}

.messageOverlay .contactHeader .status.online::after {
    background-color: #00d30b;
}

.messageOverlay .messageContent {
    height: 100%;
    /* overflow-y: auto; */
    display: flex;
    flex-wrap: wrap;
}

.messageOverlay .messageList {
    height: calc(100vh - 290px);
    width: 100%;
    overflow-y: auto;
}

.messageContent .messageInput {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 10px;
    border: 1px solid var(--border-color);
    background-color: var(--ele-color);
    padding: 5px;
    width: 100%;
    padding: 5px 15px;
}

.messageContent .messageInput .input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    color: inherit;
}

.messageContent .messageInput nav {
    margin-bottom: 10px;
}

.messageContent .messageInput .tabLink {
    padding: 5px 8px;
    margin-right: 5px;
    font-size: 0.875rem;
}

.dateHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    position: relative;
    margin: 15px 0;
}

.dateHeader.sticky {
    position: sticky;
    top: 15px;
    z-index: 9;
}

.dateHeader.sticky::after {
    content: none;
}

.dateHeader::after {
    content: '';
    width: 90%;
    height: 1px;
    background-color: var(--me-border1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dateHeader p {
    width: 130px;
    border-radius: 50px;
    background-color: var(--ele-color);
    border: 1px solid var(--border-color);
    padding: 3px 20px;
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--color-subtext);
    text-align: center;
    margin-bottom: 0;
    position: relative;
    z-index: 1;
}

.messageList .messageItem {
    display: flex;
    /* justify-content: space-between; */
    padding: 10px;
    /* margin-top: 10px; */
    /* width: max-content; */
}

.messageItem.receiver .messageDetails {
    background-color: var(--ele-color);
    border-radius: 0px 10px 10px 10px;
}

.messageItem.sender .messageDetails {
    background-color: #a9dbff3d;
    border-radius: 10px 10px 0px 10px;
    border: 1px solid var(--border-color);
}

.messageItem.sender {
    justify-content: end;
}

.messageItem.sender .first {
    display: none;
}

.messageItem.sender .second .messageDetails {
    float: inline-end;
}

.messageItem.sender .second h6 {
    /* visibility: hidden; */
    text-align: end;
}

.messageItem.sender .second h6 span {
    visibility: visible;
}


.messageList .messageItem .first {
    width: 7%;
}

.messageList .profileHolder {
    width: 35px;
    height: 35px;
    background-color: var(--div-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 0.875rem;

}

.messageList .messageDetails {
    /* min-width: max-content; */
    display: inline-block;
    max-width: 500px;
    min-width: 30px;
    min-height: 30px;
    padding: 8px 12px;
    border: 1px solid var(--border-color);
    overflow-wrap: break-word;

}

.messageList .messageDetailss {
    /* min-width: max-content; */
    display: inline-block;
    max-width: 500px;
    min-width: 390px;
    min-width: 345px;
    min-height: 30px;
    /* padding: 8px 12px; */
    /* border: 1px solid var(--border-color); */
    overflow-wrap: break-word;
}

.messageList .messageItem h6 {
    font-size: 0.75rem;
    margin-bottom: 2px;
    font-weight: 700;
    color: var(--color-subtext);
    text-transform: capitalize;
}

.messageList .messageItem h6 span {
    font-size: 0.6875rem;
    /* color: var(--webUtilGray); */
    margin-left: 6px;
    font-weight: 400;
}

.messageList .messageDetails p {
    font-size: 0.875rem;
    color: var(--form-label);
    margin-bottom: 0px;
    word-wrap: break-word;
}

.messageList .callListItem .profileHolder {
    width: 40px !important;
    height: 40px !important;
}

.callList.messageList .callListItem h4 {
    font-size: 0.875rem !important;
}

.callList.messageList .callListItem h5 {
    font-size: 0.75rem !important;
}

.mainContentApp .callList.messageList {
    height: calc(100vh - 175px);
}

.messageList .callListItem .textWrapper {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-grow: 1;
}


/* Message List Active Selector */

.callListItem.filterItem.active {
    background-color: #4545452e;
}

.callListItem.filterItem.new::after {
    content: '';
    background-color: #ff7300;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    top: 75%;
    right: 15px;
    transform: translate(50%);
}

.chatHeading {
    background: var(--searchBg);
    padding: 10px 10px;
    border: 1px solid var(--border-color);
    /* border-radius: 10px 10px 0 0; */
    position: relative;
}

.chatHeading h5 {
    margin-bottom: 0;
    font-size: 0.875rem !important;
    text-transform: uppercase;
    letter-spacing: 0.5px;

    font-weight: 600;
}

.chatHeading i {
    float: inline-end;
}

.chatHeading h5:not(.collapsed) i {
    transform: rotate(180deg);
}

.chatHeading h5 span {
    background-color: var(--ui-accent);
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 35px;
    transform: translate(0, -50%);

    font-size: 0.75rem;
}

.callList .collapse {
    background-color: var(--searchBg);
    /* padding-top: 5px; */
    /* border-radius: 0 0 10px 10px; */
    /* padding: 5px; */
}

.callList .collapse .contactListItem:last-child {
    border-bottom: none;
}

.videoCallWrapper {
    background-color: var(--caller-color);
    position: relative;
}

.videoCallWrapper .messageOverlay {
    background-color: var(--ele-color);
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    z-index: 9;

    max-width: 360px;
    margin-left: 0;
    transition: 1s ease-in-out;
}

.videoCallWrapper .messageOverlay .messageContent {
    padding: 10px;
}

.videoCallWrapper .messageOverlay .contactHeader {
    padding: 10px 20px;
}

.videoCallWrapper .messageOverlay.hidden {
    /* max-width: 0px; */
    margin-left: -1000px;
}

.videoCallWrapper .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
}

.videoCallWrapper .heading h4 {
    margin-bottom: 0;
    color: #fff;
    font-weight: 400;
}

.videoCallWrapper .heading h4 span {
    border-radius: 50px;
    background-color: #3a3c4a;
    color: #fff;
    padding: 5px 10px;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1;
    margin-left: 15px;
}

.videoCallWrapper .videoBody {
    height: calc(100vh - 70px);
    padding: 10px 0;
    position: relative;
    border-radius: 15px;
    overflow: hidden;

    display: flex;
    justify-content: space-between;
}

.videoCallWrapper .messageOverlay .messageList {
    height: calc(100vh - 300px);
}

.videoCallWrapper .videoBody .activeGuyName {
    background-color: #00000070;
    padding: 10px 20px;
    color: #fff;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    border-radius: 10px;
    min-height: 45px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.videoCallWrapper .videoBody .activeGuyName:hover {
    background-color: #000000de;
}

.videoCallWrapper .videoBody .conferenceParticipantsWrapper {
    transition: background 0.2s ease-in-out, max-width 1s ease-in-out;
    position: relative;
    max-width: 135px;

}

.videoCallWrapper .videoBody .conferenceParticipantsWrapper.hidden {
    /* transform: translateX(125px); */
    max-width: 8px;
}

.videoCallWrapper .videoBody .conferenceParticipantsWrapper:hover {
    background: rgba(51, 51, 51, 0.5);
}

.noScrollbar::-webkit-scrollbar {
    display: none !important;
}

.noScrollbar {
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
}

.conferenceParticipantsWrapper .participantList {
    overflow: hidden auto;
    padding: 10px 20px;
    height: 100%;
}

.conferenceParticipantsWrapper .participantList::-webkit-scrollbar-track {
    display: none;
}

.conferenceParticipantsWrapper .participantList::-webkit-scrollbar-thumb {
    background: #000;
}

.participantMemberList {
    width: 300px;
    padding: 15px;
    background: rgba(20, 20, 20, 1);
    position: relative;
    z-index: 1;
}

.participantMemberList ul {
    margin: 25px 0;
    overflow: auto;
    height: calc(100% - 210px);
}

.participantMemberList ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ffffff38;
    margin-bottom: 13px;
    padding-bottom: 13px;
}

.participantMemberList ul li span {
    color: #000;
    font-size: 0.875rem;
}

.participantMemberList ul li .profileHolder {
    align-items: center;
    display: flex;
    font-size: .875rem;
    height: 30px;
    justify-content: center;
    width: 30px;
}

.videoCallWrapper .videoBody .participant {
    position: relative;
    /* top: 20px;
    right: 20px; */
    width: 90px;
    height: 90px;
    border-radius: 15px;
    /* overflow: hidden; */
    border: 2px solid transparent;
    padding: 5px 10px;
    background: #171717;
    margin-bottom: 10px;
    transition: 0.2s ease-in-out;
}

.videoCallWrapper .videoBody .participant[data-speaking="true"] {
    border-color: #1eff00;
}

.videoCallWrapper .videoBody .participant .videoElement {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 15px;
}

.videoCallWrapper .videoBody .participant:hover {
    border-color: transparent;
}

.videoCallWrapper .videoBody .participant.active {
    /* position: absolute;
    top: 0;
    left: 0; */
    /* width: 100%; */
    flex: 1 0 0%;
    height: 100%;
    border: none;
    background: transparent;
    margin-bottom: 0;
    padding: 10px;
}

.videoCallWrapper .videoBody .participant.active .participantWrapper,
.videoCallWrapper .videoBody .participant .participantWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.videoCallWrapper .videoBody .participant[data-mic="true"]::after,
.videoCallWrapper .videoBody .participant[data-mic="false"]::after {
    content: '\f131';
    font-family: 'FontAwesome';
    background-color: #e45758;
    color: #fff;
    width: 25px;
    height: 25px;
    position: absolute;
    top: -4px;
    left: -10px;
    z-index: 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    -webkit-font-smoothing: antialiased;
}

.videoCallWrapper .videoBody .participant[data-speaker="true"]::before {
    content: '\f6a8';
    font-family: 'FontAwesome';
    background-color: #01c78e;
    color: #fff;
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: -4px;
    left: -10px;
    z-index: 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    -webkit-font-smoothing: antialiased;
}

.videoCallWrapper .videoBody .participant[data-speaker="false"]::before {
    content: '\f2e2';
    font-family: 'FontAwesome';
    background-color: #01c78e;
    color: #fff;
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: -4px;
    left: -10px;
    z-index: 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    -webkit-font-smoothing: antialiased;
}


.videoCallWrapper .videoBody .participant[data-mic="true"]::after {
    content: '\f130' !important;
}

.videoCallWrapper .videoBody .participant .participantName {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0;
    text-align: center;
    color: #fff;
}

.videoCallWrapper .videoControls {
    display: flex;
    justify-content: center;
    padding: 10px 0 0;
    /* position: absolute; */
    /* bottom: 0; */
    /* left: 50%; */
    /* transform: translateX(-50%); */
    width: 100%;
}

.dropdown-menu-hover li::marker {
    color: transparent;
}

.contactHeader .dropdown-menu,
.dropdown-menu.light,
.dropdown-menu-hover {
    padding: 5px 0;
    background-color: var(--ele-color);
    height: auto;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 18px 0px, rgb(0 0 0 / 0%) 0px 0px 9px 1px;
    border: 1px solid var(--me-border1);
}

.contactHeader .dropdown-menu .dropdown-item {
    cursor: pointer;
}

.contactHeader .dropdown-menu .dropdown-item,
.dropdown-menu.light .dropdown-item,
.dropdown-menu-hover .dropdown-item {
    font-size: 0.8125rem;
    color: var(--color-subtext);
    padding: 5px 10px;
    font-weight: 400;
    /* font-family: Outfit; */
}

.contactHeader .dropdown-menu .dropdown-item:active,
.dropdown-menu.light .dropdown-item:active,
.dropdown-menu-hover .dropdown-item:active {
    background-color: #dfdfdf;
}

.contactHeader .dropdown-menu li,
.dropdown-menu.light li,
.dropdown-menu-hover li {
    margin-bottom: 0;
    padding-bottom: 0;
}

.dropdown-item.disabled {
    background-color: transparent !important;
}

.videoCallWrapper .videoBody .videoHolder {
    position: relative;
    height: calc(100% - 105px);
    border-radius: 15px;
    overflow: hidden;
    /* width: max-content; */
    width: 100%;
    margin: 0 auto;
}


.videoCallWrapper .videoBody .participant .videoConferenceButton {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.NotificationBell {
    position: absolute;
    bottom: -100px;
    left: 10px;
    border-radius: 50px;
    z-index: 999;

    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--ui-accent);

    opacity: 0;
    filter: blur(5px);
    animation: slideFadeIn 0.3s ease-in-out forwards;

}

.NotificationBell i {
    border-radius: 50%;
    background-color: var(--ui-accent);
    border: 2px solid #fff;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1rem;
}

.NotificationBell .content {
    color: #fff;
    padding: 0;
    max-width: 0;
    height: 0;
    overflow: hidden;
    animation: expandContent 0.5s ease-in-out 0.5s forwards;
    text-wrap: nowrap;
    font-size: 0.875rem;
    text-overflow: ellipsis;
}

@keyframes slideFadeIn {
    0% {
        bottom: -100px;
        /* Off-screen */
        opacity: 0;
        filter: blur(5px);
    }

    100% {
        bottom: 10px;
        /* In view */
        opacity: 1;
        filter: blur(0px);
    }
}

@keyframes expandContent {
    0% {
        padding: 0;
        height: 0;
        max-width: 0;
    }

    100% {
        padding: 0 15px 0 10px;
        height: auto;
        max-width: max-content;
        min-width: 150px;
    }
}

.conferenceJoinVideo {
    width: 100%;
    height: 400px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    background: radial-gradient(circle, rgba(43, 43, 43, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

.conferenceJoinVideo video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: radial-gradient(circle, rgba(43, 43, 43, 1) 0%, rgba(0, 0, 0, 1) 100%);


}

.conferenceJoinVideo .buttonGroup {
    display: flex;
    width: 100%;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    left: 0;
}

.mergeCallList {
    border: 1px solid var(--border-color);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    overflow: hidden;
}

.mergeCallList ul {
    max-height: 170px;
    overflow-y: auto;
}

.mergeCallList ul li {
    font-size: 0.75rem;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}

.mergeCallList button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: none;
    background-color: var(--ui-accent);
    color: #fff;
    font-size: 0.875rem;
    transition: 0.3s ease-in-out;
}

.mergeCallList button:hover {
    background-color: #383838;
}

.border-upper p {
    text-align: center;
    cursor: pointer;
    background-color: #ededed;
}





/* ============================================================================ webrtc new message ui changes style here  */

.webrtc_newMessageUi .nav.nav-tabs {
    flex-wrap: nowrap;
    /* overflow: auto; */
}

.webrtc_newMessageUi .tabLink {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: var(--me-text-color) !important;
    border-right: 1px solid var(--me-border1) !important;
    flex-shrink: 0;
}

.webrtc_newMessageUi .tabLink:last-child {
    border: none !important;
}

.webrtc_newMessageUi .tabLink i {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(33, 150, 243, 0.09);
    font-size: 12px !important;
    color: var(--ui-accent);
    flex-shrink: 0;
}

.mainContentApp .webrtc_newMessageUi .tabLink.active {
    color: var(--ui-accent) !important;
    border-bottom: 2px solid var(--ui-accent) !important;
    border: none;
    background: rgba(62, 142, 247, 0.11);
}

.webrtc_newMessageUi {
    background: var(--me-body-bg);
    padding: 10px 10px;

    position: relative;
}

.webrtc_newMessageUi .messageOverlay {
    background: var(--me-body-bg2);
    border-radius: 10px;
    border-left: 0 !important;
}

.webrtc_newMessageUi .nav.nav-tabs {
    border-block: 1px solid var(--me-border1);
}

.mainContentApp .webrtc_newMessageUi .tabLink {
    padding: 10px 10px;
}

.webrtc_newMessageUi .chatHeading {
    background: transparent;
    padding: 10px 10px;
    border: none;
}

.webrtc_newMessageUi .chatHeading h5 {
    color: #8c9097;
    font-size: .6875rem !important;
}

.mainContentApp .webrtc_newMessageUi .contactListItem {
    min-height: auto;
    border-bottom: 0;
    padding: 15px 25px;
    background-color: unset;
}

.webrtc_newMessageUi .callList .collapse {
    background: transparent;
}

.webrtc_newMessageUi #profileOfflineNav::before {
    background-color: #ffdc18;
    border: 2px solid #fff;
    z-index: 1;
}

.webrtc_newMessageUi #profileOfflineNav::after {
    border: 1px solid #008eff;
}

.mainContentApp .webrtc_newMessageUi .tab-content .contactListItem.selected {
    background: var(--user-list-active) !important;
    border-right: 0 !important;
}

.mainContentApp .webrtc_newMessageUi .profileHolder {
    width: 40px;
    height: 40px;
    box-shadow: none;
    flex-shrink: 0;
}

.webrtc_newMessageUi .callListItem:hover,
.mainContentApp .webrtc_newMessageUi .tab-content .contactListItem:hover {
    background-color: var(--user-list-active);
}

.mainContentApp .webrtc_newMessageUi .contactListItem p {
    font-size: 0.75rem !important;
    /* font-weight: 500; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
    text-transform: capitalize;

}

.mainContentApp .webrtc_newMessageUi .contactListItem h5 {
    font-size: 0.75rem !important;
    color: #8c9097;
    margin: 0;
}

.mainContentApp .webrtc_newMessageUi .tab-content .contactListItem.selected h5 {
    color: var(--me-text-color);
}

.mainContentApp .webrtc_newMessageUi .tab-content .contactListItem.selected p.timeAgo {
    color: var(--me-text-color);
}


.webrtc_newMessageUi #profileOnlineNav::after {
    border: 1px solid #008eff;
}

.webrtc_newMessageUi #profileOnlineNav::before {
    background-color: #26bf94;
    border: 2px solid #fff;
    z-index: 1;
}

.text_muted {
    color: var(--me-text-color2);
}

.mainContentApp .webrtc_newMessageUi .profileHolder {
    background-color: #d2d9ff;
    color: #3953ec;
    box-shadow: none;
}


.mainContentApp .webrtc_newMessageUi .contactListItem span {
    font-size: .715rem !important;
    color: #0027ff;
}

.webrtc_newMessageUi .contactTags span {
    padding: 0px 7px;
    font-size: 0.625rem !important;
    margin: 0px 2px 0 0 !important;
}

.webrtc_newMessageUi .contactTags span.more {
    color: #ff0000 !important;
    background-color: #ffb3b336;
    font-size: 0.625rem !important;
    border: 1px dashed;
    padding: 0 7px;
}

.mainContentApp .webrtc_newMessageUi .contactListItem::after {
    color: #fff;
    background-color: #c7e4fc;
    color: #2793f4 !important;
}

.webrtc_newMessageUi .chatHeading .addGroup {
    border: 1px dashed #2793f4;
    width: max-content;
    padding: 2px 7px;
    font-size: 0.625rem;
    border-radius: 25px;
    cursor: pointer;
    background-color: var(--btn-active-bg);
    color: var(--btn-active-text) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.webrtc_newMessageUi .contactTags span.add {
    background-color: var(--btn-active-bg);
    color: var(--btn-active-text) !important;
    border: 1px dashed #2793f4;
    margin-left: 5px;
}


/* ======================= message box  */

.newMessageBoxUi .dateHeader p {
    background-color: var(--bg-list);
    color: var(--list-color) !important;
    border: none;
    font-size: 0.675rem;
    width: fit-content;
}

.newMessageBoxUi .dateHeader::after {
    background: unset;
}

.newMessageBoxUi .messageItem.sender .messageDetails {
    background-color: #305CFD;
    border-radius: 5px;
    border: none;
    color: #f0f8ff;
    font-size: 0.813rem;
    /* text-align: end; */
}

.webrtc_newMessageUi .newMessageBoxUi #profileOfflineNav::before {
    display: none;
}

.webrtc_newMessageUi .newMessageBoxUi .messageItem.sender {
    padding-inline: 30px;
}

.webrtc_newMessageUi .newMessageBoxUi .messageItem.sender .second h6 {
    color: var(--color-subtext);
    margin-bottom: 8px;
    text-transform: capitalize;
}

/* .webrtc_newMessageUi .newMessageBoxUi .messageItem.sender .second .videoSize {
    height: 201px;
    width: 201px;
} */


.displayFile {
    display: flex;
    width: 180px;
}

.messageItem.sender .messageDetailss.displayFile {
    margin-left: 0px;
}

.webrtc_newMessageUi .leftside_listBar {
    height: calc(100vh - 82px);
    background: var(--me-body-bg2);
}

.webrtc_newMessageUi .messageOverlay .messageList {
    height: calc(100vh - 342px);
    width: 100%;
    overflow-y: auto;
    padding-top: 30px;
}

.loadingBody {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    z-index: 999;
    background-color: var(--me-body-bg2);
}

.webrtc_newMessageUi .messageItem.receiver .messageDetails {
    background-color: var(--me-video-bg);
    border-radius: 5px;
    font-size: 0.813rem;
    text-align: start;
    border: 0;
}

.webrtc_newMessageUi .messageContent .messageInput {
    border-top: 1px solid var(--me-border1) !important;
    border: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    background-color: var(--me-input-bg);
    width: 100%;
    padding: 15px;
    padding: 15px;
    /* position: absolute;
    bottom: 18px;
    left: 0;
    right: 0; */
}

.textarea_inputTab .nav.nav-tabs {
    border: 0;
    background: var(--me-video-bg);
    border-radius: 10px;
    padding: 8px;
}

.textarea_inputTab .tabLink {
    padding: 3px 15px !important;
    border-radius: 5px;
}

.mainContentApp .webrtc_newMessageUi .textarea_inputTab .tabLink.active {
    border: none !important;
    background: #89A2FA !important;
    color: #fff !important;
}

.newMessageBoxUi {
    height: calc(100vh - 82px);
}

.newMessageBoxUi .messageOverlay .messageContent {
    height: calc(100vh - 200px);
}

.textarea_inputTab .clearColorButton.dark {
    background-color: var(--ui-accent);
    padding: 0;
    font-size: 0.875rem;
    font-weight: 500;
    width: 37px;
    height: 37px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textarea_inputTab .clearButton2 {
    padding: 0;
    font-size: 0.875rem;
    font-weight: 500;
    width: 37px;
    height: 37px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textSms {
    max-width: 85%;
    width: 100%;
}

.textSms .formItem {
    height: unset !important;
    font-weight: 400;
    border-color: var(--me-border1);
    border-radius: 7px;
    min-height: unset;
    padding-block-start: 20px;
    padding-inline-start: 15px;
}

.clearButton2.emoji {
    color: #3CAA45;
    background: #F0F9F4;
}

.clearButton2.emoji:hover {
    color: #f8f8f8 !important;
    background: #3CAA45;
}

.clearButton2.link {
    background-color: var(--btn-active-bg);
    color: var(--btn-active-text) !important;
}

.clearButton2.link:hover {
    color: #ECF0FE !important;
    background: #305CFD;
}

.clearButton2.gallery {
    background-color: #ddb8ea54;
    color: #9300ff !important;
}

.clearButton2.gallery:hover {
    color: #f8f8f8 !important;
    background: #9300ff;
}

.clearButton2.eraser {
    background-color: #FFF5E0;
    color: #FED05D !important;
    opacity: 0.5;
}

.clearButton2.eraser.active {
    color: #FFF5E0 !important;
    background: #FED05D;
    opacity: 1;
}

.webrtc_newMessageUi .messageOverlay .contactHeader h4 {
    font-size: 1rem !important;
    margin-bottom: 0;
    text-transform: capitalize;
}

.webrtc_newMessageUi .messageOverlay .contactHeader {
    padding: 15px 30px;
}

.f-s-14 {
    font-size: 0.875rem !important;
}

.chat_doc p {
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--black);
    /* min-height: 400px;
    overflow: auto; */
}

.shared-file-icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--me-border1);
    color: #8c9097;
    border-radius: 5px;
}

.file_list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;
}

.file_list p {
    font-size: 0.75rem;
    color: var(--black);
    margin-bottom: 0;
}

.file_list p.text_muted {
    font-size: 0.625rem;
    color: var(--gray2);
}

.file_list .download {
    margin-left: auto;
}

.file_list .download button {
    font-size: 0.875rem;
    color: var(--gray2);
    transition: all 0.4s ease-in-out;
    text-align: end;
    border: none;
    background: transparent;
}

.file_list .download button:hover {
    color: #2793f4;
}

.imageList {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.imageList .imgBox {
    width: 100%;
    height: 80px;
    border-radius: 8px;
    border: 1px solid var(--border-color);
    overflow: hidden;
    position: relative;
}

.imageList .imgBox img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.imageList .imgBox .extraButtons {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background-color: #00000055;
    transition: all 0.3s ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;
}

.imageList .imgBox:hover .extraButtons {
    opacity: 1;
}

.displayFile {
    border-radius: .3rem;
    background-color: var(--me-video-bg);
    color: #333335;
    /* padding: 15px; */
}

.rightPanel {
    min-height: 600px;
    overflow-x: auto;
}

.chat_doc {
    overflow: auto;
    max-height: 320px;
    width: 100%;
    border-bottom: 1px solid var(--me-border1);
    padding-bottom: 0px;
}

.chat_doc:last-child {
    border: 0;
}

.chat_doc a {
    color: #51c9ff !important;
    font-size: 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.callDashParkedCalls.messageDower {
    max-width: 100%;
    height: 100%;
    position: static;
    right: unset;
    top: unset;
    transform: unset;
    isolation: isolate;
    /* z-index: 9999; */
    transition: 0.5s linear;
}

.callDashParkedCalls.messageDower .callDashParkedCallsBtn {
    z-index: -1;
    /* left: -4px; */
}

.webrtc_newMessageUi .contactTags button.more.info {
    color: #fff !important;
    background-color: #03a9f4;
    border-style: solid;
    border: none;
    border-radius: 10px;
    font-size: 12px;
    padding-inline: 15px;
}

.staticPanel {
    position: static;
}

.messageIncomingPopup {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 10px;
    bottom: 10px;
    max-width: 372px;
    width: 100%;
    flex-direction: column;
    gap: 5px;
    transform: translate(-1%, -5%);
    z-index: 999;
}

.messageIncomingPopup .incomingCallPopup {
    position: unset;
    transform: unset;
    min-width: unset;
    min-height: 80px;
    border-radius: 10px;
    /* border-radius: 50px; */
    width: 100%;
    /* padding: 10px 30px; */
    padding: 10px 14px;
}

.messageIncomingPopup .incomingCallPopup .user {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 15px;
}

.messageIncomingPopup .incomingCallPopup .controls {
    justify-content: flex-end;
    gap: 15px;
    margin: 0;
}

.messageIncomingPopup .callButton {
    margin: 0;
}

.messageIncomingPopup .incomingCallPopup .userHolder {
    height: 40px;
    width: 40px;
    flex-shrink: 0;
}

.messageIncomingPopup .incomingCallPopup .userHolder img {
    width: 100%;
    object-fit: cover;
}

.messageIncomingPopup .incomingCallPopup .userHolder i {
    font-size: 20px;
}

.chatCalls_wrap .contactListItem::after {
    display: none;
}

.chatCalls_wrap .contactListItem {
    border: 1px solid #c9deff69;
}

.chatCalls_wrap .contactListItem:hover {
    background: transparent !important;
}

.btn_call {
    background: #4eb5ff2b;
    border: 0;
    border-radius: 5px;
    color: #62a7f8;
    width: 1.75rem;
    height: 1.75rem;
    font-size: .8rem;
    transition: all 0.4s ease-in-out;
}

.btn_call:hover {
    background: #62a7f8;
    color: #fff;
}

.missedCallArrow {
    font-size: 0.875rem !important;
    /* color: #ff0000 !important; */
}

.groupCall_list {}

.mainContentApp .webrtc_newMessageUi .groupCall_list .contactListItem span {
    font-size: 12px !important;
}

.chat-read-icon.readsms {
    color: #26bf94 !important;
}

.chat-read-icon.unreadsms {
    color: #8c9097 !important;
}

.text-gray {
    color: #8c9097;
}

.chooseFile {
    border: 1px dashed #d1d1d1 !important;
    border-radius: 7px;
    width: 100%;
    padding: 10px;
}

.chooseFile::file-selector-button {
    margin-left: 100px;
}

.mainContentApp .tab-content .callDetailsList {
    overflow: auto;
    height: calc(100vh - 304px);
}

.stickyHeader {
    position: sticky;
    top: 0;
    z-index: 1111;
    background: var(--me-body-bg2);
}

.showHideColumn .dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
    background: var(--ele-color);
    /* color: var(--form-label); */
}

.showHideColumn .dropdown-menu .dropdown-item {
    color: var(--form-label);
}

.showHideColumn .dropdown-menu li {
    border-bottom: 1px solid var(--me-border1);
}

.showHideColumn .formItem {
    text-align: start;
}

.filePanelActive {
    height: calc(100vh - 360px);
    overflow: auto;
}

.filePanelActive-video {
    display: flex;
    justify-content: center;
}

.webrtc_newMessageUi .messageOverlay.groupChat .messageList {
    height: calc(100vh - 319px);
}

.activeCallTabMinWidth .nav-link {
    min-width: 65px;
}

.activeCallTabMinWidth .nav-link span {
    margin-left: 0;
}

.addNewContactPopup .MuiPagination-ul {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: unset;
    overflow-y: unset;
    border: unset;
}

.addNewContactPopup .MuiPagination-ul li {
    width: unset;
    padding-bottom: unset;
    font-size: unset;
    background: unset;
    border-radius: unset;
    padding: unset;
    margin-block: unset;
}

.mail_leftbar ul {
    height: calc(100vh - 208px);
    overflow: auto;
}

.permissionImgBox {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.noDataBg {
    text-align: center;
    height: calc(100vh - 81px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.noDataBg p {
    font-size: 0.875rem;
    color: var(--clr-permission-text);
    font-weight: 500;
}

.audio_controls {
    display: flex;
    align-items: center;
    gap: 2px;
    margin-left: auto;
}

.css-1jqq78o-placeholder {
    color: var(--me-text-color) !important;
}

.css-7sib9c-option:active {
    background-color: #303132 !important;
}

.css-7sib9c-option {
    color: var(--me-text-color) !important;
}

.text_muted2 {
    color: var(--me-text-color) !important;
}

.video-list-in-profile-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.highlight-temp {
    border: 2px solid yellow;
    background-color: #ffd;
    transition: background-color 0.3s ease;
}


.displayFile {
    text-align: center;
}

@property --angle {
    syntax: '<angle>';
    initial-value: 90deg;
    inherits: true;
}

@property --gradX {
    syntax: '<percentage>';
    initial-value: 50%;
    inherits: true;
}

@property --gradY {
    syntax: '<percentage>';
    initial-value: 0%;
    inherits: true;
}


.displayFile.borderGradientAnimation {
    position: relative;
}

.displayFile.borderGradientAnimation::before {
    content: '';
    position: absolute;
    inset: 0;
    width: 200px;
    height: 100%;
    border: 0.20rem solid transparent;
    /* Start transparent */
    border-image: conic-gradient(from var(--angle), var(--c2), rgb(0 151 255) 0.1turn, rgb(48 92 253) 0.15turn, var(--c2) 0.25turn) 30;
    animation: borderRotate var(--d) linear forwards;
    border-radius: 5px;
}


@keyframes borderRotate {
    0% {
        --gradX: 50%;
        --gradY: 0%;
        --angle: 90deg;
        opacity: 1;
    }

    20% {
        --gradX: 100%;
        --gradY: 50%;
    }

    40% {
        --gradX: 100%;
        --gradY: 100%;
    }

    60% {
        --gradX: 50%;
        --gradY: 100%;
    }

    80% {
        --gradX: 0%;
        --gradY: 50%;
    }

    100% {
        --gradX: 50%;
        --gradY: 0%;
        --angle: 420deg;
        opacity: 0;
    }
}


.text-spinner-secondary {
    color: #b1bcd2;
    margin: auto;
}

.pinedMessage {
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    background: #e2eaff;
    position: absolute !important;
    top: 0;
    margin: 0;
    left: 0;
    right: 0;
    color: #2c2d31;
    z-index: 111;
    font-size: 12px;
    padding: 5px 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    max-width: 1000px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}

.pinedMessage i {
    transform: rotate(316deg);
    color: #b228fd;
}

.message-text-container .videoSize {
    position: relative;
}

.message-text-container .videoSize:hover .pinBox {
    opacity: 1;
}

.pinBox {
    background: #fff;
    border-radius: 5px;
    padding: 2px 5px;
    box-shadow: rgb(0 53 155 / 30%) 0px 3px 10px;
    position: absolute;
    top: -14px;
    transition: all 0.3s ease-in-out;
    opacity: 0;
}

.messageItem.sender .message-text-container .videoSize .pinBox {
    left: 7px;
}

.messageItem.receiver .message-text-container .videoSize .pinBox {
    right: 7px;
}

.roundPinButton {
    background-color: #c7e4fc;
    color: #2793f4 !important;
    width: 20px;
    height: 20px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    font-size: 10px;
}

.roundPinButton i {
    transform: rotate(316deg);
}