.mainContentApp .nav-tabs {
    border: none;

}

.mainContentApp .nav-link {
    color: #444444;
}

.mainContentApp .tabLink {
    background: transparent;
    border: none;
    padding: 10px 30px;
    color: #9f9f9f;
}

.mainContentApp .tabLink i {
    font-size: 20px;
}

.mainContentApp .tabLink.active {
    color: var(--ui-accent) !important;
    border-bottom: 3px solid var(--ui-accent) !important;
    border: none;
}

.mainContentApp .tabLink .unread {
    border-radius: 50px;
    background-color: var(--ui-accent);
    font-size: 12px;
    color: #fff;
    padding: 4px 8px;
    margin-left: 15px;
}

.mainContentApp .nav-link:hover {
    border: none;
}

.mainContentApp .nav-link:focus {
    border: none;
}

.mainContentApp #headerSearch {
    border: 1px solid #ddd;
    padding: 5px 30px;
    width: 100%;
    color: #000000;
    background: var(--bg-color) url(../../images/search_b.png) no-repeat 7px center / 17px 17px;
}

[type=search] {
    outline-offset: 0px;
}

/* Messaging UI */
.messageOverlay .contactHeader {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.messageOverlay .contactHeader h4 {
    font-size: 18px !important;
    margin-bottom: 0px;
    font-family: Roboto;
}

.messageOverlay .contactHeader .status {
    color: #454545;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    margin-left: 15px;
}

.messageOverlay .contactHeader .status::after {
    content: '';
    background-color: #454545;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    left: -12px;
    top: 6px;
}

.messageOverlay .contactHeader .status.online::after {
    background-color: #00d30b;
}

.messageOverlay .messageContent {
    height: 100%;
    /* overflow-y: auto; */
    display: flex;
    flex-wrap: wrap;
}

.messageOverlay .messageList {
    height: calc(100vh - 290px);
    width: 100%;
    overflow-y: auto;
}

.messageContent .messageInput {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 10px;
    border: 1px solid var(--border-color);
    background-color: #fff;
    padding: 5px;
    width: 100%;
    padding: 5px 15px;
}

.messageContent .messageInput .input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
}

.messageContent .messageInput nav {
    margin-bottom: 10px;
}

.messageContent .messageInput .tabLink {
    padding: 5px 8px;
    margin-right: 5px;
    font-size: 14px;
}

.messageOverlay .messageContent .dateHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    position: relative;
    margin-top: 15px;
}

.messageOverlay .messageContent .dateHeader.sticky {
    position: sticky;
    top: 15px;
}

.messageOverlay .messageContent .dateHeader.sticky::after {
    content: none;
}

.messageOverlay .messageContent .dateHeader::after {
    content: '';
    width: 90%;
    height: 1px;
    background-color: #ebebeb;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.messageOverlay .messageContent .dateHeader p {
    width: max-content;
    border-radius: 50px;
    background-color: #fff;
    border: 1px solid #ebebeb;
    padding: 3px 20px;
    font-size: 14px;
    font-weight: 500;
    color: var(--color-subtext);

    margin-bottom: 0;
    position: relative;
    z-index: 1;
}

.messageList .messageItem {
    display: flex;
    /* justify-content: space-between; */
    padding: 10px;
    /* margin-top: 10px; */
    /* width: max-content; */
}

.messageItem.receiver .messageDetails {
    background-color: #fff;
    border-radius: 0px 10px 10px 10px;
}

.messageItem.sender .messageDetails {
    background-color: #a9dbff3d;
    border-radius: 10px 10px 0px 10px;
    border: 1px solid var(--border-color);
}

.messageItem.sender {
    justify-content: end;
}

.messageItem.sender .first {
    display: none;
}

.messageItem.sender .second .messageDetails {
    float: inline-end;
}

.messageItem.sender .second h6 {
    /* visibility: hidden; */
    text-align: end;
}

.messageItem.sender .second h6 span {
    visibility: visible;
}


.messageList .messageItem .first {
    width: 7%;
}

.messageList .profileHolder {
    width: 35px;
    height: 35px;
    background-color: var(--div-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 14px;

}

.messageList .messageDetails {
    /* min-width: max-content; */
    display: inline-block;
    max-width: 500px;
    min-width: 30px;
    min-height: 30px;
    padding: 8px 12px;
    border: 1px solid var(--border-color);
}

.messageList .messageItem h6 {
    font-size: 12px;
    margin-bottom: 2px;
    font-weight: 700;
    color: var(--color-subtext);
}

.messageList .messageItem h6 span {
    font-size: 11px;
    color: #757575;
    margin-left: 6px;
    font-weight: 400;
}

.messageList .messageDetails p {
    font-size: 14px;
    color: #454545;
    margin-bottom: 0px;
    word-wrap: break-word;
}

.messageList .callListItem .profileHolder {
    width: 40px !important;
    height: 40px !important;
}

.callList.messageList .callListItem h4 {
    font-size: 14px !important;
}

.callList.messageList .callListItem h5 {
    font-size: 12px !important;
}

.mainContentApp .callList.messageList {
    height: calc(100vh - 175px);
}

.messageList .callListItem .textWrapper {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-grow: 1;
}


/* Message List Active Selector */

.callListItem.filterItem.active {
    background-color: #4545452e;
}

.callListItem.filterItem.new::after {
    content: '';
    background-color: #ff7300;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    top: 75%;
    right: 15px;
    transform: translate(50%);
}

.chatHeading {
    background: #f5f5f5;
    padding: 10px 10px;
    border: 1px solid #ddd;
    /* border-radius: 10px 10px 0 0; */
    position: relative;
}

.chatHeading h5 {
    margin-bottom: 0;
    font-size: 14px !important;
    text-transform: uppercase;
    letter-spacing: 0.5px;

    font-weight: 600;
}

.chatHeading i {
    float: inline-end;
}

.chatHeading h5:not(.collapsed) i {
    transform: rotate(180deg);
}

.chatHeading h5 span {
    background-color: var(--ui-accent);
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 35px;
    transform: translate(0, -50%);

    font-size: 12px;
}

.callList .collapse {
    background-color: #f5f5f5;
    /* padding-top: 5px; */
    /* border-radius: 0 0 10px 10px; */
    /* padding: 5px; */
}

.callList .collapse .contactListItem:last-child {
    border-bottom: none;
}

.videoCallWrapper {
    background-color: var(--caller-color);
}

.videoCallWrapper .messageOverlay {
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
}

.videoCallWrapper .messageOverlay .messageContent {
    padding: 10px;
}

.videoCallWrapper .messageOverlay .contactHeader {
    padding: 10px 20px;
}

.videoCallWrapper .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
}

.videoCallWrapper .heading h4 {
    margin-bottom: 0;
    color: #fff;
    font-weight: 400;
}

.videoCallWrapper .heading h4 span {
    border-radius: 50px;
    background-color: #3a3c4a;
    color: #fff;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    margin-left: 15px;
}

.videoCallWrapper .videoBody {
    height: calc(100vh - 196px);
    padding: 10px;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
}

.videoCallWrapper .messageOverlay .messageList {
    height: calc(100vh - 272px);
}

.videoCallWrapper .videoBody .activeGuyName {
    background-color: #00000038;
    padding: 10px 20px;
    color: #fff;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    border-radius: 10px;
    min-height: 45px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.videoCallWrapper .videoBody .participant {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 90px;
    height: 90px;
    border-radius: 15px;
    /* overflow: hidden; */
    border: 2px solid #fff;
}

.videoCallWrapper .videoBody .participant.active {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.videoCallWrapper .videoBody .participant.active>*,
.videoCallWrapper .videoBody .participant>* {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.videoCallWrapper .videoBody .participant[data-mic="true"]::after,
.videoCallWrapper .videoBody .participant[data-mic="false"]::after {
    content: '\f131';
    font-family: 'FontAwesome';
    background-color: #e45758;
    color: #fff;
    width: 25px;
    height: 25px;
    position: absolute;
    top: -4px;
    left: -10px;
    z-index: 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
}

.videoCallWrapper .videoBody .participant[data-pin="true"]::after {
    content: '\f08d';
    font-family: 'FontAwesome';
    background-color: #01c78e;
    color: #fff;
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: -4px;
    left: -10px;
    z-index: 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
}


.videoCallWrapper .videoBody .participant[data-mic="true"]::after {
    content: '\f130' !important;
}

.videoCallWrapper .videoControls {
    display: flex;
    justify-content: center;
    padding: 15px 0;
}