.mainContentApp .nav-tabs {
    border: none;

}

.mainContentApp .nav-link {
    color: #444444;
}

.mainContentApp .tabLink {
    background: transparent;
    border: none;
    padding: 10px 30px;
    color: #9f9f9f;
}

.mainContentApp .tabLink i {
    font-size: 20px;
}

.mainContentApp .tabLink.active {
    color: var(--ui-accent) !important;
    border-bottom: 3px solid var(--ui-accent) !important;
    border: none;
}

.mainContentApp .tabLink .unread {
    border-radius: 50px;
    background-color: var(--ui-accent);
    font-size: 12px;
    color: #fff;
    padding: 4px 8px;
    margin-left: 15px;
}

.mainContentApp .nav-link:hover {
    border: none;
}

.mainContentApp .nav-link:focus {
    border: none;
}

.mainContentApp #headerSearch {
    border: 1px solid var(--border-color);
    border-radius: 5px;
    min-height: 35px;
    padding: 0px 0 0 35px;
    width: 100%;
    color: var(--form-label);
    font-size: 14px;
    background: var(--searchBg) url(../../images/search_b.png) no-repeat 7px center / 17px 17px;
    outline: none;
    transition: 0.1s ease-in-out;
}

.mainContentApp #headerSearch:focus,
.mainContentApp #headerSearch:hover {
    border-color: var(--ui-accent);
}

[type=search] {
    outline-offset: 0px;
}

/* Messaging UI */
.messageOverlay .contactHeader {
    padding: 10px;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.messageOverlay .contactHeader h4 {
    font-size: 18px !important;
    margin-bottom: 5px;
    font-family: Roboto;
}

.messageOverlay .contactHeader .status {
    color: #454545;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    margin-left: 15px;
}

.messageOverlay .contactHeader .status::after {
    content: '';
    background-color: #454545;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    left: -12px;
    top: 6px;
}

.messageOverlay .contactHeader .status.online::after {
    background-color: #00d30b;
}

.messageOverlay .messageContent {
    height: 100%;
    /* overflow-y: auto; */
    display: flex;
    flex-wrap: wrap;
}

.messageOverlay .messageList {
    height: calc(100vh - 290px);
    width: 100%;
    overflow-y: auto;
}

.messageContent .messageInput {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 10px;
    border: 1px solid var(--border-color);
    background-color: var(--ele-color);
    padding: 5px;
    width: 100%;
    padding: 5px 15px;
}

.messageContent .messageInput .input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    color: inherit;
}

.messageContent .messageInput nav {
    margin-bottom: 10px;
}

.messageContent .messageInput .tabLink {
    padding: 5px 8px;
    margin-right: 5px;
    font-size: 14px;
}

.dateHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    position: relative;
    margin: 15px 0;
}

.dateHeader.sticky {
    position: sticky;
    top: 15px;
    z-index: 9;
}

.dateHeader.sticky::after {
    content: none;
}

.dateHeader::after {
    content: '';
    width: 90%;
    height: 1px;
    background-color: var(--border-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dateHeader p {
    width: 130px;
    border-radius: 50px;
    background-color: var(--ele-color);
    border: 1px solid var(--border-color);
    padding: 3px 20px;
    font-size: 14px;
    font-weight: 500;
    color: var(--color-subtext);
    text-align: center;
    margin-bottom: 0;
    position: relative;
    z-index: 1;
}

.messageList .messageItem {
    display: flex;
    /* justify-content: space-between; */
    padding: 10px;
    /* margin-top: 10px; */
    /* width: max-content; */
}

.messageItem.receiver .messageDetails {
    background-color: #fff;
    border-radius: 0px 10px 10px 10px;
}

.messageItem.sender .messageDetails {
    background-color: #a9dbff3d;
    border-radius: 10px 10px 0px 10px;
    border: 1px solid var(--border-color);
}

.messageItem.sender {
    justify-content: end;
}

.messageItem.sender .first {
    display: none;
}

.messageItem.sender .second .messageDetails {
    float: inline-end;
}

.messageItem.sender .second h6 {
    /* visibility: hidden; */
    text-align: end;
}

.messageItem.sender .second h6 span {
    visibility: visible;
}


.messageList .messageItem .first {
    width: 7%;
}

.messageList .profileHolder {
    width: 35px;
    height: 35px;
    background-color: var(--div-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 14px;

}

.messageList .messageDetails {
    /* min-width: max-content; */
    display: inline-block;
    max-width: 500px;
    min-width: 30px;
    min-height: 30px;
    padding: 8px 12px;
    border: 1px solid var(--border-color);
}

.messageList .messageItem h6 {
    font-size: 12px;
    margin-bottom: 2px;
    font-weight: 700;
    color: var(--color-subtext);
}

.messageList .messageItem h6 span {
    font-size: 11px;
    /* color: var(--webUtilGray); */
    margin-left: 6px;
    font-weight: 400;
}

.messageList .messageDetails p {
    font-size: 14px;
    color: var(--form-label);
    margin-bottom: 0px;
    word-wrap: break-word;
}

.messageList .callListItem .profileHolder {
    width: 40px !important;
    height: 40px !important;
}

.callList.messageList .callListItem h4 {
    font-size: 14px !important;
}

.callList.messageList .callListItem h5 {
    font-size: 12px !important;
}

.mainContentApp .callList.messageList {
    height: calc(100vh - 175px);
}

.messageList .callListItem .textWrapper {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-grow: 1;
}


/* Message List Active Selector */

.callListItem.filterItem.active {
    background-color: #4545452e;
}

.callListItem.filterItem.new::after {
    content: '';
    background-color: #ff7300;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    top: 75%;
    right: 15px;
    transform: translate(50%);
}

.chatHeading {
    background: var(--searchBg);
    padding: 10px 10px;
    border: 1px solid var(--border-color);
    /* border-radius: 10px 10px 0 0; */
    position: relative;
}

.chatHeading h5 {
    margin-bottom: 0;
    font-size: 14px !important;
    text-transform: uppercase;
    letter-spacing: 0.5px;

    font-weight: 600;
}

.chatHeading i {
    float: inline-end;
}

.chatHeading h5:not(.collapsed) i {
    transform: rotate(180deg);
}

.chatHeading h5 span {
    background-color: var(--ui-accent);
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 35px;
    transform: translate(0, -50%);

    font-size: 12px;
}

.callList .collapse {
    background-color: var(--searchBg);
    /* padding-top: 5px; */
    /* border-radius: 0 0 10px 10px; */
    /* padding: 5px; */
}

.callList .collapse .contactListItem:last-child {
    border-bottom: none;
}

.videoCallWrapper {
    background-color: var(--caller-color);
}

.videoCallWrapper .messageOverlay {
    background-color: var(--ele-color);
    border-radius: 15px;
    overflow: hidden;
}

.videoCallWrapper .messageOverlay .messageContent {
    padding: 10px;
}

.videoCallWrapper .messageOverlay .contactHeader {
    padding: 10px 20px;
}

.videoCallWrapper .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
}

.videoCallWrapper .heading h4 {
    margin-bottom: 0;
    color: #fff;
    font-weight: 400;
}

.videoCallWrapper .heading h4 span {
    border-radius: 50px;
    background-color: #3a3c4a;
    color: #fff;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    margin-left: 15px;
}

.videoCallWrapper .videoBody {
    height: calc(100vh - 65px);
    padding: 10px 0;
    position: relative;
    border-radius: 15px;
    overflow: hidden;

    display: flex;
    justify-content: space-between;
}

.videoCallWrapper .messageOverlay .messageList {
    height: calc(100vh - 275px);
}

.videoCallWrapper .videoBody .activeGuyName {
    background-color: #00000038;
    padding: 10px 20px;
    color: #fff;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    border-radius: 10px;
    min-height: 45px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.videoCallWrapper .videoBody .activeGuyName:hover {
    background-color: #ffffff38;
}

.videoCallWrapper .videoBody .conferenceParticipantsWrapper {
    transition: background 0.2s ease-in-out, max-width 1s ease-in-out;
    position: relative;
    max-width: 135px;
}

.videoCallWrapper .videoBody .conferenceParticipantsWrapper.hidden {
    /* transform: translateX(125px); */
    max-width: 10px;
}

.videoCallWrapper .videoBody .conferenceParticipantsWrapper:hover {
    background: rgba(51, 51, 51, 0.5);
}

.conferenceParticipantsWrapper .participantList {
    overflow: hidden auto;
    padding: 10px 20px;
    height: 100%;
}

.conferenceParticipantsWrapper .participantList::-webkit-scrollbar-track {
    display: none;
}

.conferenceParticipantsWrapper .participantList::-webkit-scrollbar-thumb {
    background: #000;
}

.participantMemberList {
    width: 300px;
    padding: 15px;
    background: rgba(20, 20, 20, 1);
    position: relative;
    z-index: 1;
}

.participantMemberList ul {
    margin: 25px 0;
}

.participantMemberList ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ffffff38;
    margin-bottom: 13px;
    padding-bottom: 13px;
}

.participantMemberList ul li span {
    color: #f5f5f5;
    font-size: 14px;
}

.participantMemberList ul li .profileHolder {
    width: 30px;
    height: 30px;
    font-size: 14px;
}

.videoCallWrapper .videoBody .participant {
    position: relative;
    /* top: 20px;
    right: 20px; */
    width: 90px;
    height: 90px;
    border-radius: 15px;
    /* overflow: hidden; */
    border: 2px solid transparent;
    padding: 5px 10px;
    background: #171717;
    margin-bottom: 10px;
    transition: 0.2s ease-in-out;
}

.videoCallWrapper .videoBody .participant[data-speaking="true"] {
    border-color: #1eff00;
}

.videoCallWrapper .videoBody .participant .videoElement {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.videoCallWrapper .videoBody .participant:hover {
    border-color: transparent;
}

.videoCallWrapper .videoBody .participant.active {
    /* position: absolute;
    top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    margin-bottom: 0;
}

.videoCallWrapper .videoBody .participant.active .participantWrapper,
.videoCallWrapper .videoBody .participant .participantWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.videoCallWrapper .videoBody .participant[data-mic="true"]::after,
.videoCallWrapper .videoBody .participant[data-mic="false"]::after {
    content: '\f131';
    font-family: 'FontAwesome';
    background-color: #e45758;
    color: #fff;
    width: 25px;
    height: 25px;
    position: absolute;
    top: -4px;
    left: -10px;
    z-index: 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
}

.videoCallWrapper .videoBody .participant[data-speaker="true"]::before {
    content: '\f6a8';
    font-family: 'FontAwesome';
    background-color: #01c78e;
    color: #fff;
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: -4px;
    left: -10px;
    z-index: 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
}

.videoCallWrapper .videoBody .participant[data-speaker="false"]::before {
    content: '\f2e2';
    font-family: 'FontAwesome';
    background-color: #01c78e;
    color: #fff;
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: -4px;
    left: -10px;
    z-index: 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
}


.videoCallWrapper .videoBody .participant[data-mic="true"]::after {
    content: '\f130' !important;
}

.videoCallWrapper .videoBody .participant .participantName {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0;
    text-align: center;
    color: #fff;
}

.videoCallWrapper .videoControls {
    display: flex;
    justify-content: center;
    padding: 10px 0 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.contactHeader .dropdown-menu {
    padding: 5px 0;
    background-color: var(--ele-color);

}

.contactHeader .dropdown-menu .dropdown-item {
    font-size: 13px;
    color: var(--color-subtext);
    padding: 5px 10px;
    font-weight: 400;
    font-family: Outfit;
}

.contactHeader .dropdown-menu .dropdown-item:active {
    background-color: #dfdfdf;
}

.contactHeader .dropdown-menu li {
    margin-bottom: 0;
    padding-bottom: 0;
}

.videoCallWrapper .videoBody .videoHolder {
    position: relative;
    height: calc(100% - 95px);
    border-radius: 15px;
    overflow: hidden;
}


.videoCallWrapper .videoBody .participant .videoConferenceButton {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.NotificationBell {
    position: absolute;
    bottom: -100px;
    left: 10px;
    border-radius: 50px;
    z-index: 999;

    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--ui-accent);

    opacity: 0;
    filter: blur(5px);
    animation: slideFadeIn 0.3s ease-in-out forwards;

}

.NotificationBell i {
    border-radius: 50%;
    background-color: var(--ui-accent);
    border: 2px solid #fff;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 16px;
}

.NotificationBell .content {
    color: #fff;
    padding: 0;
    max-width: 0;
    height: 0;
    overflow: hidden;
    animation: expandContent 0.5s ease-in-out 0.5s forwards;
    text-wrap: nowrap;
    font-size: 14px;
    text-overflow: ellipsis;
}

@keyframes slideFadeIn {
    0% {
        bottom: -100px;
        /* Off-screen */
        opacity: 0;
        filter: blur(5px);
    }

    100% {
        bottom: 10px;
        /* In view */
        opacity: 1;
        filter: blur(0px);
    }
}

@keyframes expandContent {
    0% {
        padding: 0;
        height: 0;
        max-width: 0;
    }

    100% {
        padding: 0 15px 0 10px;
        height: auto;
        max-width: 170px;
    }
}