.profileView {
    padding: 10px;
}

.profileView .profileDetailsHolder {
    /* border: 1px solid #ddd; */
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.profileView .baseDetails {
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
}

.profileView .baseDetails .profilePicHolder {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    overflow: hidden;
}

.profileView .baseDetails .profilePicHolder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* .profileView .baseDetails .content {
    margin: auto 0 auto 18px;
} */

.profileView .baseDetails .content h5 {
    font-size: 19px !important;
    margin-bottom: 5px;
}

.profileView .baseDetails .content p {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 500;
    color: var(--color-subtext);
}

.profileView .baseDetails .content p a {
    text-decoration: none;
    color: inherit;
}

.profileView .baseDetails .content p span {
    width: 18px;
    display: inline-block;
    color: var(--ui-accent);
}

.profileView .baseDetails .summaryDetails {
    margin-top: 15px;
}

.profileView .baseDetails .summaryDetails .content p {
    font-weight: 400;
}

.profileView .profileDetailsHolder .qLinkContent {
    padding: 5px;
}

.profileDetailsHolder .qLinkContent ul {
    padding-left: 0;
    list-style: none;
}

.qLinkContent ul li a {
    text-decoration: none;
    color: var(--color-subtext);
    font-size: 15px;
    font-weight: 400;
}

.qLinkContent h5 {
    padding-bottom: 10px;
}

.qLinkContent p {
    margin: 5px 0;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Open Sans';
}

.profileView .profileDetailsHolder .header {
    border-left: 4px solid var(--ui-accent);
    margin-left: -10px;
    padding: 5px 10px;
    font-weight: 500;
}

/* Progress Bar Start */

.baseDetails .accountProgress {
    width: 500px;
    height: 5px;
    background-color: #ababab;
    margin: 20px auto 50px auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    border-radius: 50px;
}

.baseDetails .accountProgress .progressbar {
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    background-color: green;
    border-radius: 50px;
}

.progress {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.progressStepWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: -20px;
}

.progressStepWrapper .stepWrapper.success .step {
    background-color: green !important;
}

.progressStepWrapper .stepWrapper.success label {
    color: #000 !important;
}

.progressStepWrapper .stepWrapper {
    text-align: center;
}

.progressStepWrapper .step {
    width: 55px;
    height: 55px;
    background-color: #ababab;
    border-radius: 50%;
    /* margin-top: -18px; */
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.progressStepWrapper .step i {
    color: #fff;
    font-size: 18px;
}

.progressStepWrapper label {
    /* position: absolute; */
    bottom: -30px;
    margin-top: 10px;
    font-family: 'Open Sans';
    font-weight: 500;
    color: #7c7c7c;
    text-wrap: nowrap;
}

/* Progress Bar End */