.profileView {
    padding: 10px;
}

.profileView .profileDetailsHolder {
    /* border: 1px solid #c9c9c970; */
    padding: 10px;
    border-radius: 10px;
    background-color: var(--ele-color);
    /* box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 5px; */
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);

}

.profileView .baseDetails {
    display: flex;
    padding: 15px;
    flex-wrap: wrap;
}

.profilenames {

    display: flex;
    align-items: center;
    justify-content: center;
    /* position: absolute;
    bottom: 3px;
    left: 127px; */
}

.profileicons span i {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--ui-accent);
    background-color: #e7f2ff;
    height: 20px;
    width: 20px;
    font-size: 10px;
    border-radius: 50px
}

.profileView .baseDetails .profilePicHolder {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    overflow: hidden;
    position: relative;
    /* bottom: 49px; */
    border: 9px solid #e3e3e3;
}

.profileView .baseDetails .profilePicHolder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* .profileView .baseDetails .content {
    margin: auto 0 auto 18px;
} */

.profileView .baseDetails .content h5 {
    font-size: 17px !important;
    margin-bottom: 5px;
}

.profileView .baseDetails .content p {
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 400;
    color: var(--color-subtext);
}

.profileView .baseDetails .content p a {
    text-decoration: none;
    color: inherit;
}

.profileView .baseDetails .content p span {
    /* display: flex;
    align-items: center;
    justify-content: center;
    color: var(--ui-accent);
    background-color:#e7f2ff ;
    height: 30px;
    width: 30px;
    border-radius: 50px; */
}


.imgwidth img {
    width: 25px;
}

.profileView .baseDetails .summaryDetails {
    margin-top: 15px;
}

.profileView .baseDetails .summaryDetails .content p {
    font-weight: 400;
}

.profileView .profileDetailsHolder .qLinkContent {
    padding: 15px;
}

.profileDetailsHolder .qLinkContent ul {
    padding-left: 0;
    list-style: none;
}

.qLinkContent ul li a {
    text-decoration: none;
    color: #449fff;
    font-size: 12px;
    font-weight: 400;
}

.arrowicon i {
    color: var(--color-subtext);
}

.qLinkContent h5 {
    padding-bottom: 10px;
}

.qLinkContent p {
    margin: 5px 0;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Open Sans';
}

.profileView .profileDetailsHolder .header {
    /* border-right: 4px solid var(--ui-accent); */
    /* margin-left: -10px; */
    /* padding: 5px 10px; */
    font-weight: 600;


}

.profileView .profileDetailsHolder .header-left {
    border-left: 4px solid var(--ui-accent);
    font-weight: 500;
}

/* .profileView .permissionListWrapper .header {
    padding: 5px 13px;
} */

/* Progress Bar Start */

.baseDetails .accountProgress {
    width: 500px;
    height: 5px;
    background-color: #ababab;
    margin: 20px auto 50px auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    border-radius: 50px;
}

.baseDetails .accountProgress .progressbar {
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    background-color: green;
    border-radius: 50px;
}

.progress {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.progressStepWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: -20px;
}

.progressStepWrapper .stepWrapper.success .step {
    background-color: #198754 !important;
}

.progressStepWrapper .stepWrapper.pending .step {
    background-color: #ffae00 !important;
}

.progressStepWrapper .stepWrapper.success .status {
    background-color: #198754 !important;
}

.progressStepWrapper .stepWrapper.pending .status {
    background-color: #ffae00 !important;
}

.progressStepWrapper .stepWrapper.success label {
    color: #000 !important;
}

.progressStepWrapper .stepWrapper {
    text-align: center;
    position: relative;
}

.progressStepWrapper .step {
    width: 55px;
    height: 55px;
    background-color: #ababab;
    border-radius: 50%;
    /* margin-top: -18px; */
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}

.progressStepWrapper .step i {
    color: #fff;
    font-size: 18px;
}

.progressStepWrapper label {
    /* position: absolute; */
    bottom: -30px;
    margin-top: 10px;
    font-family: 'Open Sans';
    font-weight: 500;
    color: #7c7c7c;
    text-wrap: nowrap;
}

.progressStepWrapper .status {
    position: absolute;
    top: -25px;
    left: 10px;
    transform: translate(-50%);
    color: #fff;
    padding: 0px 5px;
    border-radius: 0 10px;
    width: 125px;
}

.progressStepWrapper .status::after {
    content: '';
    position: absolute;
    bottom: -15px;
    right: 0;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid rgb(80, 80, 80);
}

.progressStepWrapper .stepWrapper.success .status::after {
    border-top-color: #12603c;
}

.progressStepWrapper .stepWrapper.pending .status::after {
    border-top-color: #cb8a00;
}

/* Progress Bar End */

/* ribbon */

/* HTML: <div class="ribbon">Your text content</div> */
/* .ribbon {
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

.ribbon {
    --r: 0.8em;
    border-block: .5em solid #0000;
    padding-inline: calc(var(--r) + 0.25em) 3.5em;
    line-height: 1.8;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 calc(100% - .25em), var(--r) 50%, 0 .25em);
    background: radial-gradient(.2em 50% at right, #000a, #0000) border-box, #3e8ef7 padding-box;
    width: -moz-fit-content;
    width: 100%
} */

/* .ribbon-left {
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

.ribbon-left {
    --r: .8em;


    border-block: .5em solid #0000;
    padding-inline: .5em calc(var(--r) + .25em);
    line-height: 1.8;
    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%, 100% calc(100% - .25em), calc(100% - var(--r)) 50%, 100% .25em);
    background:
        radial-gradient(.2em 50% at left, #000a, #0000) border-box,
        #3e8ef7 padding-box;
   
    width: 100%;
} */

/* 
.badge-promo {
    position: relative;
    overflow: hidden;
    max-height: 60px;
    margin-bottom: -8px;
    z-index: 1;
    padding: 12px 14px;
    border-radius: 2px 2px 0 0;
    color: #fff;
    text-align: left;
  
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
    }
  
   
  
    &:after {
        background: #1da2ff;
        height: 100%;
        width: 110%;
      
    }
  }
  
  .badge-promo-content {
    position: relative;
    z-index: 1;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 600;
  } */


.float-end {
    text-align: end;
}

.no-wrap-text {
    text-wrap: nowrap;
}