/* -------- SideNav MainMenu Styles ------- */
#sidenNavApp {
    width: var(--sideNavApp-width);
    height: 100vh;
    position: fixed;
    left: 0;
    overflow-y: auto;
    z-index: 2;
    background: var(--nav-color);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* #sidenNavApp .sidenavItems .active{
    background-color: var(--ui-accent);
} */
#sidenNavApp .sidenavItems ul {
    list-style: none;
    padding: 5px 0px;
    line-height: 20px;
}

#sidenNavApp .sidenavItems ul li {
    /* padding: 7px 8px 7px 0px; */
    /* margin: 2px 0; */
    padding: 0px 7px;
}

#sidenNavApp .sidenavItems ul li i {
    font-size: 17px;
}

#sidenNavApp .sidenavItems .iconHolder {
    width: 35px;
}

#sidenNavApp .sidenavItems ul li .navItem {
    color: var(--ui-accent);
    text-decoration: none;
    text-align: center;
    border: none;
    background: none;
    width: 100%;
    display: flex;
    padding: 7px 8px 7px 0;

    border-radius: 5px;
}

#sidenNavApp .sidenavItems ul li .navItem.active {
    /* background: #ffffff29; */
    background: var(--ui-accent);
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.20) 0px 1px 5px;
}

#sidenNavApp .sidenavItems .itemTitle {
    font-size: 14px;
    font-weight: 300;
    color: #fff !important;
    margin-top: auto;
    margin-bottom: auto;
}

#sidenNavApp .sidenavItems .profileHolder {
    width: 35px;
    height: 35px;
    margin: auto 10px auto 10px;
    text-align: center;
    cursor: pointer;
    background-color: #0080ff;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    /* overflow: hidden; */
    position: relative;
}

#profileOnlineNav::after {
    content: '';
    background-color: transparent;
    border: 2px solid #01c78e;
    border-radius: 50px;
    width: 115%;
    height: 115%;
    position: absolute;
}

#profileOnlineNav::before {
    content: '';
    background-color: #01c78e;
    border-radius: 50%;
    width: 30%;
    height: 30%;
    position: absolute;
    bottom: -1px;
    right: -1px;
}

#profileOfflineNav::after {
    content: '';
    background-color: transparent;
    /* border: 2px solid #ff1e1e; */
    border-radius: 50px;
    width: 115%;
    height: 115%;
    position: absolute;
}

#profileOfflineNav::before {
    content: '';
    /* background-color: #ff1e1e; */
    border-radius: 50%;
    width: 30%;
    height: 30%;
    position: absolute;
    bottom: -1px;
    right: -1px;
    /* border: 1px solid #f5f5f5; */
}

#sidenNavApp .sidenavItems .userTitle {
    font-size: 14px;
    font-weight: 400;
    /* color: var(--ui-accent) !important; */
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
}

#sidenNavApp .sidenavItems .userTitle h5 {
    margin-bottom: 0;
    color: #fff;
}

#sidenNavApp .sidenavItems .userTitle p {
    margin-bottom: 0;
    color: #838383;
    font-size: 12px;
}

/* -------- SideNav MainMenu Styles ------- */