#subPageHeader {
    position: sticky;
    /* top: 64px; */
    top: 0;
    /* background-color: var(--div-color); */
    background-color: #fff;
    z-index: 1;
    padding: 10px 10px !important;
    /* border-radius: 7px;
    color: #fff; */
    margin: 0px 0px 10px 0px;
    box-shadow: rgba(0, 0, 0, 0.10) 0px 5px 8px;
    border-bottom: 1px solid #8f8f8f47;

    display: flex;
    justify-content: center;
}

#subPageHeader p {
    font-size: 12px;
}