#subPageHeader {
    position: sticky;
    /* top: 64px; */
    top: 0;
    /* background-color: var(--div-color); */
    background-color: #fff;
    z-index: 10;
    padding: 10px 10px !important;
    margin: 0px 8px 10px 8px;
    /* border-radius: 7px;
    color: #fff; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 5px;
    border-bottom: 1px solid #8f8f8f47;
}

#subPageHeader p {
    font-size: 12px;
}