#subPageHeader {
    position: fixed;
    bottom: 0;
    width: -webkit-fill-available;
    /* background-color: var(--div-color); */
    background-color: #e7e7e7;
    z-index: 1;
    padding: 5px 15px !important;
    /* border-radius: 7px;
    color: #fff; */
    /* margin: 0px 0px 10px 0px; */
    /* box-shadow: rgba(0, 0, 0, 0.10) 0px 5px 8px; */
    border-top: 1px solid #42424247;

    display: flex;
    justify-content: center;
}

#subPageHeader p {
    font-size: 0.75rem;
    color: #4e4e4e;
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
}

/* #subPageHeader .formLabel {
    color: #fff;
}

#subPageHeader .slider {
    background-color: #ffffff80;
}

#subPageHeader .slider:before {
    background-color: #cbcbcb;
}

#subPageHeader input:checked+.slider {
    background-color: #a5d02aab;
}

#subPageHeader input:checked+.slider:before {
    background-color: var(--ui-accent-green);
} */