.profileView .profileDetailsHolder .contentFinal {
    text-align: center;
    padding: 10px 0;
}

.profileView .profileDetailsHolder .contentFinal h2 {
    font-family: Outfit;
    margin-bottom: 20px;

}

.profileView .profileDetailsHolder .contentFinal p {
    font-family: Roboto;
    font-size: 18px;
    color: #454545;
}

.profileView .profileDetailsHolder .contentFinal span {
    color: var(--ui-accent);
    font-weight: 700;
}

.profileView .profileDetailsHolder .configProgressWrapper {
    /* margin-top: 30px; */
    padding-bottom: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 1000px;
    margin: 0 auto;
}

.profileView .profileDetailsHolder .configProgressWrapper ul {
    list-style: none;
    padding: 0;
    /* margin: 0 auto; */
    width: 350px;
}

.profileView .profileDetailsHolder .configProgressWrapper ul li {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.profileView .profileDetailsHolder .configProgressWrapper p {
    margin-bottom: 0;
    font-family: Outfit;
    font-size: 20px;
}

.profileView .profileDetailsHolder .configProgressText {
    margin-left: 20px;
}

.profileView .profileDetailsHolder .configProgress {
    position: relative;
    height: 35px;
    width: 35px;
}

.profileView .profileDetailsHolder .configProgress::after {
    content: '';
    width: 35px;
    height: 35px;
    border: 4px solid transparent;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

.profileView .profileDetailsHolder .configProgress.pending::after {
    border-color: #7c7c7c9c;
}

.profileView .profileDetailsHolder .configProgress.success::after {
    background-color: #4caf50;
    border-color: #4caf50;
}

.profileView .profileDetailsHolder .configProgress i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 1;
}

.profileView .profileDetailsHolder .configProgressWrapper ul.didSearchList {
    position: relative;
}

.profileView .profileDetailsHolder .configProgressWrapper ul.didSearchList li {}

.profileView .profileDetailsHolder .configProgressWrapper ul.didSearchList::after {
    content: '';
    position: absolute;
    top: 15px;
    left: -50px;
    border-left: 1px solid #ddd;
    width: 100%;
    height: 100%;
}

.profileView .profileDetailsHolder .configProgressText.did {
    display: flex;
    margin-left: 0;
}

.profileView .profileDetailsHolder .configProgressText.did span {
    font-size: 24px;
    font-weight: 500;
    margin-left: 10px;
}

.profileView .profileDetailsHolder .configProgressText.did button {
    width: 35px;
    height: 35px;
    background-color: #4caf50;
    border: none;
    border-radius: 5px;
    color: #fff;
    margin-left: 10px;
    cursor: pointer;
}

.profileView .profileDetailsHolder .configProgressText.did button.shuffle {
    background-color: #818CF8;
}